[2021-02-02 07:49] afontcu commented on #342
No worries, just transferred the issue to the right repo :)

[2021-02-02 15:51] sceee commented on #245
I am seeing the same issue with npm (I am in a vue2 project):
[code]
So I guess @vue/compiler-dom should be added as dependency.

Installing it using `npm i -D @vue/compiler-dom` seems to solve the issue but I can unfortunately not be 100% sure as I now did run in the next issue (unrelated to this).

@lmiller1990 if you think it's correct to add this, I can submit a PR for this.

[2021-02-02 16:47] sceee opened #343 "Warnings and error "There was no ChunkGraph assigned to the Module for backward-compat" when using with default test in vue 2 project with webpack 5"
I'm using the following versions
* @vue/cli 5.0.0-alpha.3
* @vue/test-utils 2.0.0-rc.0
* vue 2.6.12
* webpack 5.19.0

and I tried to execute the default example unit test:

[code]

Unfortunately, it gives me the following warnings and error when executing `vue-cli-service test:unit`:
[code]

I am not really sure whether this really fits here, though. Sorry if it does not.
When using `webpack@4`, i

[2021-02-02 16:51] cexbrayat commented on #343
Hi there!

Vue Test Utils v2 is to be used with Vue 3, and does not work with Vue 2.
Please use VTU v1 if you work with Vue 2 ;)

[2021-02-02 16:51] #343 closed

[2021-02-03 03:20] lmiller1990 commented on #342
Hmmm interesting one. I don't have a solution off the top of my head, I guess we just write some code (regexp?) to remove the comments when using `text`?

That should be quite easy. Would you like to make a PR?

If someone has a better solution, by all means share!

[2021-02-03 04:14] twoBoots commented on #342
I'm not sure if a regexp would solve this as comment content is not returned by `.text()` (using `textContent` under the hood) in any other scenario.

 e.g.

`RootIfWithComment.vue`
[code]

Mounting this component, `wrapper.text()`returns an empty string in this case.

The issue only occurs on components with single root nodes using `v-if`. Here `wrapper.text()` returns `"v-if"` and not the full c

[2021-02-03 08:30] cexbrayat commented on #342
I understand this is surprising, but this works as expected right?

If you have a comment node, `textContent` returns the comment. So if your root element is a v-if with a false condition, than the generated DOM only contains a comment, hence `v-if` returned for `wrapper.text()`. If you add a wrapper element than your test is probably OK. Or switch your assertion to check if the element is in the

[2021-02-03 10:01] cexbrayat commented on #342
I opened #351 if we want to go ahead and return an empty string for comments

[2021-02-04 07:02] aethr opened #352 "wrapper.emitted includes sub-component events with the same name"
## Description
When testing component events, we often trigger an event on an inner sub-component to mimic user input, and observe a final event get emitted from the component under test, sometimes with a different / transformed value. However the current version of `vue-test-utils-next` makes this difficult by returning all emitted events with the same name, even if they were not emitted directly

[2021-02-04 07:08] afontcu commented on #352
Hi! This definitely looks like something that should not happen. Is it possibly due to https://github.com/vuejs/vue-test-utils-next/pull/296?

[2021-02-04 09:36] aethr commented on #352
Looks like it. The devTools `emit` method is getting called on every emit, so all events occurring within the wrapper are being recorded.

A simple fix would be to add a key to each vm to record events for each vm separately, not sure if polluting the vm instance is considered bad form. Alternately, events could be recorded against the component uid.

I can take a look at getting a PR up tomorrow

[2021-02-05 01:29] aethr commented on #352
Had a crack at a PR, updated the tests to detect the issue but I haven't tested this fork against my actual project codebase.

[2021-02-05 13:00] nandi95 commented on #183
I'm currently working on a modal which is similar to @JeremyWuuuuu's example. Issue is I'm trying to assert that my modal renders the slot however, `wrapper.html()` only returns `` therefore I can't work with any of the wrapper methods that makes this library great eg.: `find()`. Both the `wrapper.element` and `wrapper.vm.$el` are returning a `Comment {}` node. I can see that the element has been

[2021-02-06 04:33] lmiller1990 commented on #183
Can you post a minimal reproduction and the test you would like to write? I thought about it and we probably *should* have something for teleport.

[2021-02-06 04:39] #342 closed

[2021-02-06 04:53] lmiller1990 commented on #321
Ongoing discussion: https://github.com/vuejs/vue-test-utils-next/discussions/279

I proposed we implement one of the proposals. I can do it when I have a chance, but if you (or someone reading this) wants this badly, feel free to make a proof-of-concept. I think some discussion is still needed on the API.

[2021-02-06 09:20] nandi95 commented on #183
@lmiller1990

I'm not sure how I feel about that, on one hand you're right, on the other hand when you're using the teleport you also somewhat using your component in an "unexpeced" context.

I would avoid the helper methods that are not bound for the same reason I avoid the `DOMWrapper` solution if possible. As I outlined in the repo, that would force you to interact with the `VueWrapper` and see

[2021-02-06 15:29] rrittwag opened #357 "shallowMount fails for script setup components"
**Description**
I converted all my project's components to the new experimental "script setup" syntax. The project runs and builds smoothly. But tests containing shallowMounted components fail with a TypeError:

[code]
**Version**: 2.0.0-rc.0

[2021-02-06 15:31] rrittwag commented on #357
I provided PR #358, that fixes the bug and adds examples in unit tests.

[2021-02-06 23:17] lmiller1990 commented on #183
So we would just need to extend `find` etc to also include `teleportTarget` in the search if the `teleportTarget` mounting option is present? I am not sure I am clear on the proposal:

Regarding your proposal:
[code]

[code]

What is the purpose of `teleportTarget`? To tell VTU where to look for the content? What happens if `teleportTarget` is set to something else (say, another element that does

[2021-02-06 23:59] nandi95 commented on #183
Yes.

I would say, throw an error. That's probably what Vue does too if it can't find the target when it encounters the teleport component.

Good question, is there some hack to get access to the teleport component? If so we could look at the `to` prop and find the target that would be grand (we wouldn't even need a new mounting option). Or otherwise `teleportTarget` can also be an array? In which

[2021-02-07 09:44] GeekQiaQia opened #359 "docs:async-suspense"
[HTTP Requests](./http-requests).
[event handling](../essentials/event-handling)

[2021-02-07 10:10] afontcu commented on #359
I assumed this was fixed in #360 👍

[2021-02-07 10:10] #359 closed

[2021-02-07 14:46] nandi95 commented on #183
@lmiller1990
had a go with the `teleportTarget` mount option see the linked pr.
This is proving to be very messy and can have a lot of edge cases. It's not impossible to do though.
However before going down this road and polish up the PR and and handle same edge cases + add more tests I want to explore the option automating this teleport finding.
How I would do that can be seen here:
https://githu

[2021-02-07 16:56] UrsMetz opened #362 "Props of component stubs are not reactive"
### Subject of the issue

When stubbing inner components in a test (e.g. using shallow mounting) the `props` of the stubs are not reactive (where as the `props` of a non-stub inner component are).
One example is a simple component with that passes data to an inner component and that data changes e.g. because a button is clicked, cf. example below.

### Steps to reproduce

The following unit test (

[2021-02-08 04:44] lmiller1990 commented on #362
Seems like a bug... I wonder why the stubbed components behave differently. As far as I can tell we pass the props to them in the same manner as a regular component - [that is located here](https://github.com/vuejs/vue-test-utils-next/blob/9f4b0bfcb49b70d4ced56503dcb7b20fcce603bf/src/stubs.ts#L38.

[2021-02-08 04:47] lmiller1990 commented on #357
Afaik `name` is not supported in script setup. It probably should be, maybe we can ask about it in the RFC. Something like `<script setup name="...">`.

Great fix, lgtm!

[2021-02-08 04:47] #357 closed

[2021-02-08 04:48] lmiller1990 commented on #357
Will release on the weekend! Please wait a little. There is some other PRs to review/merge.

[2021-02-08 09:33] AndrewBogdanovTSS commented on #194
Both `as any` and `as MountingOptions<{}>` works for me. Thanks. But it will be great to see proper fix some day. Is it an issue of vue-test-utils?

[2021-02-08 11:32] #352 closed

[2021-02-08 12:58] nandi95 commented on #183
I realised just now:

is already the case because find returns the DOMWrapper.
I just never really saved it to a variable.

Still I feel weird about an external `find` method. It would be clean if didn't had to import load of helper functions. However this is now the case with vue 3 eg.: `import { ref, computed, watch ... } from 'vue'` and it isn't too bad. So maybe a `find` method wouldn't be too

[2021-02-09 08:09] GeekQiaQia opened #367 "docx:update forms.md complexForm example"
complex forms submit  should use toStrictEqual /toEqual instead of toBe function

[2021-02-09 12:09] mHooshdar commented on #321
I'll implement one of the proposals and create a pull request for it.

[2021-02-09 21:13] UrsMetz commented on #362
One thing I forgot to mention in case that was not obvious:
when one moves the line
[code]
after the button click both tests are green. So the stubs only present the state of their props at the moment there are obtained from the wrapper.

[2021-02-09 23:11] lmiller1990 commented on #362
Oh, I see.

I think it's likely best to get a new copy of the stub each time, anyway - this sounds like a practice we should be encouraging.

It would be nice to investigate how we can fix this, I sort of suspect `getComponent` is not returning a reference but a copy of the component at that point?

[2021-02-10 00:24] nandi95 opened #369 "Code suggestions"
I have couple suggestions I would like to propose to improve developer experience when contributing:

 -  [x] I noticed that `VueWrapper` has all the methods of `DOMWrapper`? Why not introduce an interface so it's clear they share functionality or perhaps a base wrapper to share logic eg.: `attributes()` has the same signature and vue wrapper don't have to use the dom wrapper as it has the same el

[2021-02-10 07:31] cexbrayat commented on #369
Hi @nandi95

Sure, I think we all want that and just lacked the time to improve the codebase as we were trying to fix all the issues incoming and being ready for v2 stable release. You can definitely experiment with a shared interface and we'll see. Strict config has been on my personal todolist for a while. Turning it on in one single PR requires many changes, so I was fixing one file at a time a

[2021-02-10 07:46] cexbrayat commented on #362
Yeah it might be something like that.

@UrsMetz would you want to try to fix it and open a PR?

Starting by adding a reproduction just like the one in your issue, and maybe trying to figure out what's going on here. I suspect there is something in https://github.com/vuejs/vue-test-utils-next/blob/master/src/utils/find.ts (maybe the array spreading?) that causes this.

Let us know if you'd like to

[2021-02-10 07:56] nandi95 commented on #369
Yes, I can help.
As for the eslint and strict options. What would be the best way to go about this?
One pull request per option/rule? Or one PR with separate commits per option/rule?

Have you got preferences on eslint rules? Or shall I just turn them on as I see fit, then they can be discussed in the PR?

[2021-02-10 08:04] cexbrayat commented on #369
I think separate PRs are a good way to go, so we can merge them as soon as they're reviewed.

And yes, turn the option as you see fit, or if you want to check first, you can add a list here and we can discuss. Whatever you prefer!

[2021-02-10 08:39] lmiller1990 commented on #321
Sure, thanks. I cannot guarantee said PR will be accepted as-is, some discussion is needed, but this is a good start.

[2021-02-10 08:58] #305 closed

[2021-02-10 09:00] lmiller1990 commented on #369
We had a shared interface at one point but it was removed - I don't remember why exactly but there was some complexity that either couldn't be solved or made the code much more complex. If you can find a way to have a shared interface, I think that's be fine.

Personally I am more focused on actual big fixes but general improvements, as well as the quest for strict mode, are always welcome.

[2021-02-10 09:01] lmiller1990 commented on #367
fixed in #368

[2021-02-10 09:01] #367 closed

[2021-02-10 09:04] lmiller1990 commented on #245
Vue 2 was not a monorepo and does not have a @vue/compiler-dom - have you got the right version of test utils? test-utils v1 is for Vue 2, test-utils v2 is for Vue 3 (confusing, yes - Vue 1 never had any testing utils, so that's why).

Either way if it is as simple as adding the dependency here, please go for it! yarn 2 compat would be great.

[2021-02-10 09:11] lmiller1990 commented on #194
- if you are importing a `vue` file, we cannot do much for type safety.
- if you have a bug where `mount` gives you type warnings for a `defineComponent` imported from a TS file, it's probably a test utils problem. You could open an issue or share your reproduction here.

[2021-02-10 13:00] nandi95 opened #373 "Plugins one time setup"
I'm working on a component library that sets some global config on the `globalProperties`.
At the moment I have set this config in every mount option so it's available in the component.

Is there currently a way to set up this global config 1 time before all tests?
I guess this also applies if I were to use lets say a vue plugin that adds a global directive and doesn't have to be imported in the c

[2021-02-10 13:46] afontcu commented on #373
Hi!

I think this was fixed on https://github.com/vuejs/vue-test-utils-next/pull/365

[2021-02-10 14:16] nandi95 commented on #373
That is exactly what I was looking for. Thanks!
Side question does the config [global](https://github.com/vuejs/vue-test-utils-next/blob/master/src/config.ts#L7) has to be `Required<GlobalMountOptions>` ? can we not keep it partial?
@afontcu

[2021-02-10 14:16] #373 closed

[2021-02-10 14:17] afontcu commented on #373
Yeah, I'd say we could (should?) keep it partial 🤔

[2021-02-10 16:45] HomyeeKing commented on #194
maybe the vite startup page give you some inspiration:
Provide types for    <code>*.vue</code> imports
tsconfig setup:
    <br />1. Install and add
    <code>@vuedx/typescript-plugin-vue</code> to tsconfig plugins
    <br />2. Delete shims-vue.d.ts
    <br />3. Open
    <code>src/main.ts</code> in VSCode
    <br />4. Open VSCode command input
    <br />5. Search and run "Select TypeScript version"

[2021-02-11 15:06] elevatebart opened #378 "Expose the function to resolve ComponentName and live props"
As a developer, I would like to use this function to resolve the name and the props passed to a component, to make my passing tests clearer.

It can be useful in the context of component testing, also in designing new ones.

[2021-02-11 15:06] elevatebart commented on #378
I will try my hand at a PR for this.

[2021-02-11 18:06] sceee commented on #245
Ok, I think I was getting confused with the versioning. My fault, sorry.
I am now on Vue2, @vue/test-utils 1 and webpack 4. So far so good, everything works (except I ideally would like to upgrade to webpack 5) but when doing so, I face quite some issues.

Anyway, as I'm on Vue 2, it definitely does not relate to here.
I think I came across this particular issue when trying to upgrade to webpack 5

[2021-02-12 16:19] nandi95 opened #383 "Enforce commit message format"
Husky has already been set up which can be used in the `pre-commit` hook to lint the commit messages. With that an automated solution should be added to ensure commit consistency.

For example:
https://github.com/conventional-changelog/commitlint

This down the line perhaps can work in conjunction with some automated release process.
https://semantic-release.gitbook.io/semantic-release/
I'm mentio

[2021-02-12 18:36] UrsMetz commented on #362
@cexbrayat  I think I will find some time this weekend to have a look at it :-).
@lmiller1990 I think I have used the fact that with Vue2 / vue-test-utils@1 the props were updated on stubs quite heavily and I guess a lot other also did so making this work in Vue 3 / vue-test-utils@2 would be very useful.

[2021-02-12 22:29] lmiller1990 commented on #362
It would be useful for sure. We should do this. I mean, at least we have a work around for now.

[2021-02-13 16:27] UrsMetz commented on #362
I had a look at it:
My guess is that during a re-render of the component tree always a new stub instance is created. At least that's what it looks like when I debug my tests:
Every time a render cycle is performed line https://github.com/vuejs/vue-test-utils-next/blob/master/src/stubs.ts#L173 of the method `stubComponents` is reached which calls `createStub`. My understanding is that this creates

[2021-02-13 23:41] brandonwoz opened #385 "Vue Warn: Component emitted event customEvent but it is neither declared in the emits option..."
I saw issue [197](https://github.com/vuejs/vue-test-utils-next/issues/197), and the apparent fix. But I am getting this warning message still.

My set up is fairly simple:

1. Parent component is shallow mounted.
2. Child component is found via `wrapper.findComponent`.
3. Child component performs a `childComponent.vm.$emit('customEvent')`

And, the actual child component does have the custom event

[2021-02-14 10:31] afontcu commented on #383
Hi! My two cents:

I'm quite in favor of setting a tool such as semantic-release, but not sure about commitlint because it creates a burden for contributors. Instead, I'd simply set a squash&merge strategy for the repository, and let maintainers choose the right final commit message.

[2021-02-14 23:38] lmiller1990 commented on #383
I agree with @afontcu - many code-bases I've worked on have had strict commit messages formats, I think it introduces more problems (burders everyone) than problems it solves (none, really).

[2021-02-14 23:38] #383 closed

[2021-02-14 23:41] lmiller1990 commented on #385
What is `ChildComponent`? Can you share?

As long as it declares the `emits` key, it should be okay. It's possible a functional component is getting wrapped [here](https://github.com/vuejs/vue-test-utils-next/blob/9d3c2a6526f3d8751d29b2f9112ad2a3332bbf52/src/mount.ts#L234) and causing the problem.

Please provide a reproduction - it's impossible to help or even know if there is a problem otherwise

[2021-02-15 00:16] brandonwoz commented on #385
Sorry about that...here is the reproduction.

[code]

[2021-02-15 00:38] lmiller1990 commented on #385
What happens if you do `wrapper.find('button').trigger('click')`?

Also what is `factory`? mount or shallow? What else does it do?

[2021-02-15 02:06] lmiller1990 commented on #362
That solution seems like it might lead to problems leaking cached stubs between tests (maybe) or lead to other unexpected side-effects.

I am not clear on why `stubComponents` is called every render cycle - this does not seem correct.

Can you try adding a reproduction test, then adding your fix, and see if it breaks anything? There might be some benefit in using a `WeakMap` instead of an object t

[2021-02-15 09:30] nandi95 opened #389 "Slot content doesn't match browser behaviour"
In tests if you use `wrapper.vm.$slots.default()` and you have passed multiple html elements in the default slot, there will be only 1 vnode returned in vtu while in the browser, the correct number of vnodes will get returned.
[Reproduction repo](https://github.com/nandi95/vue-test-utils-next/commit/c4309b40654bc48cade5cfb0d835452f8662998c)

[2021-02-15 21:48] #369 closed

[2021-02-16 07:04] danranVm opened #391 "`input.trigger('compositionstart')` not work"
The code works in `rc0`, but fails in `rc1`.

[code]

repo: https://github.com/IduxFE/idux

[2021-02-16 15:06] timlar opened #392 "Error while mounting component in Vue 3 with typescript"
Faced an error while executing shallowMount.

<img width="934" alt="Screenshot 2021-02-16 at 16 31 14" src="https://user-images.githubusercontent.com/131641/108077739-87fe3300-7075-11eb-8ad2-135e3cc04888.png">

The error occurs only if the component contains a `<script>` block. If there is only `<template>` block in the component, then everything works.

[code]

[code]

[code]

[code]

[code]

I t

[2021-02-16 17:06] lmiller1990 commented on #391
Uh oh... regression.

[2021-02-16 17:06] lmiller1990 commented on #392
You will need Vue-jest 5.x - try that.

[2021-02-16 17:09] lmiller1990 commented on #391
Maybe this commit? https://github.com/vuejs/vue-test-utils-next/pull/354

[2021-02-17 03:49] aethr commented on #391
@lmiller1990 interesting, at first I was inclined to agree, in a Vue app in the browser the events emitted by inner components/elements should not escape the component, and we would expect this to fail:

[code]
But this would pass:
[code]

However, in this case since the `<ix-input>` component is the root element and `inheritAttr` isn't `false`, would events emitted by `<ix-input>` be emitted? I'm

[2021-02-17 07:29] lmiller1990 commented on #391
Hm. Looking that `<ix-input />` it is basically like this:

[code]

[code]

Further reduced:

[code]

But the test does `await input.trigger('compositionstart')`. I *don't* think this is valid - `trigger` is supposed to be simulating user inputs, and a user cannot do `compositionStart`. `trigger` only worked with DOM events in Test Utils v1 - so I think your fix is actually valid.

EDIT: wtf `comp

[2021-02-17 08:40] aethr commented on #391
I see the problem now.

I think the issue is the difference between DOM events and Vue component custom events. DOM events bubble up through parent elements in the DOM until propagation is stopped. Vue events occur on the component and no further unless they're manually re-emitted by the parent.

I made a code sandbox to illustrate: https://codesandbox.io/s/amazing-knuth-hm91e?file=/src/App.vue

I

[2021-02-17 08:57] lmiller1990 commented on #391
I think you are correct regarding custom vs native.

Do you think it would be difficult to make this fix? Note we have the [dom-event-types](https://github.com/vuejs/vue-test-utils-next/blob/a5f9a30d2a076048647f13c5895c154f112e573d/package.json#L27) lib that may help with thisl

[2021-02-17 09:41] lmiller1990 commented on #303
This should be okay for now: https://github.com/vuejs/vue-test-utils-next/commit/fdb25812f273d5605092df10f4c9b31a9aaf7150

[2021-02-17 09:41] #303 closed

[2021-02-17 10:41] aethr commented on #391
Well, after a brief investigation it appears the Vue devtools hooks only captures custom events.

[2021-02-17 11:12] aethr commented on #391
I'm going to try adding a native event listener to the element of each `Wrapper` to capture native events. I'll try and have a draft PR up tonight.

[2021-02-17 11:15] lmiller1990 commented on #391
Ohhhh true, why would it capture non custom events? Interesting.

I think we can just do what we did before for *native* events. [See this file](https://github.com/vuejs/vue-test-utils-next/blob/v2.0.0-beta.14/src/emitMixin.ts). We would need to check if it's an native event or not (using dom-event-types).

The reason we moved to using devtools was to be able to capture events from `setup` - since

[2021-02-17 12:21] aethr commented on #391
I made a PR that I think should add native events to `emitted` but it's pretty ugly, feel free to close if you think the mixin approach is more solid. It's late here so I can't take it any further tonight. :)

[2021-02-18 02:08] TheDutchCoder opened #395 "[feature] have `isVisible` return false on things like 0 opacity"
Currently `isVisible` will return true even though an element is not visible due to something like opacity.

I don't know what the options are for this and if it's even feasible, but it would be nice to have support for this (I know Cypress does this, but I'm not sure VTU has the same tools to work with).

[2021-02-18 09:07] afontcu commented on #395
Hi! AFAICT `isVisible` actually checks for opacity: https://github.com/vuejs/vue-test-utils-next/blob/9d3c2a6526f3d8751d29b2f9112ad2a3332bbf52/src/utils/isElementVisible.ts#L18

maybe we're missing some use case?

[2021-02-18 10:26] lmiller1990 commented on #395
Probably that only works if you do `element.style.opacity = 0`. I am guessing @TheDutchCoder may be applying opacity with a class as opposed to style? Cypress will figure this out, I don't believe jsdom will because as a headless browser it doesn't bother applying css at all.

[2021-02-18 11:34] lmiller1990 commented on #391
I found a fix - but @danranVm I think you will need to change your assertion to `toHaveProperty('compositionstart')` when we fix this - native events will bubble, but non native ones won't - the native event is `compositionstart`, not `compositionStart`.

I will ping you again when this is fixed and released. Probably rc.2 will be this weekend. Thanks!

[2021-02-19 02:07] danranVm commented on #391
@lmiller1990 Okay, I will try again in rc.2. Thanks!

[2021-02-19 06:01] #391 closed

[2021-02-19 07:54] em2046 commented on #227
It works for me

---

jest.config.js
[code]
tests/setup.ts
[code]

---

https://next.vue-test-utils.vuejs.org/guide/advanced/transitions.html
Doc may need update

[2021-02-19 13:44] brandonwoz commented on #385
Factory simply` shallowMounts` the component.

[code]

[2021-02-20 06:02] linkscope opened #402 "How to assign value in compositionAPI correctly?"
I didn't find any good way to assign value in compositionAPI, now I konw that this is a async task

### pass
[code]
### fail
[code]

does it have anthor more elegant solution?
I'm really not sure waht the significance is setData and initial data in Vue3

[2021-02-20 07:09] cexbrayat commented on #402
You can check out the documentation about async behavior [here](https://next.vue-test-utils.vuejs.org/guide/advanced/async-suspense.html#a-simple-example-updating-with-trigger)

You'll need to call `await nextTick()` after setting `undoList`.
Let us know if that fixes it.

[2021-02-20 07:09] #402 closed

[2021-02-20 08:46] linkscope commented on #402
Thanks your answer

[2021-02-21 11:27] UrsMetz commented on #362
@lmiller1990 I think during my debugging `stubComponents` wasn't called for every render cycle but rather the callback that `transformVNodeArgs` gets passed (but I have to double check that again).
With "reproduction test" you mean like the one I included in the issue description? I have added such a test and ran all the tests with my "fix" enabled and the passed.

[2021-02-22 03:14] lmiller1990 commented on #362
Thanks for the reproduction test!

If you want to go ahead and make a PR with your fix and test, we can review it and see if there is any obvious problems. If not, we can just go with it (if a bug does emerge in the future, we can deal with it then ... you don't know what you don't know).

[2021-02-22 13:14] techlab23 opened #407 "injection "store" not found"
Hello,

I'm trying to setup tests for the component using mock vuex store, however i'm running into an issue where i get the following warning and subsequent error in setup function of the component.

Here is the sample component that i used to reproduce this issue

https://github.com/techlab23/task-management-app-ts/blob/tests/tests/App.spec.ts

[code]

Following above  error i get another error

[2021-02-22 16:42] cexbrayat commented on #407
@techlab23 The error `injection "store" not found. ` indicates that in your current test there is not store provided.

You need to provide the store to your component, using https://next.vue-test-utils.vuejs.org/api/#global
Something like:
[code]

[2021-02-22 16:42] #407 closed

[2021-02-23 17:18] nandi95 opened #415 "Add event union type to trigger method"
This will give us nice, typehints of the possible values.

The dom-event-type already includes the keys that can be triggered.
would `as const` and `keyof` work to extract the keys from that package?

Are some of it needs to be filtered out?

[2021-02-23 17:55] tbtalbottjr commented on #183
I want to echo @lmiller1990's concerns about teleportTarget. I am "trying" to convert an app that uses the Element-Plus component library and am working through the test cases. Element-Plus has made a full rewrite based on VueJs 3.0 and has made liberal use of Teleport. The main examples I am running into are with el-dialog and el-dropdown. I have many test cases that test the contents of the thes

[2021-02-23 18:01] nandi95 commented on #183
@tbtalbottjr This issue should probably be closed. Take a look at the linked PR: https://github.com/vuejs/vue-test-utils-next/pull/361 It had a way to dynamically figure out the target and test it as if the teleport didn't even happen, but the conclusion was that we should be using `new DomWrapper(document.querySeletor())`.

[2021-02-23 19:08] tbtalbottjr commented on #183
@nandi95 Thanks for the workaround. It looks like another option is to add a 'ref' to a component that is being teleported and using `outercomponent.findComponent({ ref: ref })`.

[2021-02-24 07:20] lmiller1990 opened #418 "docs: How to test <teleport>"
Lots of good info here: https://github.com/vuejs/vue-test-utils-next/issues/183

We should doc how to test regarding `<teleport>`.

[2021-02-24 07:20] lmiller1990 commented on #183
Let's close this - I opened https://github.com/vuejs/vue-test-utils-next/issues/418 in place of it.

[2021-02-24 07:20] #183 closed

[2021-02-24 15:43] doz13189 opened #419 "test: Add a test case for errorWrapper.ts"
I checked the test coverage by Jest.

<img width="527" alt="errorWrapper" src="https://user-images.githubusercontent.com/30111741/109025627-3d7a5780-7702-11eb-8110-9f0b0b05c1b2.PNG">

throw new Error() is not covered by the test so I want to create that test case.
I think it's appropriate to belong to VueWrapper (classes.spec.ts) test case.

[code]

I'm sorry if I made a mistake.
if you agree with

[2021-02-25 06:45] yinqunbo opened #421 "data override in the mount function"
**question**
when I use reactive to define data, the data defined by the option in the mount function cannot overwirte the data in the component, Is there something wrong with the way I use it?

**code**
[code]

[2021-02-25 08:07] yinqunbo commented on #421
Overriding data seems to work only with options API

[2021-02-25 08:10] #309 closed

[2021-02-25 08:25] cexbrayat commented on #421
Hi @yinqunbo

`data` works only if you use `data` in your component.
If you use the composition API, you need to do something like this https://github.com/vuejs/vue-test-utils-next/discussions/346#discussioncomment-333847

[2021-02-25 08:25] #421 closed

[2021-02-25 08:26] cexbrayat commented on #415
That sounds like a nice idea, go ahead with a PR 👍

[2021-02-25 09:13] nandi95 commented on #415
[Linked issue](https://github.com/eddyerburgh/dom-event-types/issues/14)

[2021-02-25 14:56] #419 closed

[2021-02-25 18:59] snoozbuster opened #425 "Cannot stub RouterLink using RouterLinkStub in tests when PascalCase is used for RouterLink in component"
Repro repository: https://github.com/snoozbuster/vtu-router-link-casing-issue

When RouterLink is used in PascalCase in a component template, as in this simple example:

[code]

Then a test which uses `RouterLinkStub` will not pass:

[code]

Output:

[code]

Changing the `<RouterLink>` in `MyLink.vue` to `<router-link>` solves the issue, but is a really sorry workaround.

[2021-02-26 00:02] lmiller1990 commented on #425
Can you try either removing [name](https://github.com/vuejs/vue-test-utils-next/blob/fae6fdcf4000716a28b628c5a73f6c8f56e72eae/src/components/RouterLinkStub.ts#L5) or changing it to `router-link` (omit `stub`)?

There should be a fairly easy fix, sounds like it's not matching the name up correctly.

[2021-02-26 00:05] #278 closed

[2021-02-26 00:06] lmiller1990 commented on #395
@TheDutchCoder any update? How are you applying `opacity`?

[2021-02-26 00:24] TheDutchCoder commented on #395
Sorry, this slipped passed my emails.
Yes I'm applying a class instead of a direct style binding.

I'm assuming JSDOM had some limitations in this regard (for checking the style attribute directly)?

[2021-02-26 04:55] lmiller1990 commented on #395
Yeah, I do not think we can detect any styles applied from `<style>` - jsdom will only handle style attributes explicitly set in JS.

Unless I am missing something, this is a limitation we cannot work around.

[2021-02-26 05:21] snoozbuster opened #426 "Crash in render when trying to shallowMount with <Suspense>"
[code]

Crashes with:

[code]

Issue looks like it stems from here:

https://github.com/vuejs/vue-test-utils-next/blob/9d3c2a6526f3d8751d29b2f9112ad2a3332bbf52/src/stubs.ts#L159

`name` is undefined for a `<Suspense>` component (you do get an [`__isSuspense: true`](https://github.com/vuejs/vue-next/blob/cf7f1dbc9be8d50ad220e3630c38f5a9a217d693/packages/runtime-core/src/components/Suspense.ts#L40),

[2021-02-26 07:40] cexbrayat commented on #426
@snoozbuster Thank you for opening an issue and for your investigation.

I think a nicer way to fix it would be for Suspense to have a name in vue-next. I opened vuejs/vue-next#3312 we'll see if that gets merged, and if that fixes this issue.

If not, your suggestion will probably be the way to go.

[2021-02-26 21:01] snoozbuster commented on #425
@lmiller1990 I'm unable to get the test to pass by doing either of those things. I cloned the repo and added this test file:

[code]

However, the PascalLink test still fails (and removing the `name` makes both tests fail).

Is this perhaps not an issue with the router-link, but with [`resolveComponentStubsByName`](https://github.com/snoozbuster/vue-test-utils-next/blob/b08cb494f7c1de10bbb8b4b77e2

[2021-02-28 11:49] lmiller1990 commented on #426
I love it when bugs in test utils lead to improvements in upstream.

I am guessing your assertion will become `expect(wrapper.html()).toEqual('<foo-stub />');`.

[2021-02-28 21:29] afontcu opened #427 "Using findComponent on a functional component yields an empty-ish VueWrapper"
From #408.

[code]

and then any method that relies on `vm` or similar fails (being that `exists()` or `text()` or…).

This (might) be an expected limitation... no instance, so `findComponent` won't work.

[2021-02-28 23:01] lmiller1990 commented on #391
@danranVm it's out now, please try rc.2 Note you will likely need `compositionstart` not `compositionStart` for your event name.

[2021-03-01 20:31] UrsMetz commented on #362
I hope I will find the time to prepare a PR this week (properly on the weekend) and will come back to you.

[2021-03-02 03:12] danranVm commented on #391
Tks, after modifying according to your suggestion, it can work.

[2021-03-02 18:45] KaelWD opened #435 "Cannot read property 'subTree' of undefined if expose() is used"
[code]

In `VueWrapper.hasMultipleRoots`, `this.vm` is the exposed object instead of the component instance.

https://github.com/vuejs/vue-test-utils-next/blob/c667907bac0db961439ccdca0644b54a5f5ee382/src/mount.ts#L437-L449

Should be something like this but always returning `i.proxy`:

https://github.com/vuejs/vue-next/blob/fbf2d68bbcde75c95363e1fd17946c720d0f3925/packages/runtime-core/src/compon

[2021-03-02 20:29] nekosaur opened #436 "emitted() not catching component events"
Using `vue@3.0.2` and `@vue/test-utils@2.0.0-beta.8`, the following works fine.

[code]

[code]

But using `vue@3.0.7` and `@vue/test-utils@2.0.0-rc.2` results in this

[code]

A cursory investigation seems to point to the fact that this call https://github.com/vuejs/vue-test-utils-next/blob/master/src/emit.ts#L33 gets made _before_ this one https://github.com/vuejs/vue-next/blob/master/packages/r

[2021-03-03 00:32] lmiller1990 commented on #436
Good detective work. Are you interested in taking a stab at fixing this? Both rc-1 and rc-2 had some changes around capturing events, fixing some bugs, but also introducing others.

This seems like a super basic use case, I am really surprised we do not have a test around this.

[2021-03-03 00:34] lmiller1990 commented on #435
Thanks for the bug report and detective work. If you don't get a change to dig into this more, I will try get a fix done sooner rather than later. Have not played with `expose` much (yet).

[2021-03-03 05:16] lmiller1990 commented on #436
This was broken by Vue 3.0.7.

[2021-03-03 05:33] lmiller1990 commented on #436
Seems to fix it: https://github.com/vuejs/vue-test-utils-next/pull/437

@nekosaur if you can quick review and/or try it out in your app to see if it fixes your problem?

[2021-03-03 06:23] #436 closed

[2021-03-03 06:30] lmiller1990 commented on #425
Potential fix: https://github.com/vuejs/vue-test-utils-next/pull/438

Problem is we always hyphenate stubs.

[2021-03-03 06:34] lmiller1990 commented on #415
We can probably inline the entire dom-event-types lib? No real point having a static list of events as a dependency, and then we can improve the types and the such. What do you think?

[2021-03-03 07:48] nandi95 commented on #415
That would work as a quick fix for sure. My preference that it's a dependency that others can pull in too. However that library doesn't seem to be active anymore so I'm not sure.

[2021-03-03 09:11] St-Ex-savadenn opened #439 "TypeError: 'set' on proxy: trap returned falsish for property 'hasOwnProperty'"
[code]

Error is

[code]

Linked to commit https://github.com/vuejs/vue-test-utils-next/commit/d05502268d64c29befa532a82b63a942b5bcbbc6

## Tests

* 2.0.0-rc.1 : OK
* 2.0.0-rc.2 : KO
* 2.0.0-rc.3 : KO

[2021-03-03 09:37] cexbrayat commented on #439
@St-Ex-savadenn Hmm, strange, thank you for opening an issue

Are you using the Vue 3.0.6+? If so, can you share the Button component so I can try to repro?

[2021-03-03 09:42] St-Ex-savadenn commented on #439
I was 3.0.5 using 3.0.6 works well ! Thanks

[2021-03-03 09:42] #439 closed

[2021-03-03 09:46] cexbrayat commented on #439
Happy to hear that! Yeah, the commit you linked is relying on a fix I added in vue-next, that was released only in Vue 3.0.6, explaining your issue.

[2021-03-03 20:49] nekosaur opened #440 "Emitting v-model event leads to unexpectedly updated prop value"
I have a scenario where I want to test that interacting with a component (that results in emitting a v-model event) does _not_ lead to a state change in the internals of a component.

Here is a simplified version of what I'm trying to do

[code]

Currently this fails on the second expect with a received value of `baz`. This to me feels very strange and unintuitive. The component has emitted an eve

[2021-03-03 21:49] TheDutchCoder commented on #281
I can confirm this does indeed not work. `setValue` does not change the value of a dropdown and also won't respond to `trigger('change')`.

I'll see if I can make a minimal repro for this, but for now this is what I can show:
[code]

Test:
[code]

[2021-03-04 00:53] lmiller1990 commented on #415
That lib is actually by one of the original maintainers of Test Utils and has moved on from the front-end world - I don't expect it will see an update or release.

[2021-03-04 00:58] lmiller1990 commented on #440
Good point... there (is?) was a [discussion around this](https://github.com/vuejs/vue-test-utils-next/discussions/279) where people want the *opposite* to happen. I think it probably led to the PR you linked.

Regarding "... With this change, components under test do not behave in the same way as in normal operation ..." is this true? In most situations emitting the update event will automatically

[2021-03-04 10:37] nekosaur commented on #440
If you are using the `v-model` sugar, then yes it will of course update it 'automatically', but that is not what is happening in my scenario, or the test case from the PR. They are both analogous to only using `:value`, which will _not_ automatically update the prop when event is emitted.

I always prefer being explicit, especially when it comes to tests, so I like my suggestion (of course :)). Bu

[2021-03-04 11:16] nekosaur commented on #440
`vModel` could also be a simple string array, that specifies which props should be treated as 2-way bound values.

[code]

Internally test-utils would add `onUpdateOne` listener when rendering the mounted component, that updates prop value.

[2021-03-04 12:07] KaelWD commented on #435
I think this is actually vue's fault, if `expose` is used it doesn't expose the component's proxy at all:
https://github.com/vuejs/vue-next/commit/0e59770b9282992f6a5af4d8fef33dafb948fc8b#diff-56930a63772d2e89f19432918b9d6ed851ede4159b0d32404e0c1d8c159fec99R313-R315

[2021-03-04 17:25] AtishaGarinMchd opened #441 "License is missing"
[code]

[2021-03-04 17:42] LinusBorg commented on #441
https://github.com/vuejs/vue-test-utils-next/blob/9e8d0b2da1c4141ddb0887933e598dd52c046929/package.json#L4

???

[2021-03-05 09:40] AtishaGarinMchd commented on #441
Indeed the field is provided - implemented npm check and its warn message is wrong (similar issue [here](https://github.com/enzymejs/enzyme/issues/1729)).
For reasons my legal department prefers having a proper license file.
Having a license such as v1.0 is preferrable https://github.com/vuejs/vue-test-utils/blob/dev/LICENSE.
I suppose it will populate Github Code page right hand side 'About' fiel

[2021-03-05 10:19] LinusBorg commented on #441
That's a valid point, this is an oversight on our part and we'll add it.

Thanks!

[2021-03-06 10:48] #441 closed

[2021-03-06 10:50] lmiller1990 commented on #395
I looked into this - jsdom limitation.

Keep an eye out, the Cypress team are working on a component testing runner that works with Test Utils (for Vue integration). That might be more up your alley if you like true UI tests (I do).

[2021-03-06 10:50] #395 closed

[2021-03-07 07:31] cuixiaorui opened #444 "emitted Collect content that should not be collected"
[code]
The example of the above

expect return **{foo:[['bar']]}** when call emitted()

but actual return  **{ foo: [ [ 'bar' ] ], click: [ [ [MouseEvent] ] ] }**

This may be related to the version of the vue, because do not have this problem when 3.0.4 version

version：
vue: v3.0.7
vtu: 2.0.0-rc.3

[2021-03-08 08:29] manuelmazzuola opened #465 "Can't mount components in version 2.0.0-rc3"
Bumping @vue/test-utils from `2.0.0-rc.1` to `2.0.0-rc.3` I get that issue
vue version 3.0.5

[code]

[2021-03-08 12:03] #425 closed

[2021-03-08 12:08] lmiller1990 commented on #444
Actually this was added in rc.2. [See this PR](https://github.com/vuejs/vue-test-utils-next/pull/394).

Native events (like `click`) will "bubble" up - this is something some people like to test, so we now record native events, too, not just custom events. An example would be testing a component using the `compositionstart` event (for example, Japanese/Chinese input components). See [this issue](h

[2021-03-09 05:31] chojnicki commented on #263
@lmiller1990 Are You sure this is 100% fixed? I'm missing something?

I was not able to use/mock custom store build with composition api. No matter what I did, my store was undefined, but it works on live. So I just did `console.log('wrapper.vm')`. And my store does not exist in component vm even that my IDE/TS correctly autocomplete it.

So I added just dummy consts data, and they also do not sho

[2021-03-09 05:41] lmiller1990 commented on #263
I think this is an intended part of the `<script setup>` RFC. It's worded quite confusingly, but [see this part](https://github.com/vuejs/rfcs/blob/script-setup-2/active-rfcs/0000-script-setup.md#closed-by-default).

Follow up question: if you do `console.log(wrapper.html())`, does it show the HTML?

[2021-03-09 05:51] chojnicki commented on #263
Yes, it does. Ok so I guess I'm using `expect()` with `<script setup>` wrong?

`expect(wrapper.vm.demo).toHaveBeenCalled()`

It of course works fine without setup.

[2021-03-09 08:44] cuixiaorui commented on #444
Oh, I understand

There is no problem logging native events

But this change breaks the previous behavior

Take the following test

[code]
[code]
Link wanted to get the component's custom click event, not the native click event, but it did, so the test failed

---

Can we do further processing based on component-defined emits

For example, in the example above,

Click is defined in the component's

[2021-03-09 09:03] nandi95 commented on #440
@nekosaur So if I understand right your component is like `<component @update:value="customValueUpdater" :value="value" />`?

I think having a `v-model` is more frequent therefore we should flip the logic and instead of `vModel` we could do `oneWay`?

While this discussion is resolved you could still do the `customValueUpdater` by checking the last emitted event I believe (not ideal).

[2021-03-09 09:09] nandi95 commented on #418
Things that might needs to be mentioned

 - You may find elements by various `document.querySelector` (you might extract this for clean code e.g.: `getModal()?.html()`) or perhaps by refs on the vm (less ideal)
 - You may need to call `wrapper.unmount()` after the tests
 - You may need to have an `afterEach` hook to do `document.body.innerHtml = ''`

[2021-03-09 10:09] nekosaur commented on #440
My specific use case is probably not a very common one, it only served to highlight the actual issue for me.

These two markups have very different behaviors in Vue, right. The first one will only ever pass down a value from outside the component, while the second one will update the outside value with a new one from inside the component.

[code]

[code]

The current test-utils behavior does not m

[2021-03-09 19:55] nandi95 commented on #440
Right, I think you're right. But given vue gives the syntactic sugar of `v-model` perhaps vtu can offer something similar?
I'm thinking a global config `autoMockPropListeners: boolean` or something alonge those lines? This would save us from writing boilerplate code.

Apart from that I agree however, I think `onUpdateValue` should go into its own `listeners: {}` or something as it isn't really a p

[2021-03-10 03:11] yinqunbo opened #450 "Use the Element-Plus unit test to prompt Vue Warn"
When I was developing with Element-Plus, there were a bunch of [vue warn] for every `npm run test`, as shown below
[code]
I get alerts for any `Element-plus` component I'm referring to, and when I call a method, I can't call any of the methods in elment.I think it is because I did not introduce `Element-plus` in the test?But how to introduce it, I don't know. `createLocalvue()` has seen a vue2 for

[2021-03-10 07:20] cexbrayat commented on #450
Hi @yinqunbo
You can find the documentation for VTU 2 here https://next.vue-test-utils.vuejs.org
You're probably looking into how you can register global components: https://next.vue-test-utils.vuejs.org/api/#global

[2021-03-10 07:20] #450 closed

[2021-03-10 07:57] lmiller1990 commented on #263
You are definitely not the first person to try this: https://github.com/vuejs/vue-test-utils-next/issues/435

Slight tangent, it feels like a bit of a code smell if you need to `expose` internals for testing - you cannot make an assertion based on the DOM state?

[2021-03-10 08:31] lmiller1990 commented on #444
Ahhhh @aethr we forgot the use case for a component custom event that is the same as a native event 🤦

Good point @cuixiaorui... I am unsure how common (or if it is a good idea) to use a native event name as a custom event name, but this is definitely confusing. We could try your idea of pre-processing `emits`... but what about the use case where a component has a `<button @click>` *and* it does `

[2021-03-10 16:20] yakobe opened #452 "[question] How can we access slot props of scoped slots"
In VTU 1 it was possible to access the variables passed into slots using the `scopedSlots` mounting option (https://vue-test-utils.vuejs.org/api/options.html#scopedslots)

In VTU 2 this is no longer an option and scoped slots are combined with the `slots` mounting option. However it does not seem to be possible to access the the slot props.

`listItem` is passed in to the template via slots like t

[2021-03-10 16:23] afontcu commented on #452
Hi! Here you have some examples on how to destructure props from a scoped slot:

https://github.com/vuejs/vue-test-utils-next/blob/9d3c2a6526f3d8751d29b2f9112ad2a3332bbf52/tests/mountingOptions/slots.spec.ts#L124-L167

It is true, though, that we might want to feature an example on docs, possibly on `slots` API section!

[2021-03-10 16:37] yakobe commented on #452
Thank you soooooooo much! That provides a ton of info that helped.

[2021-03-10 17:05] UrsMetz commented on #362
I've created the PR #453 to address this issue.

[2021-03-10 19:24] snoozbuster commented on #418
I found a case where we may actually want to update VTU. In particular - I have a component which renders:

* a button
* a modal (via teleport)
* an alert (via teleport)

I would like to test the button by itself, without worrying about the teleport (I intend to test them in a more integrated test setup, whereas in these tests I am only concerned with the button). However, if I try to `shallowMoun

[2021-03-11 00:11] lmiller1990 commented on #418
What happens if stub `<Teleport>`>?

Can you post the exact component and test you want to write? I think it's probably good to have an solid example so we can prototype solutions.

If it can be solved with some simple boilerplate, that's probably ideal, but we should make sure it can solve all situations and is very well documented and understood. If it turns out there are some really difficult/i

[2021-03-11 00:12] lmiller1990 commented on #362
Nice job - the tests look thorough. I can review this soon. Thanks for the work!

[2021-03-11 09:40] cuixiaorui commented on #444
@lmiller1990

I am so understand

[code]

If the user writes it that way

calling emitted function gives you the data -> '{click: [custom click, MouseEvent]}'

If the user has defined 'emits'

[code]
Then call emitted  it will only receive click:[custom click]

---

This behavior is consistent with Vue

If emits:["click"] is not defined in Vue,

The component will emit two events, a custom event a

[2021-03-11 10:04] Blackfaded opened #456 "Context of 'click' event"
When I test a custom `v-click-outside` directive with vue-test-utils the directive does not get triggered.
Does the `mount` method not recognize the dom events attached vith the directive?

My test code:
[code]

My directive:
[code]

My problem is, that the `v-click-outside` method does not get called in tests, but works fine in the browser.

[2021-03-11 17:04] snoozbuster commented on #418
That was with `stubs: { Teleport: true }` in the options - `stubs: { Teleport: { template: '<slot />' } }` has the same effect. (I thought I remembered a special case in `stubs.ts` which forced Teleport to be unstubbed, but I looked again only see special cases for Transition.)

It looks like Teleport [doesn't have a name](https://github.com/vuejs/vue-next/blob/master/packages/runtime-core/src/com

[2021-03-11 17:15] cexbrayat commented on #418
@snoozbuster Yeah you're probably right about the lack of name in vue-next. This can be an easy PR if you want to make a contribution to Vue 3 😉

[2021-03-11 17:19] snoozbuster commented on #418
I'm not actually sure that it will fix it. I noticed [these lines](https://github.com/vuejs/vue-test-utils-next/blob/master/src/stubs.ts#L155-L157) in `stubs.ts` which return just a `['stub']` if there's no name - presumably Teleport would fall into this case, right? The Teleport implementation doesn't even have a `render()` like a normal component - I am wondering if Vue processes a teleport befo

[2021-03-11 17:35] nandi95 commented on #456
Isn't that meant to be mounted as opposed to beforeMount?

I'm facing a similar/same issue by the way except my directive is in the component:
[code]

[2021-03-11 22:56] irongollem opened #457 "Mocked (vuex) store doesn't show up inside setup method of composition API"
**Versions:**
Vue: 3.0.5
@vue/test-utils: 2.0.0-rc.3
jest: 26.6.3,

**Problem:**
When using the composition API I get a store.x => cannot get property x of undefined.
When using the option API using the same test there is no issue

**example:**

[code]

[code]

**Expected**
Mocked state should be available inside the setup method

[2021-03-12 04:27] lmiller1990 commented on #395
@TheDutchCoder https://github.com/vuejs/vue-test-utils-next/pull/454

Looks like it can be done here, too.

[2021-03-12 04:32] lmiller1990 commented on #456
I don't see any obvious problem with your code. I can't see why this would work any differently in test utils, though.

You could try running test utils in the browser and see if it's a jsdom problem, or a test-utils specific problem. Other than that, someone (maybe me) will need to debug it.

[2021-03-12 04:32] #362 closed

[2021-03-12 04:37] lmiller1990 commented on #452
@yakobe would you be able to make a PR adding some more info on this to the docs?

[2021-03-12 04:39] lmiller1990 commented on #457
I don't think this should work; you are not passing a plugin (which should have an `install` method), you are just passing a plain object.

See this example: https://github.com/vuejs/vue-test-utils-next/blob/84f875fbb6120ffaa597d7a702732e4f79be363d/tests/features/vuex.spec.ts#L15

[2021-03-12 04:49] lmiller1990 commented on #440
I am not sure adding more config to reduce boilerplate by a few lines is really a good trade-off. Anyone can read boilerplate, but more configuration options leads to more complexity.

This doesn't mean it's a bad idea; I am just not 100% sold on more features when you might be able to accomplish the same thing with a few lines (or a util function).

[2021-03-12 07:08] Blackfaded commented on #457
You could also mock the store like so:

[code]
Just adjust the importpath and write a createStoreMock function like so:
[code]

[2021-03-12 08:00] irongollem commented on #457
ah tnx guys, I will try these solutions! Would be nice we get some descriptor of this in the docs so people are made aware (even though you answer seems locical). It depends where you come from I guess, but since it was possible in the past I assumed it still should be :P

[2021-03-12 10:22] yakobe commented on #452
Sure! I'll take a look and try to knock something together. It's just the md files in this repo huh? Is there a detailed procedure or just make a PR.

Short question:Those tests are great because they show multiple scenarios that help. I don't want to bloat the docs with too many examples (maybe 1 or 2). What do you think about adding links to test cases in the docs? They show real code examples a

[2021-03-13 12:10] Blackfaded commented on #456
Will try to run that in the Browser on monday.
Thanks for your Help.

[2021-03-14 00:58] lmiller1990 commented on #452
Just update the md files in this repo!

I think a few examples in the docs + some links to source code is fine.

[2021-03-14 04:29] aethr commented on #444
Good catch @cuixiaorui , and thanks for the link to the emits rfc:

So if a component has a native event defined in its `emits` we should stop propagation before it's collected by `emitted`. Weird that Vue itself doesn't take care of this for us if that's the in-browser behaviour. Perhaps it's because we're attaching listeners to the root DOM node **inside** the component.

Sorry, I've been on hol

[2021-03-15 07:24] lmiller1990 commented on #418
Possible... maybe time to do a bit of a deep dive into exactly how Teleport and stubs work to figure this one out.

[2021-03-15 07:33] irongollem commented on #457
Not sure if this is really a bug or just some config or whatever on my side, but I tried both suggested solutions, and neither did the trick.
* `jest.mock('@/store, () => ...)` didn't seem to do anything (I have the store in root) (i didnt clone the story as your example but tried created a very minimal one on the fly)
* The global.plugins also didn't seem to work.

@lmiller1990 I noticed you chan

[2021-03-15 07:42] lmiller1990 commented on #457
@irongollem Can you make a PR improving the docs? That will help other people with the same question as you.

If you are providing something like this:

[code]

Please post **exactly** what you have tried. Just saying it didn't seem to work is not actionable.

You probably want something like:

[code]

`global.plugins` expects something that matches the plugins API - eg, a class with a static inst

[2021-03-15 07:43] #457 closed

[2021-03-15 07:59] Blackfaded commented on #457
I had to clone the store with lodash, otherwise it did not work also ;)
I dont know why either ^^

[2021-03-15 12:10] irongollem commented on #457
Sure I will have a look. If I can resolve it I can update the readme (but as long as the issue eludes me it makes no sense), it's tricky to share to code as its not mine to share, and the 'interpreted' version I already shared. I'll have to retry using the replies after me previous post.

[2021-03-15 22:56] lmiller1990 commented on #457
Try and make a minimal reproduction, you should be able to do it based on the info in this post.

[2021-03-16 07:07] afontcu commented on #465
Hi!

Probably related to these lines: https://github.com/vuejs/vue-test-utils-next/blob/bb8023fc2dd1757f0358d3a8f2967a1064019540/src/mount.ts#L448-L451

Can you share your failing test (with your component)? Is it possible that it is a functional component?

[2021-03-16 07:14] cexbrayat commented on #465
Make sure you're using Vue 3.0.6 or 3.0.7 if you're using the latest VTU release candidates.

That should solve your issue.

See https://github.com/vuejs/vue-test-utils-next/issues/439

[2021-03-16 07:22] afontcu commented on #465
Didn't even notice about Vue's version :) Closing as this seems to have a clear fix. Feel free to reopen if the problem persist after updating Vue!

Thanks

[2021-03-16 07:22] #465 closed

[2021-03-16 09:44] #440 closed

[2021-03-16 09:48] #452 closed

[2021-03-19 00:41] #304 closed

[2021-03-20 00:42] tweichart opened #471 "Config for transition stub ignored"
### Subject of the issue

I'm currently in the process of upgrading a library from Vue2 -> Vue3. One of the tests is checking components with transitions. In Vue2, transitions could be removed via `config.stubs.transition = false` which does not seem to work anymore in Vue3 via `config.global.stubs.transition = false`.

### Steps to reproduce

Clean projects created via cue-cli & default configs f

[2021-03-22 23:55] lmiller1990 commented on #471
Hi! This might be a bug. Can you try:

[code]

I am not sure if `h('transition')` is valid - I am assuming it is, I have never tried writing a render function like that, though. Does `h('transition')` that work when rendered in the browser?

[2021-03-23 07:38] tweichart commented on #471
thanks @lmiller1990 , using `Transition` works as expected 👍  Normally I'd just use `Transition` here, but as it's been working with `transition` in Vue2 I assumed it should work the same way now in Vue3.

[2021-03-23 09:17] #426 closed

[2021-03-24 16:00] JostCrow commented on #439
This issue seems to be back with vue 3.0.7. For now I downgraded to vue 3.0.6 because that is a version that works correctly.

[code]

[2021-03-24 16:17] NovaLogicDev opened #477 "Clarification: Adding hyphenated Directives through global"
I know that we now have to add directives through the new Global mounting property, however I have small problem with this,
in my tests I register a directive like this
`localVue.directive('web-content', webContent(configuration.env.name));`

But because the Global prop is an Object I can't use `-` based names anymore, what's the solution, I'm probably missing something super obvious, but I can't

[2021-03-24 16:20] afontcu commented on #477
Hi! I guess you could do something like the following?

[code]

[2021-03-24 19:18] NovaLogicDev commented on #477
ah yes, that would do the trick! like I figured I just missed something very obvious, thanks

[2021-03-24 19:18] #477 closed

[2021-03-27 08:44] zouyaoji opened #481 "It can't be tested when a library is dynamically loaded through the script tag."
Hi~

My component uses the following way to load a JS library:

[code]

and the test code is:
[code]

In my case, the business logic was processed after $script.onload. But I found that this logic cannot be tested with @vue/test-utils. Is it not supported or am I using it incorrectly? The attachment can reproduce the problem I described.

[test.zip](https://github.com/vuejs/vue-test-utils-next/fil

[2021-03-27 09:38] nandi95 commented on #481
I'm not sure if that is supported in your choice of dom implementation.
I think it would be odd if a unit test is downloading some script from outside.
Check the documentation of your dom environment. One of the most common one is [jsdom](https://github.com/jsdom/jsdom)

This doesn't sounds like it has anything to do with the test utils.

[2021-03-27 09:51] zouyaoji commented on #481
well, the reason is that from the beginning of the [project](https://github.com/zouyaoji/vue-cesium/blob/dev/packages/viewer/src/useViewer.ts#L885), the js library was introduced through script tag, instead of NPM, I have other considerations.

I think the [render](https://vue-test-utils.vuejs.org/api/#render) api  in version 2 seems to meet my needs, but version 3 does not seem to have this api?

[2021-03-27 10:54] nandi95 opened #482 "Slotting behaviour"
Hi,

I would like to do the two following things:
- Slot multiple components into the default or named slots.
- Give the slotted components props (perhaps give the slot a `mount(Comp)`)

This isn't necessarily a code smell that the testing scope is too wide. My use case is I have a component that has a default slot into which you pass multiple components of one type.

[code]

The second would also

[2021-03-29 04:31] llllllllllx opened #484 "Using find after findallcomponents will return dom elements that do not meet expectations"
The problem is shown in the picture
![2](https://user-images.githubusercontent.com/29992752/112786330-96823600-9088-11eb-98e9-fe6b21d1b397.jpg)

In vue-test-utils 1.x, it returns as expected
![1 (1)](https://user-images.githubusercontent.com/29992752/112786999-1d83de00-908a-11eb-882b-cc766cc0fc09.jpg)

By looking at the code, the find or findAll method of VueWrapper is searched in this.parentEleme

[2021-03-29 06:06] cexbrayat commented on #484
Hi @llllllllllx
That does look like an issue.

Would you like to open a pull-request to fix it?

[2021-03-29 06:08] cexbrayat commented on #471
Closing this issue as it looks like it's resolved.

[2021-03-29 07:13] tweichart commented on #471
@cexbrayat no, it's not resolved. The old vue-test-utils version returned the same result for `transition` as a string as well as for the imported `Transition` component provided by vue itself. Now the new vue-test-utils version can only use the imported component, `transition` doesn't work. So it's either a bug or an undocumented breaking change imo.

[2021-03-29 10:03] llllllllllx commented on #484
I have fixed this issue in #494

[2021-03-29 13:08] #484 closed

[2021-03-29 13:11] cexbrayat commented on #471
@tweichart Thaks for the feedback. My question is similar to what @lmiller1990 was asking: does it work in the browser if doing so in Vue 3? I haven't tried myself, but maybe this is a behavior change in Vue itself (I don't see what VTU would have to do here?).

[2021-03-29 14:57] sshmendez opened #497 "Passing object props doesn't work (vue-router@4.0.5)"
# Problem

`router.push({name:"Order", params: {obj: {}})`
fails to push `obj: {}`, instead the route receives `obj: '[object Object]'`

# Situation

I have a route setup like this

[code]

this results in props not being defined in `Order.vue`

# Expected Result
[code]
Based on [this answer](https://stackoverflow.com/questions/50506470/) objects work in older versions

# What I've tested

I've us

[2021-03-29 14:58] sshmendez commented on #497
I'm using `vue-router@4.0.5`

[2021-03-29 15:00] #497 closed

[2021-03-29 15:00] sshmendez commented on #497
Wrong repo

[2021-03-29 16:58] tweichart commented on #471
@cexbrayat sure, I just tried this as an example:

<details>
  <summary>./App.vue</summary>

[code]
</details>

where the component files look like this:
<details>
  <summary>./components/Transitioncomp.js</summary>

[code]
</details>

<details>
  <summary>./components/Transitioncompvue.js</summary>

[code]
</details>

The result in the browser then is this:

[code]

So, using `Transition` importe

[2021-03-29 17:37] tbuteler opened #498 "wrapper.html() formatting"
I've got a bunch of tests that do something like this:

[code]

I've been trying out v2 and the snapshots all fail now because they were generated using v1, so my snapshotted HTML is all pretty-printed, whereas the `wrapper.html()` calls with v2 are not.

I was wondering if this was a regression, or if v2 is moving away from pretty-printing HTML (i.e. I should update my snapshots).

[2021-03-30 08:48] cexbrayat commented on #471
Based on https://github.com/vuejs/vue-next/issues/826#issuecomment-598207464 this is a behavior change in Vue 3, hence not an issue in VTU. Thanks for the investigation @tweichart !

[2021-03-30 08:48] #471 closed

[2021-03-30 16:27] lmiller1990 opened #507 "SSR support (render)"
We should support `render`, for SSR: https://vue-test-utils.vuejs.org/api/#render

[2021-03-30 16:29] lmiller1990 commented on #498
Your snapshots will likely have some differences, but this seems like a regression. We should match v1 as closely as possible.

Would you like to make a PR fixing this?

[2021-03-30 17:52] nandi95 commented on #482
In the linked test, it only tests with a [single html element](https://github.com/vuejs/vue-test-utils-next/blob/a3cb7f33deb8336a2294ae927593bc33591a9310/tests/mountingOptions/slots.spec.ts#L24)
And if this html string includes a component you would get the warning

This would work if to the mount the first argument is a wrapping component in which would have the `template` and the `components` bo

[2021-03-31 19:20] matthewjmink opened #512 "Nested slots causes a warning"
When passing a child component with default slot content into the default slot for the mounted component, a warning appears in the terminal.

[code]

The test passes, but the following warning appears in the terminal:
[code]

**Relevant version info:**
[code]

[2021-04-01 00:19] lmiller1990 commented on #482
We should include `h(Foo)` in the docs. Supporting an array should be pretty easy - if it's an array, just return a `h` function with an array.

Another alternative might be supporting `h` as slots (no idea if this works). Something like

[code]

That solves the props problem too. 🤔

[2021-04-01 08:53] cexbrayat commented on #512
Thank you for opening an issue @matthewjmink

I think this is an issue with Vue itself, not really with VTU.
Try doing the same in your application and let us know if you have the warning in the browser.
If so, make sure you are using the latest Vue version (3.0.10 right now).

If the warning is still there, this is probably an issue for the vue-next repo

[2021-04-01 09:47] nandi95 opened #513 "Testing with HappyDOM"
By default jest uses JSDOM. I wanted to try out [HappyDOM](https://github.com/capricorn86/happy-dom) for the [sick performance gainz](https://github.com/capricorn86/happy-dom/blob/master/packages/jest-environment/README.md#performance), but unfortunately I'm getting an error:
[code]
The error is coming from https://github.com/vuejs/vue-test-utils-next/blob/master/src/mount.ts#L451
Now, I don't kno

[2021-04-01 12:06] freakzlike opened #514 "Stub does not work for async component"
When trying to stub an async component it still renders to original component instead of the stub component.

Version: 2.0.0-rc.4
[code]

Expected HTML to be `<span>StubComponent</span>` instead of `<span>AsyncComponent</span>`.

[2021-04-01 12:32] matthewjmink commented on #512
You are correct. My apologies. The [Vue docs](https://v3.vuejs.org/guide/render-function.html#slots), while arguably unclear on this point, do explain the expected syntax for component vnodes:

So, if I make the following change, the warning goes away.
[code]

[2021-04-01 12:32] #512 closed

[2021-04-02 08:20] freakzlike commented on #514
I found out that it is required to set a name in the async component and use this name in `global.stubs`.

[code]

I have created an pull request which adds a section to the docs for stubbing an async component.

See #516

[2021-04-02 08:25] afontcu commented on #514
Hi! Thank you for the reproduction and the effort to open up a PR ❤️

I feel this could be handled by VTU internals, instead of asking users to add a name to a component? 🤔

[2021-04-02 08:32] #514 closed

[2021-04-02 08:34] lmiller1990 commented on #513
The GH actions run so fast, I think it's fine to add another step. I didn't know there was a jsdom alternative, that's cool.

I'd like to know why this isn't working, if you do find a fix, we can definitely add HappyDOM testing to CI in the manner you proposed (or something similar, whatever is fine).

[2021-04-02 11:59] #498 closed

[2021-04-02 14:06] sam-pastoriza opened #517 "Code coverage seems to be collected incorrectly"
I am looking to upgrade several projects to Vue 3 and I am running into an interesting issue when collecting code coverage. For some reason, when switching to Vue 3, the **code coverage statistics are incorrect, but the tests are running correctly**. Below is a repository that minimally reproduces the issue I am running into. Also attached are a couple of screenshots that show the difference in co

[2021-04-02 14:14] sam-pastoriza commented on #517
Splitting the components up seems to cause the issue. It looks like the latest version of the package doesn't cover code that is include via a script. This only occurs when upgrading from Vue 2 -> Vue 3.

[2021-04-03 08:34] freakzlike commented on #514
@afontcu You are right. I will have a look at it

[2021-04-03 10:14] freakzlike commented on #514
I created a PR to handle async components the same way as "sync" components. See #518

[2021-04-05 04:41] lmiller1990 commented on #517
This is most likely a bug in `vue-jest` which isn't handling source maps correctly - test utils just provides some basic functions like `mount`, the problem lies in the mapping between the source (`vue` file) and output (compiled via `vue-jest` into something Jest can read).

Either way this is a very good reproduction, thank you!

I'll move this issue to vue-jest, which I desperately need to find

[2021-04-06 00:38] aethr commented on #444
Sorry that took me so long. I have a PR up that hopefully addresses this.

@cuixiaorui would you please review the new test here and check that it should test against the behaviour in this ticket? https://github.com/vuejs/vue-test-utils-next/pull/521/files#diff-bca53c828786d5bd8dbc5a6ef967a8a28d8601dc4fb603bf218baab718a59469

[2021-04-06 13:49] #444 closed

[2021-04-06 13:58] lmiller1990 commented on #456
This is not passing a browser for me, but as you said, it does work when testing manually. Hm.

[2021-04-06 14:07] lmiller1990 commented on #456
Ohhhh, I found the problem. At least, I got it to pass in a browser (using test utils).

The problem is the elements are not actually mounted in the document by default. They are just hanging out in memory. You need to create an element and use the [attachTo](https://next.vue-test-utils.vuejs.org/api/#attachto) method. I guess it makes sense, you cannot really click outside something that isn't mo

[2021-04-06 14:07] #456 closed

[2021-04-06 14:49] Blackfaded commented on #456
Nice catch! It worked with the following:
[code]

Thanks you so much! And yes, if you think about it it makes sense, but it still is not obvious ;)

[2021-04-07 00:03] lmiller1990 commented on #444
Thank you!

[2021-04-08 02:02] zouyaoji commented on #481
@lmiller1990
Hello, I just  try it in a more minimal environment of jsdom. According to the test result, I think it works in jsdom.

[code]
![image](https://user-images.githubusercontent.com/24430116/113957192-5d4c8180-9851-11eb-8ba8-82864435b6a0.png)

[2021-04-08 02:45] zouyaoji commented on #481
I studied the documentation of jsdom and found that adding this option in jest.config.js then the CesiumJS loaded successfully.
[code]

But I encountered a new problem, jsdom does not support webgl...

[2021-04-08 02:45] #481 closed

[2021-04-09 02:49] zouyaoji commented on #481
I have tested almost all testEnvironment of jest, and finally only [`jest-electron`](https://github.com/hustcc/jest-electron) can meet my testing needs, hoping to help people with similar needs.

[2021-04-09 08:22] LorinIonita opened #530 "shallowMount weird behaviour with repeating component stubs in snapshot"
I haven't seen an issue like this and I'm not sure if this is an issue on my end but there's a weird behaviour when trying to shallow mount a component with multiple repeating components. `ai-btn` and `ai-icon` are added as global components in the mount.

This is the component:

[code]

When mounting it with `shallowMount` and expecting it to match the snapshot, the snapshot looks like this:

[co

[2021-04-14 15:25] vsergiu93 commented on #530
Hello,

I forked this so I can write a [test case]( https://github.com/vsergiu93/vue-test-utils-next/blob/052783165d3b69418b1ee824f14f7679aa9208f9/tests/shallowMount.spec.ts#L104) which reproduces the above behavior when shallow mounting a component.

[2021-04-15 11:44] yakobe commented on #530
It seems the cause is [this line](https://github.com/vuejs/vue-test-utils-next/pull/453/commits/7016c594b5392db71510dca42af188c153f6d512#diff-840c8e77baceaebec1b759efa8bbb8505149fbd81c64bb120801388b66d839c4R173) on #453. Its seems to break the rendering of attributes in the html.

Here is an updated version of the test that shows it breaking: https://github.com/yakobe/vue-test-utils-next/commit/32

[2021-04-17 03:37] whosyourlaowang commented on #450
Does this need to be set for each ?

[2021-04-17 06:36] afontcu commented on #450
Yes – but you can create a function that does it for you, so you don't need to repeat yourself

[2021-04-18 07:57] human33 opened #538 "setData doesn't work"
`wrapper.setData` doesn't set data in component. It sets data only in `wrapper.vm` object.

I created a simple components:

[code]

And a test:

[code]

And the test fails on `expect(wrapper.vm.isFieldNull).toBe(false);` because `field` is still null.
Am I doing something wrong?

[2021-04-18 08:59] human33 commented on #538
I found out that if I don't pass data function to mount it works fine.
So, this works:

[code]

[2021-04-18 22:29] lucas-santosP opened #539 "How to set data with the Composition API ?"
As the documentation says [here](https://next.vue-test-utils.vuejs.org/api/#setdata) the `setData` method does not modify composition API setup data. So don't exist a way to do it when using the composition API ? I'm searching in the documentation for a while and haven't found a solution.

Example:
[code]

The example above works fine with the options API, but with the composition API the `setData

[2021-04-18 23:43] lmiller1990 commented on #538
Seems like a bug - it should work as you are describing in the first test, too.

I will take a look (or you can, if you have time!)

[2021-04-18 23:45] lmiller1990 commented on #539
What are you expecting to happen? Can you share `Calculator.vue`?

If you are expecting to set the value of `ref` declared in `setup`, this will not work - `setData` only works with `data`. There isn't a good way to modify a value inside a function (like `setup`).

For `setup`, I'd generally just recommend interacting with the component via `trigger` or passing `props` to test it (like a user woul

[2021-04-19 02:01] lucas-santosP commented on #539
The code is [here](https://github.com/lucas-santosP/calculator/blob/main/src/components/Calculator.vue). And yes, in my example `memory ` is a `ref` variable declared in the `setup` function.

Using the `wrapper.vm.memory = "something"` wouldn't work too right ? It seems that doesn't trigger the reactivity but I guess this is an expected behavior...

I'm new to automated testing if what I say does

[2021-04-19 04:07] lmiller1990 commented on #539
There is probably some way to make it work using `.vm`, but this is not generally a good idea. It's best to test things from the perspective of a user. I am not sure what `Calculator.vue` look likes, but if it had two fields that get added up, what I'd generally recommend is something like:

[code]

Rather than asserting against `vm`, you assert against what is rendered (after all, Vue components

[2021-04-19 06:41] lmiller1990 commented on #538
I fixed it: https://github.com/vuejs/vue-test-utils-next/pull/540

If you can give me a quick review I will do a release with this!

[2021-04-19 07:45] human33 commented on #538
I'm not familiar with this repository, so I'm not sure if I can review anything here.

[2021-04-19 08:02] lmiller1990 commented on #538
All good, someone reviewed it.

Good way to learn it to review :)

[2021-04-19 08:07] #538 closed

[2021-04-19 08:14] lmiller1990 commented on #538
Released in https://github.com/vuejs/vue-test-utils-next/releases/tag/v2.0.0-rc.5

[2021-04-19 08:18] lmiller1990 commented on #530
So #453 introduced the regression?

We might just want to revert it. The rationale was to allow:

[code]

To work, but it looks like this might introduce problems by caching the stub. Instead we would just require users to re-run `getComponent` to get the updated values and whatnot. 🤔

[2021-04-19 14:00] apodacaduron opened #541 "Emitted event is undefined after button click"
Hi, I'm starting to learn about testing and tried doing a small todo app in Vue3 but I could not make this test work
[Tried it with this docs](https://next.vue-test-utils.vuejs.org/guide/essentials/event-handling.html#the-counter-component)
Also, why in the docs they don't use async await when triggering a click on a button?
[Repo](https://github.com/apodacaduron/vue-3-tasks)

### Subject of the i

[2021-04-19 16:23] lucas-santosP commented on #539
The link of `Calculator.vue` was right there in my previous comment.
https://github.com/lucas-santosP/calculator/blob/main/src/components/Calculator.vue

The `Calculator.vue` has more than 15 buttons, cause each button is a digit or an operator, so this is why became repetitive and massive having to get each of them every time I want some value on `memory`.

If there is really no good way to defin

[2021-04-20 01:43] apodacaduron commented on #541
My bad turns out that instead of clicking the button I had to call the form submit event
From this
[code]
To this
[code]

[2021-04-20 01:43] #541 closed

[2021-04-20 12:24] almost-no-one commented on #231
It's happened when i use
[code]

[code]

[2021-04-20 12:49] cexbrayat commented on #231
@almost-no-one Vue Test Utils v2 is for Vue v3 and won't work with Vue 2. You'll have to use VTU v1 if you want to keep using Vue 2, or use Vue 3.

[2021-04-21 02:15] lmiller1990 commented on #539
Neat calculator!

Here are some ideas. This is really just how I like to code, everyone has their own approach to this sort of thing. From what I can see you are trying to test `calculateResult`, `eraseLastDigit` etc. One option would just be to move these out of `setup`  and allow them to receive arguments. You could make a composable:

[code]

Usage would now be something like:

[code]

The actu

[2021-04-21 07:42] lmiller1990 commented on #539
Edit @lucas-santosP - I made a PR against your repo showing off another neat tool you might be interested in: https://github.com/lucas-santosP/calculator/pull/3.

[2021-04-21 12:22] lucas-santosP commented on #539
Thanks, and I liked the "functional core, imperative shell" concept I'll definitely check your video and will apply it in another branch to compare the two approaches.

Yeah 😆, I did it after I saw you saying that is not so good to check values using the `wrapper.vm`, so I change it and add some helpers functions to trigger the buttons... But I didn't know it was ok to do it, so your examples stil

[2021-04-21 12:25] Evertvdw opened #544 "Bug: Options/data from mixins not available when using class components SFC"
Is there currently support for using vue-test-utils together with `vue-class-components`? I am currently trying to get that to work and it works in part but when using mixins it does not. I have a hard time figuring out where to report this.

[2021-04-21 12:36] mariosh346 opened #545 "In MountingOptions is missing computed property"
In vue-test-utils v.1.1.2 there was a computed option in MountingOptions. Is this removed?
Is there a way to mock computed properties?

[2021-04-21 12:55] afontcu commented on #545
Hi! 👋  I might be wrong, but I'm not entirely sure VTU 1 provides a `computed` option 🤔 Could you share a use case where mocking a computed property is necessary? I'd say a sensible approach would be to pass down the right props / interact with the component until the computed has the right value.

[2021-04-21 13:05] mariosh346 commented on #545
The most times that this is needed is to mock a complex computed and test it separately.
 https://github.com/vuejs/vue-test-utils/issues/331 Here you can see that they propose the use of computed option instead of setComputed

[2021-04-21 13:56] lucas-santosP commented on #539
So this issue main question was answered with your last comment so I'll close the issue, but if you have something to add feel free to reopen it.

Thank you for your replies, I really appreciate it.

[2021-04-21 13:56] #539 closed

[2021-04-22 19:35] cowills commented on #482
Running into this same issue being unable to pass an array into a slot, would be happy to try to implement that in VTU if that work hasn't been started and you can point me in the right direction. Not sure how to work around it currently without wrapping the array contents in a div.

[2021-04-26 03:43] danranVm opened #549 "[Vue warn]: Property undefined was accessed during render but is not defined on instance."
[code]

[2021-04-26 04:40] lmiller1990 commented on #482
Sure @cowills. Looks like the slot stuff [is here](https://github.com/vuejs/vue-test-utils-next/blob/ef69af17c9b29a952154679994475300450cd613/src/mount.ts#L262), I guess you can just check if it's an array an iterate over it.

I'd recommend figuring out the exact API first. How do you think it will look?

[code]

Do you need to pass props to the slots? How would that look?

Crazy idea might be:

[

[2021-04-26 04:41] lmiller1990 commented on #544
I think so, [we have some simple tests here](https://github.com/vuejs/vue-test-utils-next/blob/master/tests/features/classComponent.spec.ts).

What problem are you having? Can you try reproduce the problem in this code-base, perhaps?

[2021-04-26 04:45] lmiller1990 commented on #545
We have a computed mounting option a looooong time ago, not in 1.1.2, though. It was removed for the same reason `methods` was removed.

Since computed properties are just derived from other sources (like `data`) you can generally use the `data` mounting option to accomplish the same thing.

If you want additional guidance, please post an example of the test you'd like to write. `computed` as a mo

[2021-04-26 04:45] #545 closed

[2021-04-26 04:47] lmiller1990 commented on #549
This should definitely work, I don't see any obvious problem. Will need to add this test to this code base and see what's going on.

[2021-04-26 04:50] lmiller1990 commented on #549
I tried adding this to this code base - there is no problem, it's working fine. I'll need a full reproduction to investigate. Do you have other code in your code base?

I will close this for now since there is no problem, as far as I can tell. I can re-open if you provide more information with a reproduction.

[2021-04-26 07:04] nandi95 commented on #482
I think both of those proposed should be accepted.

---

Without looking at the code, would it be possible to give it a wrapper or instantiated vm? Like:
[code]
That could be cool if I don't have to reach for `getComponent()` and already have it ready. But also not a pain if doesn't happen.

[2021-04-26 07:20] Evertvdw commented on #544
I forked this repo and added to the classComponent spec file here: https://github.com/Evertvdw/vue-test-utils-next/blob/class-component-mixin/tests/features/classComponent.spec.ts

When you run the test you will see a warning that `message` is used in the component but not defined. Also the created() hook is not called which is defined in the `ClassMixin.vue`.

[2021-04-26 07:35] danranVm commented on #549
@lmiller1990 hi, this warning appeared after I upgraded to the latest version today.

 minimal reproduction: https://github.com/danranVm/vue-test-utils-warn

[2021-04-26 11:10] mengelbrecht commented on #549
This happened for me too. A workaround is to use the `h` function instead of an html string:
[code]

[2021-04-26 12:36] cowills commented on #482
couldn't it just support whatever component styles a non-array slot does? im not sure i understand the need for an additional API beyond supporting an array of components like VTU for vue2 currently supports

[code]

[2021-04-26 14:13] AndreasNasman opened #550 "`toMatchSnapshot` with `<script setup>`"
Hi!

I tried creating trivial snapshot tests based on the [example test file](https://github.com/vuejs/vue-test-utils-next/blob/master/tests/features/sfc.spec.ts) merged in #264.

[code]

Same as `Hello.vue` using `<script setup>`.

[code]

[code]

[code]

My questions are

1. Same as in the code comments: Why does calling `.html()` on the wrapper produce a snapshot with content while `.element` r

[2021-04-27 00:43] lmiller1990 commented on #549
Sounds like a regression. I will look at your repo. You should not need `h`.

[2021-04-27 00:55] lmiller1990 commented on #544
I see - passing `props` seems not to work. We should fix this. I wonder if the problem is in `vue-jest`. Looks like it's time to do a bit of a deep dive and figure out what's going on.

Are you interested in debugging this? If so, the next step would be a test without an SFC, but instead using a render function. That would help narrow it down (eg, maybe the bug only happens for SFCs - that could m

[2021-04-27 02:00] lmiller1990 commented on #482
I didn't realize we supported an array in VTU v1. We should support whatever we support there. Ideally these libraries will have the same API so people can easily migrate from Vue 2 to Vue 3.

I say we start with the above post (matching Vue 2/VTU v1 API). We can discuss additional improves separately. Would you like to work on this @cowills? I think this should not be too difficult, since it's ba

[2021-04-27 02:10] lmiller1990 commented on #550
Hi!

Good questions.

I don't know off the top of my head but I think your suspicion is probably correct (multiple roots). This codebase does not have many (any?) snapshots tests. We probably need to add some and define the expected behavior. Snapshots are normally formatted by a *snapshot seralizer* which can be opinionated. My guess is:

- if you pass text (eg via `html()`) it will just save tha

[2021-04-27 13:28] cowills commented on #482
Not sure I understand typescript or vue internals well enough to make the change sadly, here's what I came up with:

slots.spec.ts
[code]

mount.ts
[code]

[2021-04-28 07:07] AndreasNasman commented on #550
Hi, and thanks for your answers!

I'm more than happy to try my hands at adding relevant tests, I might have some free time later this week. 👍

[2021-04-28 18:36] setaman opened #556 "ReferenceError: SVGElement is not defined, weird behavior with different Vue versions"
Hi, I am the developer of [this](https://github.com/setaman/vue-ellipse-progress) library and trying to migrate my tests to v2. However I encounter very confusing behavior with different Vue versions. Especially in the combination `2.0.0-rc.6` and Vue `3.0.11` I get the following error while trying to run my tests:
[code]

I have tried different versions combinations and have noticed strange thing

[2021-04-29 06:26] cexbrayat commented on #556
Hi @setaman , thanks for opening an issue

I think this is unrelated to VTU. The same concern has been raised in the vue-next repo: see https://github.com/vuejs/vue-next/issues/3590 and other related issues.

I'll let you track these issues and I'm going to close this one.

[2021-04-29 06:26] #556 closed

[2021-04-29 07:11] nandi95 commented on #378
Accessing `wrapper.vm.$props` will give you the up to date current props even after update.

What do you mean? The name of the component? If so you already have access to that.
[code]
@elevatebart

[2021-04-29 09:45] setaman commented on #556
Hi @cexbrayat,
thanks, i see, the issues are coming now.

[2021-04-29 14:53] elevatebart commented on #378
Thank you @nandi95 for your answer,

Essentially, I am working on functional components. They do not have names. I would still like to get the name of the function given or the name of the head component. or the name of the file.
The need behind it is to log it properly when it is mounted.

In this order (if one is empty, move to the next):
- Name of component within parent
- Name of function defi

[2021-04-30 13:40] Evertvdw commented on #544
@lmiller1990 I tried to debug it but I get stuck pretty quickly. Using a mixin with a render function works fine, so the issues seems to be with a SFC. I tried update to latest jest/ts-jest v26, just to be sure but that did not help either.

I also tried using mixins like this:
[code]
Which cause the created() hook to be called from the classMixin atleast (with `extends mixin()` this is not the ca

[2021-05-02 13:08] wolfgangwalther opened #563 "Wrapper's `.html()` output is different depending on whether **parent** component has multiple root fragments"
Take the following test-cases:

[code]

The first test-case works as expected - `regular.html()` is just the DOM element that is actually rendered in `RegularComponent`. However, once the surrounding `<div>` in the outer component is removed, `regular.html()` suddenly shows its sibling DOM element (`<div>bye bye</div>`), too.

The first expect in each test proves, that `getComponent` returns the r

[2021-05-02 13:21] wolfgangwalther commented on #563
It's this check that is going wrong:

https://github.com/vuejs/vue-test-utils-next/blob/fe701dcb6da2bd5d22c461460f50e7faafe3783d/src/vueWrapper.ts#L106-L109

Because `ComponentWithRootFragments` and `RegularComponent` have the same `.parentElement` this is triggered.

[2021-05-02 17:09] gustawdaniel opened #564 "jest not works, no command line to execute tests in docs"
I have jest config:

[code]

I have error:

[code]

So I have config:

[code]

I have this error

[code]

So I have this config:

[code]

and I have error

[code]

So I typing command:

[code]

and I have error:

[code]

Can anyone help me?

[2021-05-03 06:24] cexbrayat commented on #563
I agree that this is weird indeed. Your root cause analysis is probably right.

Would you mind opening a PR with the fix and a similar repro test? I would gladly review it and merge it.

[2021-05-03 06:25] cexbrayat commented on #564
@gustawdaniel You need to use vue-jest v50.0-alpha.8 for Vue 3 and VTU 2.
You can try to use Vue CLI to have a working setup and then learn from there.

Closing as this is not an issue with VTU.

[2021-05-03 06:25] #564 closed

[2021-05-03 06:26] wolfgangwalther commented on #563
If I had any idea how a fix could look like, I would do that. But I don't.

[2021-05-03 06:30] cexbrayat commented on #563
I usually start by adding the test repro to the codebase, and then debug what's going on until I have a pretty good idea of what a fix would look like.

Would you like to give it a try?

[2021-05-03 08:08] Evertvdw commented on #544
@lmiller1990 I dug into it a bit deeper and my guess is that it is a `vue-jest` issue, I don't know how to fix it though. I found [this](https://github.com/vuejs/vue-jest/blob/next/lib/generate-code.js#L32) line in the code there which probably is the cause for the errors (this is the only mention of vue-class-components I could find in `vue-jest`):

[code]
@Stijn98s You added the if statement, ca

[2021-05-03 16:10] Stijn98s commented on #544
I added the if statement so the `vue-class-component` plugin works. The if statement looks if the vue component is a vue class component. If this is the case, It exports the correct variables in the object. Without this the options like props don't workwhen using vue class components.

@lmiller1990 did a video on this when he was debugging https://www.youtube.com/watch?v=okQh9O61S-0

[2021-05-03 17:43] Evertvdw commented on #544
@Stijn98s As I have shown above, `vue-class-component` only works if you don't extend your component of a mixin and if you don't import Vue from `vue-property-decorator` so something with this logic is off. What does the first line of the if-statement with the regex check for? The video is useful, I will watch it and try some similar debugging myself :) Seems to be very closely related atleast tha

[2021-05-04 07:16] Evertvdw commented on #544
I found the issue and created a PR for the fix in `vue-jest`.

[2021-05-05 05:53] lmiller1990 commented on #544
I reviewed and merge it. Nice job figure this out, `vue-jest` is quite confusing. The whole process of patching together a bunch of strings to make valid JS code feels very wonky, but that's how Jest transformers work 🤷

I can release a new version of `vue-jest` in the next few days! Please wait a little.

[2021-05-05 05:53] #544 closed

[2021-05-05 06:02] Evertvdw commented on #544
Thanks! My thoughts exactly on the string patching 😅

[2021-05-05 06:07] lmiller1990 commented on #482
Seems legit to me. Do you want to make a PR adding the test and code? It's fine if other tests break, I can help out.

Alternatively, if you don't have the time/bandwidth, I can pick this up using your code above. Either way, let me know. :)

[2021-05-05 13:09] cyberalien opened #571 "Demo from documentation fails"
I've tried testing demo from https://next.vue-test-utils.vuejs.org/guide/#what-is-vue-test-utils

[code]

That demo fails with this error:

[code]

Packages:
[code]

[2021-05-05 13:20] cexbrayat commented on #571
Thanks for opening an issue.

It's hard to see what's the issue here. What are you using to set up and run your tests? Vue CLI? Jest directly? Something else?
I recommend trying with Vue CLI: you'll have a project correctly configured, and your test should succeed.

[2021-05-05 13:32] cyberalien commented on #571
I'm using jest directly: `npx jest tests/demo.test.js`

[2021-05-05 13:37] cexbrayat commented on #571
What's your jest config?

[2021-05-05 13:38] cyberalien commented on #571
[code]

[2021-05-05 13:55] cyberalien commented on #571
Fixed it by following these steps:

1. Created basic demo project with unit tests for Vue 3.
2. Copied `jest.config.js` from it.
3. Installed `@vue/cli-plugin-unit-jest` as dependency.

Thanks a lot for help! Hint about Jest config got me in right direction.

My setup worked before with older versions of dependencies, so something has changed in last few months in one of dependencies that broke it

[2021-05-05 14:03] cexbrayat commented on #571
👍 great, feel free to open an issue if you find something weird.

Closing as this is not an issue with VTU

[2021-05-05 14:03] #571 closed

[2021-05-05 14:05] cyberalien commented on #571
If anyone else is having the same issue, add this line to your Jest config:
[code]
and install `jest-environment-jsdom-fifteen` as dev dependency.

Or just use preset from `@vue/cli-plugin-unit-jest`, which is much easier!

[2021-05-05 15:07] Evertvdw opened #572 "setData function with class components returns TypeError"
Hi there,

I got vue-jest to work so I continued to see if I could get unit tests working in my codebase. I stumbled upon the next issue, I saw this was also reported when using the Composition api but I get the same error with class components:

I'm doing this inside a test:
`await wrapper.setData({ hovered: true });`

Which results in this error:
`TypeError: Cannot add property hovered, object i

[2021-05-05 18:14] Evertvdw commented on #572
A quick dive into this learn that with class components the `vm.$data` which is accessed in the `setData` method is empty. The data properties are just present on the `vm` object itself with a getter and setter.

Just doing this in the code works instead of using `setData`
[code]

It's not very nice and clean but for class components it seems that everything is just placed on the `vm` object and n

[2021-05-06 14:29] cowills commented on #482
Sure! i just pushed up my branch and made a PR.

If anyone reading this needs a quick workaround, you can wrap the component you are testing in an `h()` and pass an array slot directly there like so:
[code]

[2021-05-06 23:49] lmiller1990 commented on #572
Thanks for the issue report.

There are a number of known problems with class component. Another one is mocks not working correctly, [see here](https://github.com/vuejs/vue-test-utils/issues/1767). The main problem is `setData` assumes you are using an object component with a `data` property. As you pointed out, the way class components store data is a bit different (makes sense, classes have a bu

[2021-05-08 08:05] DannyFeliz commented on #227
@em2046 Thank for your comment, it helped a lot 🥳

[2021-05-08 08:08] PeterAlfredLee commented on #549
Hi @lmiller1990 , I think this warning is caused by this [compileSlots.ts#L18](https://github.com/vuejs/vue-test-utils-next/blob/master/src/utils/compileSlots.ts#L18):
[code]
I just tested it, if you set `prefixIdentifiers` `true`, this warning won't show.

This is relate to #519, maybe we can find another way to solve #519, WDYT?

[2021-05-08 11:45] vuesomedev opened #575 "Upgrading to Vue 3.0.7 breaks test with emitted events"
I have a component with a single prop and emitted event

[code]

and I have a test that checks for the event when clicking the button:

[code]

The test passes with Vue version 3.0.6 , but after upgrading all the above versions break the test by not showing emitted events. `wrapper.emitted().redeem` becomes `undefined`.
I have no idea what is going on. Adding `await wrapperwm.$nextTick()` doesn't

[2021-05-08 12:27] adi518 opened #576 "Error when mounting a renderless component with slots"
### Subject of the issue

The test fails with `Cannot read property '$createElement' of undefined` when mounting a renderless component with a slot.

### Steps to reproduce

Run the following test:
[code]

### Expected behavior

It should pass without errors.

### Actual behavior

It emits the following error:
[code]

### Possible Solution

I tried setting `$createElement` as a global in `jest-set

[2021-05-09 00:35] adi518 opened #577 "Trigger doesn't work on a component with a renderless root component"
I have a `FacebookLogin` component, which consists of a `Button` component and a `Scope` component. The `Scope` component doesn't render anything but its slot. On test, when I try to trigger a `click` event onto `FacebookLogin`, the event doesn't actually pass down to the Button component, resulting in a failed test.

`App.vue`
[code]

`FacebookLogin.vue`
[code]

`FacebookLogin.spec.js`:
[code]

R

[2021-05-09 10:38] adi518 commented on #452
How do we access it with a plain render function?

[2021-05-09 23:58] lmiller1990 commented on #452
Please share the component and test you are having problems with @adi518.

[2021-05-10 00:19] lmiller1990 commented on #549
Interesting - you are probably correct. I think we only want that variable to be true in the iife build (for usage in a browser, like from a CDN). We should be able to mess around in [rollup.config.js](https://github.com/vuejs/vue-test-utils-next/blob/233ca806db022f78869241051a1f6187ae4abdbe/rollup.config.js#L34) to fix this.

[2021-05-10 00:19] adi518 commented on #452
You can check it out here: https://github.com/adi518/vue-facebook-login/blob/next/packages/vue-facebook-login-component-next/tests/unit/FacebookLogin.spec.js#L142

Previously (Vue 2) I could do this: https://github.com/adi518/vue-facebook-login/blob/next/packages/vue-facebook-login-component/tests/unit/FacebookLogin.spec.js#L122

I described my use case here: https://github.com/vuejs/vue-test-util

[2021-05-10 00:25] lmiller1990 opened #578 "Scoped slots with render function not working like in V1"
Context:

VTU v1 (unofficially?) supported this:

[code]

But it's not working in this lib.

While this feature was not documented, so it's not technically a breaking change to the public API, it'd be good to match the original behavior as much as possible.

Originally described in more detail: https://github.com/vuejs/vue-test-utils-next/issues/452#issuecomment-835969505

[2021-05-10 00:26] lmiller1990 commented on #452
Neat, I had no idea you could do that (even in VTU v1). Hidden feature - it's definitely not documented, as far as I know. It would be good to support that here, too.

I made an issue to track it: https://github.com/vuejs/vue-test-utils-next/issues/578. I have no idea if/how to implement this off the top of my head.

[2021-05-10 00:38] adi518 commented on #452
I was too, surprised that hack actually worked, but it's not pretty, so I hope we can go back to the template literal when it's fixed. I did try all of the suggestions in https://github.com/vuejs/vue-test-utils-next/issues/452#issuecomment-795685869, but it made the test throw ambiguous warnings, see below:
[code]

[2021-05-10 00:50] lmiller1990 commented on #452
Oh - I thought you *wanted* to use a render function. Do we still have a bug with template literals?

[2021-05-10 02:54] elliottregan opened #579 "Props are not added to instance when calling mount() in simple example"
I built a simple demo based on the documentation's example. Data properties get rendered correctly, but any Props get dropped.

In the console, I get these errors:

[code]

If I log the imported Vue component (before calling mount), I see the props as
[code]

## Test file
[code]

## Vue Component
[code]

I can add more details here, but the full project with the broken test examples can be found h

[2021-05-10 03:54] ddzy commented on #228
Any progress?

[2021-05-10 06:38] ddzy commented on #270
Any progress?

[2021-05-10 12:23] Nowadays opened #584 "Cannot read property 'addEventListener' of null if setup returns a promise"
Using vue 3.0.11 and @vue/test-utils 2.0.0-rc.6

In a Jest environment, if the component you're testing has a `setup` function marked as async, the following error happens when mounting:

[code]

I tried refactoring using the lifecycle hooks to remove the need of `await` in the setup function, however the render fails because the object is undefined, using a simplified example:

The template:
[cod

[2021-05-10 12:45] cexbrayat commented on #575
Hi @vuesomedev
Thank you for opening an issue.

Can you try with the most recent Vue and VTU releases (3.0.11 and 2.0.0-rc.6 I think)?

[2021-05-10 13:09] Nowadays commented on #584
@cexbrayat Opened a PR with both errors reproduced in tests: https://github.com/vuejs/vue-test-utils-next/pull/585

[2021-05-10 13:24] cexbrayat commented on #584
Thanks I see what's going on now.

For the async setup: you can't mount the component directly, you have to wrap it in a Suspense. Something like:

[code]

For the sync setup: I think the error is pretty normal as you don't initialiaze `souscription`.
Change it to `const souscription = ref({ reference: '' });` and the error will go away

[2021-05-10 14:51] cexbrayat commented on #577
Cool, that's what I was thinking. I don't see how it could work otherwise?
If you can provide a minimal reproduction we'll get a better understanding of what you expect. Otherwise, if you think it's enough, we'll close the issue.

[2021-05-10 15:04] elliottregan commented on #579
Ok, the issue is due to using the `.mjs` extension for my test files.

If I include `babel-jest` in my transforms, and remove the `.mjs` extension, my tests run as expected.

[code]

If this is a scenario you're interested in exploring, I can open a PR. Seems like a fair requirement to include Babel for the time-being, though.

[2021-05-11 01:18] lmiller1990 commented on #270
Do we even have a problem? It looks like this was resolved and closed.

If you have a problem with `setValue`, please open a new issue with your reproduction. Thanks!

[2021-05-11 01:20] lmiller1990 commented on #228
`setData` exists and works the same as in Vue Test Utils v1.

Are you asking for progress on the class components? Please open a new issue with your minimal reproduction if you think you found a bug. No need to bump up old issues - don't be afraid to open a new one if you think there's a problem in the library.

[2021-05-11 01:22] lmiller1990 commented on #452
Ok. Maybe related: https://github.com/vuejs/vue-test-utils-next/issues/549

If you'd like to open a new issue with your exact reproduction, that's the best way to ensure this doesn't get forgotten - since we are discussing in a closed issue, it's easy for this to get swept under the rug.

[2021-05-11 01:31] lmiller1990 commented on #482
Thanks, I'll continue on from your PR this week.

[2021-05-11 03:13] Chris-Kin commented on #194
updating @vue/test-utils to 2.0.0-rc.6 fixs this problem for me.

[2021-05-11 06:33] cexbrayat commented on #577
I agree, I would test it like that as well.

@adi518 I'm going to close the issue, as It looks like it works as expected. Feel free to open another one if needed.

[2021-05-11 06:33] #577 closed

[2021-05-11 10:46] senaria commented on #530
Hey I ran into the same issue. We would like to have it fixed. Therefore could you revert it?

[2021-05-11 11:10] #415 closed

[2021-05-11 11:53] adi518 commented on #577
But that's just circumventing the framework. It worked fine with Vue 2, so why not here?

[2021-05-11 12:04] adi518 commented on #576
TSX? did you mean JSX? I'm developing this component with Vite, so I simply used a Vite Vue template with some stuff added from a Vue CLI template to support tests, see: https://github.com/adi518/vue-facebook-login/blob/next/packages/vue-facebook-login-component-next/package.json.

[2021-05-11 14:01] shayneo commented on #245
also seeing this in a yarn monorepo setup

[2021-05-11 14:57] lmiller1990 commented on #577
Hm, this worked in VTU v1? We should match the behavior as much as possible.

One difference between Vue 2 and 3 is we now have components with multiple roots.

[2021-05-12 00:24] lmiller1990 commented on #577
A minimal example should be:

[code]

Is this correct? You code base has a lot going on, I tried to extract out something simple so someone can work on this.

Basically the v1 behavior is something like "if wrapper has a root node and you call trigger, simulate that DOM event on the root node". In this case, because are using `mount`, the root node is `<button>` with the click event passed all the

[2021-05-12 00:50] lmiller1990 commented on #245
I am using this in [Cypress yarn monorepo](https://github.com/cypress-io/cypress/blob/3eee53fc09264b5760eae04694ad8ec32b589cc7/npm/vue/package.json#L30) and it's working fine for me there.

We should fix the yarn 2 issue first, and figure out if there are any other issues (yarn 1, etc) elsewhere. Thanks for the PR @shayneo, any chance you can confirm it's working in yarn 2?

[2021-05-12 00:59] lmiller1990 commented on #576
TSX, JSX... same thing really :)

What I mean is we will need to update this code base to support working with JSX/TSX. The best way to get this fixed is something like:

1. add JSX/TSX support to this code base.
2. reproduce problem with a minimal test in this code base.  Create PR (failing is fine).
3. get the test green and passing.

I can work on this, but I also have many other things to work

[2021-05-12 01:09] lmiller1990 commented on #530
The problem is either way, we have a breaking change from V1 - if we revert it, https://github.com/vuejs/vue-test-utils-next/issues/362 is going to a problem again.

In a real browser, if you do:

[code]

So the code in https://github.com/vuejs/vue-test-utils-next/issues/362 makes Test Utils stubs closer to the generally expected behavior in a browser - reverting this seems like a step backwards,

[2021-05-12 07:20] yakobe commented on #530
The problem is that all snapshots that use the same component more than once break with that change too. It's not just when you query for prop values. That seems like a more serious break 😬. Literally half my test suites on multiple projects fails if I upgrade past RC3.

I would like to try to help solve the problem, but my knowledge how things work in this code base is very limited. Perhaps the p

[2021-05-12 22:06] p-v-d-Veeken opened #592 "Getting vue-rx-next to work with vue-test-utils-next"
I'm trying to test a component making use of the `$watchAsObservable()` function from [vue-next-rx](https://github.com/NOPR9D/vue-next-rx). However I can't get the observable to fire in the test, even though the functionality is working in the browser.

For reference this what I'm trying to achieve:

Example.vue
[code]
Example.spec.ts
[code]
main.ts
[code]

Any help or pointers in the right direct

[2021-05-13 01:11] lmiller1990 opened #593 "Update migration guide"
We have this: https://github.com/vuejs/vue-test-utils-next-docs/blob/master/src/guide/migration.md

It should be in the docs - I guess it got missed when moving the docs to this repo.

[2021-05-13 08:42] cexbrayat commented on #592
Hi @p-v-d-Veeken

I'm not familiar with vue-next-rx, but as it is a plugin you need to provide it to your test when using mount.
Check out https://next.vue-test-utils.vuejs.org/api/#global-plugins it should help you.

Let us know if that doesn't work. In the meantime, I'm going to close the issue.

[2021-05-13 08:42] #592 closed

[2021-05-13 08:53] #593 closed

[2021-05-14 01:58] lmiller1990 commented on #530
The caching was adding in [this PR](https://github.com/vuejs/vue-test-utils-next/pull/453) for the specific reason to make it so you don't need call `getComponent`  again to get the updated version, removing it will definitely break the original bug it fixed.

While I understand snapshot + `shallowMount` is somewhat common in the Vue testing community, it breaks a lot of well established practices

[2021-05-14 09:17] dobromir-hristov commented on #578
What do you mean, you have access to the scope props when you pass a function, from what I know
[code]

[2021-05-14 09:53] p-v-d-Veeken opened #601 "Plugin functionality (vue-next-rx) not working"
Hi,

I originally opened issue #592, which I got some very friendly and helpful feedback on. Unfortunately, I was not able to get the test to succeed.

I'm trying to test an rxjs observable which is derived from a variable in `data()` and which _should_ fire every time the variable is updated. I can observe the correct behaviour in the browser, but not in the test unfortunately.

Example.vue
[code

[2021-05-14 10:12] vuesomedev commented on #575
Upgrading test utils also fixed the issue, thanks

[2021-05-14 10:12] #575 closed

[2021-05-14 10:49] cexbrayat commented on #601
There is probably some asynchronous code going on in the observable.
Try to add `await nextTick()` or `await flushPromises()` after setting the value, that might do the trick.
See https://next.vue-test-utils.vuejs.org/guide/advanced/async-suspense.html#resolving-other-asynchronous-behavior

[2021-05-14 11:14] p-v-d-Veeken commented on #601
Hmm, no luck for:
[code]
I've checked out the [implementation of `$watchAsObservable`](https://github.com/NOPR9D/vue-next-rx/blob/main/src/methods/watchAsObservable.js) and it uses a component instance's `$watch` function under the hood.

Does this get me any further, or should I maybe try something less unorthodox? 😛

[2021-05-14 12:19] cexbrayat commented on #601
OK this was a tricky one, took me some time to figure it out 😅

`watchAsObservable` is using `setTimeout` (see https://github.com/NOPR9D/vue-next-rx/blob/main/src/methods/watchAsObservable.js#L20). That means this code is never executed in a unit test.

With jest, you can use fake timers.
So the following should work:
[code]

Closing, as this is not an issue in VTU.

[2021-05-14 12:19] #601 closed

[2021-05-15 04:36] p-v-d-Veeken commented on #601
Awesome, thanks so much!!

[2021-05-17 01:30] lmiller1990 commented on #578
Hey, long time no talk.

Does this mean the snippet I posted already works? I assumed it did not, based on this [discussion here][(https://github.com/vuejs/vue-test-utils-next/issues/452#issuecomment-835969505).

[2021-05-17 03:36] WingDust commented on #456
@lmiller1990 , How to using test-utils in browser,I can't find in Doc.

[2021-05-17 04:36] lmiller1990 commented on #456
Do you mean from a cdn (using `<script src="/vue-test-utils.js">` or with a bundler like Vite (and run in the browser?)

[2021-05-19 13:55] YutamaKotaro opened #606 "Using renderStubDefaultSlot disable shallow option."
## What's happened?

I ran into strange behavior using shallow and renderStubDefaultSlot.
It seems to be a bug, I guess.

## Code

[code]

## actual

Shallow option is disabled unexpectedly.

[code]

## expected

[code]

## Workaround
As workaround... there is a way using config object, but I wonder this is not expected behavior for global option of mount.

PR: #607

[2021-05-19 20:30] mariusheine commented on #530
We ran into the same problem. We don't check against a snapshot but we check if attributes have specific values so something like

[code]

where the second assertion would fail due to the caching.

Shallowing makes sense in those cases where the ai-icon component has its own tests. If we use mount it might cause issues due to mocking or other stuff at any later point.

So do you have any ideas or

[2021-05-19 22:54] yakobe commented on #530
@mariusheine that's a similar situation to me. I'm rarely using snapshots anymore, but I have many scenarios where I use shallow mounts to reduce side effects and test for attributes/props on them.

[2021-05-20 01:27] lmiller1990 commented on #530
@mariusheine it's a bug so we should definitely fix it. I did not get to explore this deeply yet. Happy to either help out if someone has the time to, or do it when I have the time. I don't have an idea on how to fix it immediately, my approach is normally to add the test case I want to pass into this code base, then just run the tests in watch mode and modify code until everything passes.

@yakob

[2021-05-20 01:45] #482 closed

[2021-05-20 01:46] lmiller1990 commented on #482
This feature has been implemented anad will be released soon.

[2021-05-20 05:28] #606 closed

[2021-05-20 13:13] yakobe commented on #530
@lmiller1990 Sounds good! I would love to help.

My change in https://github.com/yakobe/vue-test-utils-next/commit/3283eeeabaa7fb6da81be6b611e18c44f0e4409b extends the existing tests with an extra check for this bug. It obviously fails at the moment but I guess we can fiddle with the code until everything passes 😄.

Unfortunately I'm a noob at contributing to OSS. I have many years of non-OSS, but

[2021-05-21 00:49] lmiller1990 commented on #530
The flow is pretty much the same as non OSS.

- identify problem (we did that here)
- fork and clone this repo (you did that [here](https://github.com/yakobe/vue-test-utils-next/commit/3283eeeabaa7fb6da81be6b611e18c44f0e4409b)
- add a test to reproduce the current problem, a more minimal version of the test in the OP (also you did that [here](https://github.com/yakobe/vue-test-utils-next/commit/32

[2021-05-21 11:42] MENtechmedia opened #615 "Reference native UI elements in a test with vue 3 & vue test utils without adding attributes to a UI element"
**Question: How can you reference native UI elements in vue 3 and vue test utils without adding extra attributes to that UI element?**

When testing vue components with vue 3 and vue test utils, I noticed that there wasn't really an elegant way to find UI elements. Since Vue 3, Vue Test Utils does not provide a way to use the ref attribute anymore (maybe I'm wrong, but the docs don't mention it) o

[2021-05-22 11:33] loocurse opened #611 "Cannot mount mock router with composition API"
Hello,

I seem to be struggling with the same issue as this user in [stackoverflow](https://stackoverflow.com/questions/65592988/vue-test-utils-with-vue-router4-and-vue3-composition-api).

Specs: Vue 3 | Vuex 4 | VTU 2

I followed the [VTU 2 documentation](https://next.vue-test-utils.vuejs.org/guide/advanced/vue-router.html#using-a-mocked-router) but it uses the `$router`. However, I am using the

[2021-05-22 11:39] YutamaKotaro commented on #530
I created PR #610 for this problem, and want to resolve this issue too ...!!
However it has a little problem, what do you think of it ??

[2021-05-22 17:21] cexbrayat commented on #611
@loocurse In your component, where does `route` come from? Are you using the composition API with `useRoute()`?

[2021-05-23 00:58] loocurse commented on #611
Yes correct

[2021-05-23 05:53] cexbrayat commented on #611
In that case using `global.mocks` won't help you.

You can use https://github.com/posva/vue-router-mock and set route and the params to whatever you want.
Hope this helps.

Closing as this is not a VTU issue.

[2021-05-23 05:53] #611 closed

[2021-05-24 05:38] lmiller1990 commented on #530
@YutamaKotaro wow, great!

what is the "little problem" you are referring to?

[2021-05-24 05:46] lmiller1990 commented on #615
For `findComponent`, you can use `ref`. [See here](https://next.vue-test-utils.vuejs.org/api/#findall).

What is a native UI element? Do you mean HTML elements, like `<button>` and `<div>`? For those, you can do `wrapper.find('button')`. `find` is basically just `querySelector`.

I am not clear on why adding a `ref` would be more elegant than adding a `data-test` selector (both require you to add

[2021-05-24 07:52] MENtechmedia commented on #615
Thanks for your response.

You can't target `ref` on native UI elements (HTML elements like `<button>` and `<div>`) right?

I'm not a fan of adding ref either. But I think it's better and more intuitive than adding data-test, since it's something vue provides. I think you could also test if the ref exists and that it's not empty (or atleast contains a HTML element)?

Anyway, wrapper.find('button')

[2021-05-24 13:04] YutamaKotaro commented on #530
@lmiller1990
As you already gave me comments, what I meant was the orders of attributes and props.
https://github.com/vuejs/vue-test-utils-next/pull/610#discussion_r637392308
So, there is no big problem. Thanks for your kindly comments !!

[2021-05-24 13:21] lmiller1990 commented on #615
I think `data-test` is a bit better in this case.  It's something the DOM provides, and it already works out of the box.

I definitely understand your pain. I usually just add specific `data-test` attributes for a specific element.

I think what you might be looking for is something like [Testing Library](https://testing-library.com/docs/vue-testing-library/intro/). It has Vue integration (which u

[2021-05-24 13:30] MENtechmedia commented on #615
Thanks for coming back to me with an answer so quickly!

I will take a look at those Libraries and try them out. For now I will stick to `data-test` when referencing specific elements.

[2021-05-24 13:30] #615 closed

[2021-05-25 01:55] lmiller1990 commented on #530
Hello everyone. @YutamaKotaro fixed this problem. I will do a release soon with the fix.

[2021-05-25 01:55] #530 closed

[2021-05-25 09:51] liuzaijiang opened #618 "Setchecked reported TS error [ts(2341)] in use"
the test is:
[code]
the error is :  `Property 'setChecked' is private and only accessible within class 'DOMWrapper<ElementType>'.ts(2341)`

this version is: `@vue/test-utils": "^2.0.0-rc.6"`

[2021-05-25 09:55] cexbrayat commented on #618
@liuzaijiang I think this is intended: you're suppose to simply use `setValue(false)` instead.

See https://next.vue-test-utils.vuejs.org/api/#setvalue

[2021-05-25 09:55] #618 closed

[2021-05-25 13:48] dobromir-hristov commented on #578
I use it and it works. I even remember working on it hehe

[2021-05-25 15:14] wujekbogdan commented on #549
I don't think the issue is related to test utils. I'm experiencing a similar issue with a custom render function:

[code]

In the console I'm getting:

[code]

It has something to do with slots, because as soon as I remove the slot from the template (`const templateString = '<div>I'm a div</div>';`) the warning goes away.

[2021-05-26 03:06] lmiller1990 commented on #578
Neat. Might be good to add this to the docs somewhere with an example.

[2021-05-26 04:26] lmiller1990 commented on #549
What do `compile` return? You generally need to return a function from `setup`, for example `return () => compile(templateString)`.

We have a test around the use case described in this issue, see here: https://github.com/vuejs/vue-test-utils-next/blob/279aa832a05191e113874a31cadff8a4cb424274/tests/mountingOptions/slots.spec.ts#L24.

I think this is an issue relating to configuration. This  code b

[2021-05-26 14:16] YutamaKotaro commented on #576
I guess.. this is already not a bug, because I tried this test case and works well.
So, it's ok to close this issue, I wonder.

@adi518 If you'd like, please see this config for your test.
https://github.com/YutamaKotaro/vue-test-utils-next/commit/c9e99facef15bba175266bf4fe49ecee29786c75

If there is something wrong, I'm very sorry 🙇🏻

[2021-05-26 14:53] adi518 commented on #576
@YutamaKotaro I'm not using TS for that project. Is there a Jest config I should use instead?

[2021-05-27 14:34] YutamaKotaro commented on #576
@adi518
I think you don't need anything, because I tried your test case on your repository and it worked well.

https://github.com/YutamaKotaro/vue-facebook-login/commit/8cb7d3651c07e3d2511c5a6a598c7369daed35c1

So, I don't know what is your issue.
Do you still have the issue ??
Or have you tried re-install packages and run test ?

Sorry for not resolving issue quickly.

[2021-05-28 02:16] liuzaijiang opened #624 "Failed to test the focus method of the checkbox component"
test:
[code]
version:  2.0.0-rc.6

The focus method calls the input native focus method.

[2021-05-28 07:42] m-barrera opened #627 "AsyncComponent can't be mounted"
Hello I encountered an issue when using asyncComponents the mount seems to fail.

For my Icons Component, I use a base class that used asyncComponents to lazy load the iconname.vue files which consists only out of a template containing some props to change the color and size of the svg code part.
When trying to test my components by using mount it does not mount the asyncComponent in this case the

[2021-05-28 10:24] cexbrayat commented on #627
Have you tried calling `await flushPromises()` before `wrapper.findComponent`? As the resolution is async, I wouldn't be surprised that you need to wait for it before checking your template.
See https://next.vue-test-utils.vuejs.org/guide/advanced/async-suspense.html for more info

If that doesn't help, maybe it's an issue. It would be ideal if you could provide a simplified repro, either as a git

[2021-05-28 10:29] cexbrayat commented on #624
Hi @liuzaijiang
Can you share what IxCheckbox looks like?

[2021-05-28 12:53] m-barrera commented on #627
@cexbrayat Thank you for the quick reply using await flushPromises() did not solve it for me.
Here a quick replication repo https://github.com/m-barrera/vue-test-asynComponent-issue.

I am still unsure if it is an issue or just me doing something wrong.

Kind regards

[2021-05-28 13:59] liuzaijiang commented on #624
https://github.com/IduxFE/idux/tree/main/packages/components/checkbox/src

[2021-05-29 09:14] YutamaKotaro opened #629 "We can't use isVisible in vueWrapper ?"
Sorry... this is not issue, just feature request 🙇🏻

I wrote the detail about this feature request in PR ( #628 ).

In short, I'd like to use isVisible in vueWrapper 🙇🏻

[2021-06-01 09:31] cexbrayat commented on #624
One of the maintainers will take a look when we have some free time, and try to find what is the issue (if there is one). I probably won't be able to look into it in the next days.

If you want, you can give it a try, contributions are most welcome!
I usually start by adding a unit test to the codebase with a simple reproduction, then try to understand what's going on.
Sometimes the fix is fairly

[2021-06-01 10:57] lmiller1990 commented on #629
Hi! Posted some questions in your PR.

I don't remember the specific reason for not having `isVisible` on `VueWrapper`. @afontcu might have some recollection?

[2021-06-01 11:00] lmiller1990 commented on #624
We had something like this recently in VTU v1. Can you try using `attachTo`? See [here for more info](https://github.com/vuejs/vue-test-utils/commit/83aa823b5c2c230bded1f7dcf349166a05886262).

[2021-06-01 12:57] liuzaijiang commented on #624
@lmiller1990  tks！using attachTo

[code]

[2021-06-01 14:07] YutamaKotaro commented on #629
@lmiller1990 Thanks for your kindness !!

FYI:
That pull request doesn't work in multiple root due to #629.
So, I'll try to fix it mean while 🙇🏻

[2021-06-01 18:01] Giwayume opened #638 "2.0.0-rc.6 Poor error handling with promises & empty wrapper"
### Subject of the issue

If I resolve an empty DOMWrapper as the return value of a promise, which is then awaited by an async function, get this error:

[code]

### Steps to reproduce

[code]

### Expected behaviour

The test above should pass.

### Actual behaviour

Getting this error.

[code]

### Possible Solution

This is way too generic.
https://github.com/vuejs/vue-test-utils-next/blob/ecf7

[2021-06-02 01:23] lmiller1990 commented on #624
Did it work?

If it does, please close the issue :)

[2021-06-02 01:24] #624 closed

[2021-06-02 06:17] lmiller1990 commented on #638
How about this? https://github.com/vuejs/vue-test-utils-next/pull/641. I added your test case.

[2021-06-02 06:32] lmiller1990 commented on #627
This is an issue in your configuration or code base.

I pasted your exact code into this code base and it worked as expected. Here's the branch: https://github.com/vuejs/vue-test-utils-next/compare/repro-627?expand=1

Happy to help explore the problem in your code base more, but I don't think this is a bug, so I will close this one for now. I'll take a closer look at your code base in the meantime

[2021-06-02 06:32] #627 closed

[2021-06-02 06:37] lmiller1990 commented on #627
I keep getting

[code]

I guess the async import is not working for... some reason 🤔

[2021-06-02 06:49] lmiller1990 commented on #627
I tried a bunch of things but I could not get an import with string interpolation to work with mocha + webpack. I think there should be some way to do this, I am not sure what it is. I'd like to know.

[2021-06-02 07:15] m-barrera commented on #627
Hi first of all thank you for your investigation.  I just tested the repo I prepared and
yes you are right this error occurs but strangely only in this repo. In the main repo it does
not complain about not finding the vue file. The only diffrence in the main repo are storybook and our vue.config.js which only handles automatic imports for scss files.

[code]
I would like to stick to mocha & chai b

[2021-06-02 13:12] Giwayume commented on #638
That works too, I just worry there's always something you're going to be missing by piecemealing this way.

[2021-06-03 12:26] lmiller1990 commented on #638
I'm not sure what "piecemealing" means, but this seems okay. If we run into more problems, we can consider something similar to VTU v1.

[2021-06-03 12:26] #638 closed

[2021-06-03 17:46] Giwayume commented on #638
Piecemeal is to hand-pick, as in add excluded properties as problems are found. I prefer to write code that is safe under unknown conditions, which is the way v1 worked.

[2021-06-04 01:02] lmiller1990 commented on #638
Thanks for clarifying that. I see your perspective too; if anything else comes up around this, let's revert to the more boilerplate heavy but reliable style of writing out each method.

I will release this patch soon.

[2021-06-04 01:08] lmiller1990 commented on #627
Does this happen in a Vue CLI project out of the box?

I'll research this a bit more when I have time. It's definitely a config issue - not a Test Utils specific one - but it's not entirely clear how to solve it. Mocha and chai is pretty good, I'd like to have this working for that combination of libraries.

[2021-06-04 20:07] TheDutchCoder commented on #549
I'm also seeing this issue, but with regular SFC's.

Example component:
[code]

Test:
[code]

The tests pass, but there's a warning in the console:
[code]

[2021-06-07 00:56] lmiller1990 commented on #549
@TheDutchCoder I copy pasted that exact code into the repo for this code base and I am not seeing the warning. Can you provide the version(s) and configuration you are using? Are you using babel-jest?

[2021-06-07 18:05] JJBocanegra opened #651 "Can't get emitted events with the script setup RFC"
[The script setup RFC](https://github.com/vuejs/rfcs/blob/script-setup-2/active-rfcs/0000-script-setup.md) is a proposal for Vue 3 that introduce a new script type in Single File Components: `<script setup>`, which exposes all its top level bindings to the template.

Using this, I can't catch any events emitted from the mounted component in the tests.

**NewSetupComponent.vue**
[code]

**NewSetupC

[2021-06-08 13:10] lmiller1990 commented on #651
Interesting. Definitely a bug.

I will investigate this. We should definitely have more coverage around `<script setup>` - still experimental, but I'd like to support is as best we can.

[2021-06-08 20:06] TheDutchCoder commented on #549
Hey @lmiller1990
We're not using babel-jest, I'll list the version of related things though:
[code]

This is the stack trace, it seems to have something to do with slots:
[code]

[2021-06-08 20:13] TheDutchCoder commented on #549
To add: we narrowed it down to it really being an issue with slots.
Both default slots and named slots cause this issue to arise when testing. I looked at the source but I can't really see what the issue would be.

[2021-06-11 10:48] Leravig commented on #418
Are there any news about it? It would be nice to have a proper way to test components using teleport.

[2021-06-12 08:31] lmiller1990 commented on #629
Merged.

[2021-06-12 08:31] #629 closed

[2021-06-12 08:47] lmiller1990 commented on #549
Fixed here: https://github.com/vuejs/vue-test-utils-next/pull/661

[2021-06-12 08:53] lmiller1990 commented on #651
I am going to work on this now. I did some digging, I *can* capture a `click` event. The problem is unique to custom events. I'll keep debugging.

[2021-06-13 11:24] lmiller1990 commented on #651
I fixed this. This fix probably breaks something, I don't know why it works, but it's a start. https://github.com/vuejs/vue-test-utils-next/pull/663

I have not used `expose`, I am not sure what the current implementation is, either.

[2021-06-13 11:42] #549 closed

[2021-06-17 00:52] lmiller1990 commented on #418
I will write something this week.

Any particular scenarios you'd like to see documented? I see several:

1. I have a component with a `<teleport>`. How do I create an element to teleport to?
2. I want to make assertions against the child content of a `<teleport>` (that were teleported away)

Eg:

[code]

Use case: you want to assert the dynamic `msg` was rendered. Is this the kind of guidance you

[2021-06-17 03:00] lmiller1990 commented on #418
You can follow my experiments and exploration here: https://github.com/vuejs/vue-test-utils-next/issues/418

I'd like to use apply the VTU wrapper API to the teleported components and elements, too. Currently that isn't working, but I don't think it'll be too difficult to implement.

[2021-06-20 12:21] #651 closed

[2021-06-22 02:36] zouhangwithsweet opened #683 "The `expose` methods cannot be got on the `vm`"
[code]
The `vm` doesnot have the `alert` methods.

[2021-06-22 07:48] cexbrayat commented on #683
@zouhangwithsweet Thank you for opening an issue. Which version of VTU are you using?

If it is version `2.0.0-rc.8`, it might be related to https://github.com/vuejs/vue-test-utils-next/pull/663

Try with `2.0.0-rc.6` and let us know if you also have the issue.

[2021-06-22 11:24] zouhangwithsweet commented on #683
OK, sir.

[2021-06-22 11:47] zouhangwithsweet commented on #683
There is still have the issue with `rc.6`.

**Reproduction**

test.vue
[code]

spec.ts
[code]

[2021-06-22 15:00] micDropper opened #684 "Expose Better Global Config API"
We create a Vue 3 app like this:
[code]

Why not make the vue-test-utils global configuration for the `mount` method similar so we can share the same setup function?
[code]

Where `setup` is a function that might look like this:
[code]

[2021-06-23 03:57] lmiller1990 commented on #684
I don't fully understand your proposal. What API are you suggesting?

[2021-06-23 03:58] lmiller1990 commented on #683
As soon as I saw this I thought it might be related to https://github.com/vuejs/vue-test-utils-next/pull/663 as well. But it looks like it isn't.

That said, if you are not using `<script setup>`, you don't need to use `expose` at all. Everything should be available.

[2021-06-23 04:26] lmiller1990 commented on #683
Seems we have a bug somewhere. I made this example:

[code]

I was able to do `console.log($app.$)` and search for `expose`. It has an object like `exposed: { bar: [Function] }`.

Doing mount with `mount(() => h(Test))` also seems to do something strange. I made this example:

[code]

And was able to expose something on the top level. Unrelated, but I am not clear on the `mount(() => h(Test))` syn

[2021-06-23 07:53] #418 closed

[2021-06-23 07:55] lmiller1990 commented on #418
Done: https://next.vue-test-utils.vuejs.org/guide/advanced/teleport.html

I think this probably fine for now; we can consider more helpers/utils if this doesn't suffice.

[2021-06-23 18:11] Giwayume opened #689 "findAllComponents() returning the same component twice?"
Is there a reproduction template for https://codesandbox.io? I'm having trouble finding one.

My component looks something like this:
[code]

Test is trying to retrieve all component instances by the custom attribute:
[code]

It fails on the length assertion, appears to return the same component twice, even though array controlling the loop has 1 item.

If this problem is not familiar to you, I'd

[2021-06-24 13:44] zouhangwithsweet commented on #683
I think `expose` just like assign some methods into `getcurrentinstance().proxy`

[2021-06-25 00:43] lmiller1990 commented on #683
Something is weird with `expose` in Test Utils, I don't know what, but I am going to find out. I'll spend a bit more time on this over the weekend. `expose` is still experimental but it sure would be nice to support it.

[2021-06-25 00:51] lmiller1990 commented on #689
I could not reproduce this: https://github.com/vuejs/vue-test-utils-next/compare/issue-689?expand=1

I don't think we have CSB yet. You could fork this repo, and reproduce it there - that'd be ideal, since then if there is a bug, we have the failing test case. I usually put components for reproductions inside of https://github.com/vuejs/vue-test-utils-next/tree/master/tests/components. You can use

[2021-06-25 13:47] #578 closed

[2021-06-25 13:48] lmiller1990 commented on #576
I cannot reproduce this either - I copy pasted the example from the OP into this code base and it works as expected: https://github.com/vuejs/vue-test-utils-next/pull/691

Going to close this one.

[2021-06-25 13:48] #576 closed

[2021-06-25 13:49] lmiller1990 commented on #427
I think this is a limitation we will need to live with. Might be good to document it.

[2021-06-25 13:53] lmiller1990 commented on #427
Docs: https://github.com/vuejs/vue-test-utils-next/commit/a6146a8c91a7ce5aa7fac716a4e0f8387bc95429

[2021-06-25 13:53] #427 closed

[2021-06-25 13:54] #245 closed

[2021-06-25 13:59] lmiller1990 commented on #385
I guess this is now fixed - I could not reproduce:

![image](https://user-images.githubusercontent.com/19196536/123435827-555edb00-d611-11eb-8385-bc1d43e6811e.png)

Let me know if this is still a problem.

[2021-06-25 13:59] #385 closed

[2021-06-25 14:00] lmiller1990 commented on #392
Seems closed by https://github.com/vuejs/vue-jest/issues/328

[2021-06-25 14:00] #392 closed

[2021-06-26 01:56] TheJaredWilcurt opened #693 "docs: Migration findAll.at(0) => findAll[0]"
The migration guide should make it obvious that `.at(0)` has been removed from `.findAll`

* **Before:**
  * `wrapper.findAll('[data-test="token"]').at(0)`
* **After:**
  * `wrapper.findAll('[data-test="token"]')[0]`

* * *

The new API docs for `.findAll` should include an example of selecting a specific item.

[code]

[2021-06-26 15:56] noah-friedman opened #694 "QUESTION: Any better way to do this?"
I'm trying to write a jest test with typescript. Is there any way to do what I'm trying to do with better typing?

[code]

The issue is that I cannot declare the `w` variable within the `beforeEach` callback and have the variable be accessible in the scope of the tests. However, this means I can't use type inference when declaring `w`. Is there anything I can put in place of `VueWrapper<any>` in o

[2021-06-27 01:15] TheJaredWilcurt opened #695 "BUG: <img src="@/file.png"> Throws error (images using WebPack alias)"
[code]

The `@/` in the `src` causes an error when ran with VTU/Jest.

![](https://user-images.githubusercontent.com/4629794/123502219-b938d200-d618-11eb-9690-ad1bd4310ea1.png)

Removing the `@` fixes it, however then the images fail to load in the app when actually ran.

Not sure if this is in VTU (RC12), Vue 3, or something weird with my setup.

Reproduction:

* https://github.com/nwutils/nw-vue

[2021-06-27 16:49] afontcu commented on #694
Hi! Please let us know if this helps 😄: https://github.com/vuejs/vue-test-utils-next/discussions/297

[2021-06-27 16:50] afontcu commented on #693
Hi! Yeah, that makes sense! Fancy to open up a PR? 😃

[2021-06-28 05:54] lmiller1990 commented on #694
What is component? If it is imported from a `vue` file, then I don't think this is something supported (yet). It might be in the future via something like [Volar](https://github.com/johnsoncodehk/volar) and some work.

If you are using TSX, you should be able to get better typing just by doing:

[code]

[2021-06-28 15:25] eunjae-lee opened #706 "order of attributes on rendered html"
Hi there,
I'm working on Vue 3 support in [Vue InstantSearch](https://github.com/algolia/vue-instantsearch).
The goal is to support both Vue 2 and 3 in a single code base.

So I'm setting up

- test on Vue 2 with vue-test-utils@1
- test on Vue 3 with vue-test-utils@2

However I'm seeing difference in rendered html:

[code]

[code]

↑ vue-test-utils@1

[code]

↑ vue-test-utils@2

On the same compon

[2021-06-29 12:36] anbraten opened #713 "[Docs] Test usage of provide"
It took me quite some time to get an example of how to test a `provide` of a component. I want to test if the component uses the `provide` function correctly and if it does some stuff with the injected data from possible child components. Which is somehow the opposite of the existing option which is already in-build to `vue-test-utils`:

[code]

I finally got it working with the following code. Ma

[2021-06-30 01:53] kanryu opened #716 "Support `find({ ref })` syntax"
### Subject of the issue

Calling findComponent () with the ref method causes a run-time error.

### Steps to reproduce

[code]

[code]

- write a template like the one above
- call `wrapper.findComponent({ref: 'some_ref'})`

### Expected behaviour

findComponent() should return a valid node.

### Actual behaviour

runtime error.

[code]

### Possible Solution

I can't comment because I don't know

[2021-06-30 06:01] xanf opened #715 "feature: allow stubbing components by definition, not by name"
`stubs` has an important limitation for years - you can't stub anonymous component. Let me show that in code:

[code]

If you feel that this is rare use-case, it will come quite frequent when all fancy `setup()` / `<script setup>` things will come in play:

[code]

In real world, `AnonymousComponent` is usually coming from third-party library so "just add name" is not a solution. Obviously there i

[2021-06-30 06:16] xanf commented on #706
Hi @eunjae-lee
Same task here, same problem.
What I think - this should not be a VTU job. Instead we should use serializer, which (for example) sorts props when making snapshot

so the code will be the same: `expect(wrapper).toMatchInlineSnapshot(...)` (note missing ".html()") part.
Exposing additional configuration object might be confusing and does not protect us from future changes in order

[2021-06-30 06:59] xanf commented on #716
The issue is that VTU is expecting `findComponent` result to always be a Vue instance, while your ref is assigned to HTML node

Since this is perfectly valid use case, I believe a perfect solution is to add assertion there and throw in case of such scenario as first step. After that allow `find({ ref : ... })` on DOMWrapper and VueWrapper (this will require some effort, but is closely related to P

[2021-06-30 07:02] afontcu commented on #716
Adding a user-friendly exception there sounds a good first step. @kanryu fancy to open up a PR? 🚀

[2021-06-30 09:13] eunjae-lee commented on #706
Hey @xanf, yeah after creating this issue and talking to my colleague, I think I can use a serializer to make my tests pass.
However, I'm still curious, there must be some logic somewhere (in VTU, vue template compiler, or idk, somewhere) to generate that HTML string. And that has changed over time. If that's happened inside VTU, we could consider reverting it to have consistent output. Especially

[2021-06-30 09:16] xanf commented on #706
@eunjae-lee from what I know (sorry, don't have proof right away) this is coming from Vue core, not VTU

[2021-06-30 09:44] eunjae-lee commented on #706
Okay it makes sense. I'm closing this since there's no further action that can be taken here.

[2021-06-30 09:44] #706 closed

[2021-06-30 18:52] gabrielthomasjacobs opened #720 "isVisible() always returns true for cloned nodes"
### Subject of the issue

isVisible() always returns true, even when it shouldn't.

### Steps to reproduce

edit: see next comment by me for new/improved repro steps.

Create a div (use either):
`<div id="foo" v-show="false" />`

`<div id="foo" style="display: none" />`

in unit test:
` const fooItem = wrapper.get('#foo'); `
`expect(fooItem.isVisible()).toBe(false);`

### Expected behaviour

fooIt

[2021-06-30 19:19] afontcu commented on #720
Hi! just wrote the following test and it passes as expected:

[code]

is it possible that your real world case scenario is somewhat more complex? Do you think you could share a reproduction gist or repo?

[2021-06-30 22:09] gabrielthomasjacobs commented on #720
Yes, that is possible...
Do you mind trying this and seeing if it reproduces the error?
If not, I'll try to do another repro outside of my environment:

[code]

[2021-06-30 22:42] gabrielthomasjacobs commented on #720
Alright, I was able to download/run this repro and modify the example test. Unfortunately (for me), the test worked with the code I provided... My environment is a bit more complex, so I will have to do some digging; I will just close this out and re-open later if I can track the issue down to something test-utils is causing.

[2021-07-01 08:23] marina-mosti opened #721 "@vue/compat and VTU 2.0 incompatilibity"
Problem:

When trying to port an application from Vue 2 to Vue 3.1 compat VTU throws errors.

Example:

With the following package.json:

[code]

Consider the following component:

[code]

When serving the application with Vue 3 compat enabled, Vue will render the component correctly and issue a warning:
[code]

When trying to run the related unit tests for this component we get errors:
![image](h

[2021-07-01 21:48] gabrielthomasjacobs commented on #720
@afontcu Ok, after some more digging, it seems that my issue is stemming from the getComputedStyle call at vue-test-utils.esm-bundler.js:6658

Specifically, `var _a = getComputedStyle(element)` where element is `<div id="foo" style="display: none;"></div>`

from the browser console, `element.style.display` is equal to the string `"none"` but `getComputedStyle(element)` produces a cssStyleDeclarati

[2021-07-02 08:38] danranVm opened #726 "more util functions can be exported ?"
like: `isElementVisible`, `createDOMEvent` etc...

[2021-07-02 16:09] eunjae-lee opened #727 "lifecycle methods in child components not invoked"
Lifecycle methods in child components seem to be not invoked.

[code]

↑ https://github.com/eunjae-lee/vue-test-utils-snapshot-2/blob/master/src/Test.spec.ts#L11-L37

I expect console log from `Child` or even `Error` being thrown at `created`, but I don't see anything and it successfully(?) prints out the html.

However, this workaround works:

[code]

[2021-07-06 05:31] standbyoneself commented on #727
Cannot start and test your project because of many errors. Do you really need custom webpack configuration? Please use [vue-cli](https://next.cli.vuejs.org)

[2021-07-06 08:29] eunjae-lee commented on #727
It's based on [this](https://github.com/lmiller1990/vtu-next-demo) but I'll try to make another repro later today.

[2021-07-06 09:28] lmiller1990 commented on #715
I personally have no idea how useful this would be for the majority of users, but since it's not a breaking change, I don't have anything against it. The only real consideration is the complexity - do you see 1) significant difficultly in implementing or 2) unsolvable edge cases?

[2021-07-06 09:32] lmiller1990 commented on #721
Hi Marina!

I have not tried this yet, but @xanf has been doing a ton of work around VTU and Vue compat - most of which was merged in the last few days and has not been released. [Here is a list of the recent PRs](https://github.com/vuejs/vue-test-utils-next/pulls?q=+is%3Apr+author%3Axanf+).

I am going to do a release in the next hour or so, maybe some of these fixes will help. Also @xanf might h

[2021-07-06 09:37] lmiller1990 opened #733 "Master build is broken"
Check out master
Yarn install
Run tests
Failures.

I am not sure why, yet.

[2021-07-06 09:38] xanf commented on #721
@lmiller1990 the project size quickly goes out of control
What I've actually done - I've written a pretty thin "compat" layer which serves as a bridge for making VTU 1.x code to work in VTU2

@lmiller1990, WDYT of introducing compat flags similar to Vue to @vue/test-utils
Something like
[code]

with each compat documented in VTU. This will greatly help people in Vue2 -> Vue3 migration because whil

[2021-07-06 09:41] xanf commented on #715
No, actually I have a working prototype and it does not bring any complexity while really solving important pain points for shallow users. I'll open PR within couple of days

[2021-07-06 09:43] xanf commented on #733
@lmiller1990 Hmm, just tried with latest commit 6ca7884 and works for me both on Windows & Lines

[2021-07-06 09:53] lmiller1990 commented on #721
We could, my only concern is complexity - right now master is broken for some use cases for `shallowMount` and `<script setup>`, and I'm not sure why - adding another layer could make things really difficult to maintain, since we have a huge number of combinations of flags to test.

I personally haven't got any large Vue 2 apps I am upgrading, so I don't have a lot of context on the difficult of m

[2021-07-06 09:55] lmiller1990 commented on #726
We can, but it'd be nice to know what your use case is before we do. What do you have in mind?

[2021-07-06 09:56] lmiller1990 commented on #727
Sounds like a bug to me - this should be quite easy to repro in this repository if anyone wants to give it a go. I have to work on the Vue compat build stuff atm, but I can look into this after.

[2021-07-06 09:57] lmiller1990 commented on #733
I deleted the project, re-cloned and everything is working.

No idea what was going wrong. Anyway, it's green, so it's good.

[2021-07-06 09:59] lmiller1990 commented on #721
For example, things like the wrapper.find API changes are pretty easy to do by hand - my main concern is around some of the more complex ones, that are difficult to understand unless you know Vue extremely well.

If you want have some ideas @xanf happy to consider! A huge code-base like GitLab will probably have the strongest use case for this kind of feature. I don't have enough perspective on th

[2021-07-06 10:02] lmiller1990 commented on #733
Edit @xanf try running `yarn test:build`.

[2021-07-06 10:05] #733 closed

[2021-07-06 10:17] lmiller1990 commented on #715
Sounds good!

Also your many fixes are now out in rc.10 - thanks a lot for that. https://github.com/vuejs/vue-test-utils-next/releases/tag/v2.0.0-rc.10

[2021-07-06 10:18] lmiller1990 commented on #721
@marina-mosti can you try the latest version (rc.10) https://github.com/vuejs/vue-test-utils-next/releases/tag/v2.0.0-rc.10.

It might work better for you - lots of fixes around compat in this release.

[2021-07-06 10:25] marina-mosti commented on #721
Hey @lmiller1990 @xanf thanks, ill check out the PRs and try the build

[2021-07-06 11:13] marina-mosti commented on #721
Hey @lmiller1990 sad to report its still broken :(
I've uploaded the code to this repo for easier repro on your end: https://github.com/marina-mosti/vtu-compat-tests

The test is still breaking with the same error:
`TypeError: h is not a function`

--------

Additionally, I've found a new problem with the compat build with stubs. (or at least with VTU 2 not sure if its compat related).

When I stu

[2021-07-06 11:20] xanf commented on #721
@marina-mosti you need to add to your jest.config.js
`moduleNameMapper: { '^vue$': '@vue/compat', }`

to tell your test-environment about compat build

Regarding `findAllComponents` - IMO it is worth separate issue. Frankly speaking I find it a bit... wrong... finding stub instead of *stubbed component* (`findAllComponents(BaseLink)` should work), but this is point of separate discussion

[2021-07-06 11:45] standbyoneself commented on #727
I have created a simple repro: <https://github.com/standbyoneself/vue-slot-hooks>. The only one test is in `tests/unit` folder

The problem is in this part of code:

`src/mount.ts`
[code]

You passed your slot as an object so it simply renders without calling any lifecycle hooks.
You can be sure in this by going to and manually fix `node_modules/@vue/test-utils/dist/vue-test-utils.cjs.js` file.
Fi

[2021-07-06 12:11] marina-mosti commented on #721
Thanks @xanf 👍🏻 that clarifies. I'll open a new issue then for the other

[2021-07-06 12:11] #721 closed

[2021-07-06 12:13] marina-mosti opened #734 "VTU 2 is unable to find stubbed component with findAllComponents"
When I stub out a component and try to `findAllComponents(stub)` like this:

[code]

VTU can not find any. If I add a name property to the `linkStub`:

[code]

Then it works, I'm guessing because something is checking for a `name` to exist and then identifying it as an actual component. Its not a problem, but I don't think/havent found this documented anywhere if is working as intended.

Stubbing

[2021-07-06 13:16] standbyoneself commented on #734
Check out the `findAllComponents()` signature:

[code]

It takes an object with `name` key or a string

Also API Reference provides an example about stubbing:

[code]

Pay attention CustomStub also has a `name` key

[2021-07-06 13:20] #734 closed

[2021-07-06 17:46] #693 closed

[2021-07-07 01:18] lmiller1990 commented on #693
Should we also support the `at` syntax (with a deprecation warning)?

That might help with migration, too.

[2021-07-07 04:49] lmiller1990 commented on #721
If you found a bug, you should definitely open an issue, thanks @marina-mosti!

I'll reply in that issue if/when you open it. 👍

In general stubs are probably the mosts complex part of VTU. I am sure there are going to be some slight breaking changes between v1 and v2, but we should definitely match the old behavior as much as possible. If something worked in VTU v1, ideally it should work here, t

[2021-07-07 05:22] lmiller1990 commented on #727
Is there still a problem or is this fixed as of rc 10?

[2021-07-07 08:25] eunjae-lee commented on #727
I didn't know about `rc.10`. I just upgraded the version in my reproduction and it gives me this error:

[code]

![CleanShot 2021-07-07 at 10 24 53](https://user-images.githubusercontent.com/499898/124725987-a4f4af00-df0d-11eb-946c-47b7daf338c5.png)

Should I create a new issue for this? Or did I do something wrong?

[2021-07-07 08:35] standbyoneself commented on #727
@eunjae-lee,

Please, upgrade a `Vue` version

`yarn upgrade vue@next@latest`

[2021-07-07 08:44] eunjae-lee commented on #727
@standbyoneself ah thanks. from `vue@3.0.0-beta.17` to `3.1.4` and now the error is gone.

However, it still doesn't work.

I also checked out this repo(https://github.com/standbyoneself/vue-slot-hooks) and updated VTU to `rc.10` and this code still doesn't invoke the child's lifecycle methods.

[code]

[2021-07-07 08:49] standbyoneself commented on #727
@eunjae-lee,

Are you on the `fix` branch?

<img width="1436" alt="Screenshot 2021-07-07 at 11 49 23" src="https://user-images.githubusercontent.com/57719759/124729766-67961e80-df19-11eb-9118-5b2ef92832bd.png">

[2021-07-07 09:07] standbyoneself commented on #727
@eunjae-lee,

Since I am not a core developer I can not properly answer your question but I suppose that `render()` is used to render html only without calling side effects and you shouldn't have lifecycle hooks in your components with `render()`

[2021-07-07 09:20] eunjae-lee commented on #727
@standbyoneself Thanks for the explanation. I wasn't aware of that.

However, just to make sure, I did some tests but it's not true.

vue 2: https://codesandbox.io/s/dank-platform-tthyo?file=/src/components/Test.vue:0-136
vue 3: https://codesandbox.io/s/hungry-sid-vh44d?file=/src/components/Test.vue

Both vue versions invoke lifecycle methods. If that's the case, VTU should support too. What do yo

[2021-07-07 09:32] standbyoneself commented on #727
Sure, I make this supposition only in the context of using the VTU ^ 2 and slots accordingly to the it's implementation, I did not say that you can not have lifecycle hooks inside the components with `render ()`

[2021-07-07 21:56] Schoude opened #741 "TS compiler error with Vite concerning mount()"
## 1) Involved Dependencies
- `"@types/jest": "^26.0.23"`
- `"vue": "^3.0.5"`
- `"@vitejs/plugin-vue": "^1.2.3"`
- `"@vue/test-utils": "^2.0.0-rc.10"`
- `"jest": "^26.6.3"`
- `"ts-jest": "^26.5.4"`
- `"typescript": "^4.3.2"`
- `"vite": "^2.3.8"`
- `"vue-jest": "^5.0.0-alpha.10"`
-  `"vue-router-mock": "^0.0.3"`
- `"vue-tsc": "^0.0.24"`

## 2) Issue

When building for production with Vite I get the

[2021-07-07 22:15] moonsundong opened #742 "TypeError: Right-hand side of 'instanceof' is not an object"
![image](https://user-images.githubusercontent.com/37856350/124835615-33237080-dfb4-11eb-88c0-50ca3a4a937b.png)

[2021-07-08 00:18] lmiller1990 commented on #727
This should work, seems like a bug.

I reproduced it here: https://github.com/vuejs/vue-test-utils-next/pull/743 for easy debugging. `yarn jest tests/mountingOptions/slots.spec.ts`

[2021-07-08 00:21] lmiller1990 commented on #727
Ok so:

[code]

Fails. But

[code]

Ok!

❌ `default: Child`
✅  `default: `<Child />`

[2021-07-08 00:25] lmiller1990 commented on #727
Problem is here https://github.com/vuejs/vue-test-utils-next/blob/6e0904c6dc9f6e17045ad69773a33926a54bc872/src/mount.ts#L265-L266

We only render `.render`, we need the rest of the component for the `default: Child` syntax.

Work around would be use one of the other syntaxes for now.

[2021-07-08 00:30] lmiller1990 commented on #727
Ok, fixed it: https://github.com/vuejs/vue-test-utils-next/pull/743

Please review, this will be in the next release.

[2021-07-08 04:26] lmiller1990 commented on #742
Please provide a reproduction I can run, like a GH repository I can clone. A screenshot is not enough. The code looks fine to me.

I will reopen once I have more information to go on.

[2021-07-08 04:26] #742 closed

[2021-07-08 04:29] lmiller1990 commented on #741
What is your `index.d.ts` shim like for `*.vue` files? You might need something like this: https://github.com/vuejs/vue-test-utils-next/blob/master/src/vueShims.d.ts

Can you share your code? I have no way to debug this otherwise.

Alternative work-around would be

[code]

But I am fairly sure this is a problem with the way you have `.vue` files declared in a `index.d.ts` somewhere.

[2021-07-08 07:05] cexbrayat commented on #741
Hi @Schoude

I think this is not something we can fix on VTU side. It is in fact an issue with Volar itself, that I reported here https://github.com/johnsoncodehk/volar/issues/253.

In the meantime, you can use a dedicate tsconfig for Volar that excludes the tests from the check (it is not really interesting to check these files with Volar anyway). If you want a working configuration, I maintain a

[2021-07-08 07:05] #741 closed

[2021-07-08 07:06] #727 closed

[2021-07-08 07:29] Schoude commented on #741
Thanks @lmiller1990 and @cexbrayat for the comments! I will give both a try.

Just for the sake of completeness, here is my `shims-vue.d.ts`

[code]

It is the default declaration that the Vite starter for Vue with TS creates.

[2021-07-08 08:04] nc-csl opened #744 "Cannot extend class components when using SFC"
Hi,
I have a very simple App.vue that imports a few components:
![image](https://user-images.githubusercontent.com/722375/124885613-bd2f0180-dfd3-11eb-8543-ee44fefd6aca.png)

Here is my test:
![image](https://user-images.githubusercontent.com/722375/124886503-96bd9600-dfd4-11eb-8ad4-105f967f4204.png)

I get a warning for each component when I shallowMount (or mount).
`console.warn node_modules/@vu

[2021-07-08 08:19] cexbrayat commented on #744
Hi @nc-csl

Are you using the latest version of VTU (2.0.0-rc.10)? If no please give a try, as it contains a lot of bugfixes. Make sure you're using the latest Vue version as well.

If you still have the issue, it would be great to give a small reproduction (we can't do much with screenshots).
You can do this by either:
- creating a github repo with vue-cli for example, all the latest versions and

[2021-07-08 09:16] nc-csl commented on #744
Thanks for the reply. I found out what the reason was. As you can see I have a BaseVue class that is extended by App.vue. My BaseVue.vue is just another component that extends Vue.
As soon as I change my App.vue to extend Vue instead of my BaseVue, I don't get the warnings anymore. Is it necessary to define my BaseVue in my test?

[2021-07-08 09:38] lmiller1990 commented on #744
What is `VueBase`?

If you can share your repo, that'll help.

[2021-07-08 09:42] lmiller1990 commented on #716
I don't understand how this can be considered a valid use case. `findComponent` finds components, and in this case you the OP is trying to find a HTML node. This seems like the correct behavior. `find` for DOM nodes, `findComponent` for components.

[2021-07-08 09:53] nc-csl commented on #744
Here is a repo where I have reproduced the issue. VueBase is just a Vue component that extends Vue. Run `npm run test:unit App` to see the warning.
https://github.com/nc-csl/vue-test-utils-demo

[2021-07-08 11:50] xanf commented on #716
@lmiller1990 Sorry, I needed to explain my "perfectly valid use case" - I was meaning that "it is perfectly valid use case to assign ref to DOM node in Vue".

I totally support your position about error message and that `find({ ref: '' }` could be considered as "new" feature (it was available in VTU1)

[2021-07-09 00:13] lmiller1990 commented on #716
I understand now - thanks.

I see two actions here:

1. fix this error message (this issue)
2. consider finding DOM nodes via ref (separate issue, not a fan of features for the sake of new features, but happy to consider if there's some use cases)

[2021-07-09 07:49] nc-csl commented on #744
Did you have time to look at the repo?

[2021-07-09 08:23] standbyoneself commented on #744
@nc-csl,
you don't need `VueBase` properly.

For Vue 3 you must use this imports:

[code]

[2021-07-09 09:04] eunjae-lee opened #745 "provide as a function does not work"
Hello, I'm passing a function that returns an object for `provide` and it doesn't seem to work.

- vue: 3.1.4
- VTU: 2.0.0-rc.10

According to [the Vue doc](https://v3.vuejs.org/guide/component-provide-inject.html) and [my test](https://codesandbox.io/s/friendly-rhodes-tglx6?file=/src/App.vue), it should work with a function.

Since only object form is documented on VTU, I assume you didn't implem

[2021-07-09 10:20] standbyoneself commented on #745
It doesn't work because of this:

`src/types.ts`
[code]

and this:

`src/mount.ts`
[code]

It accepts only an object and handles only an object too

[2021-07-09 10:30] LinusBorg commented on #745
The function syntax only makes sense when used within a component, as it allows to access `this`.

`app.provide` has no way of passing a funcion that would be called to get the content to be provided, as there's no `this` to access that would make sense.

Likewise, in the context of a test, that syntax isn't needed / doesn't make sense.

[2021-07-09 13:14] eunjae-lee commented on #745
You're right.

- `this` isn't there
- even if I needed something dynamic, it's anyway happening at the creation of the app, so I can do some calculation and just put the object right inside.

So it makes sense not to support a function form in `global.provide`. Thanks for clarification.

[2021-07-09 13:14] #745 closed

[2021-07-10 08:36] deepansh96 commented on #227
What worked for me was this
jest.config.js
[code]

jest.init.js
[code]

[2021-07-10 12:21] DominicGBauer opened #748 "How to contribute?"
Hi guys

Thanks for this plugin it's really epic.

I wanted to contribute a doc change as there's a link that's incorrect but seem to get this error `ERROR: Permission to vuejs/vue-test-utils-next.git denied to DominicGBauer.`

I was wondering if contributing was allowed or if I'm just missing something?

[2021-07-12 06:50] lmiller1990 commented on #744
I had a look. The problem is that `VueBase` is basically just a class that `extends Vue`, so it should work the same. I guess something about how `vue-jest` compiles the code is messing with `vue-class-component`.

There are actually a number of bugs with class component and `vue-jest`. I will need to investigate this more deeply, but I am sure the problem is in `vue-jest`, not Test Utils.

As of

[2021-07-12 07:00] lmiller1990 commented on #748
Hi!

Yes, contributions are always welcome. Due to how many people use and depend on this repo, not just anyone can push a branch here.

What you'll need to do is fork this repo, make your change, and make a pull request. The easiest way to do this would be go find the file you want to change, click "edit", and GitHub should automatically fork it for you.

![image](https://user-images.githubuserco

[2021-07-12 07:20] lmiller1990 commented on #744
I get a different error when I reproduce this in Vue Jest only:

[code]

Repro:

VueBase.vue

[code]

App.vue

[code]

Spec

[code]

tsconfig.json

[code]

jest.config.js

[code]

package.json

[code]

[2021-07-12 19:45] gabrielthomasjacobs commented on #720
I think the components I'm trying to test are being tossed into a transition, which is why my tests are always returning true... I'll need to do more reading on how those work and are tested, so I'm just going to close this out for now.

[2021-07-12 19:45] #720 closed

[2021-07-13 10:52] nc-csl commented on #744
Hi @lmiller1990
Thanks for the reply. I have tried to convert VueBase to a ts file, but I still get errors.
I think we will have to consider removing vue-class-component.

I was recently on another project where we used vue2 with vue-class-component, where we had no issues in unit tests when extending classes in vue components.

[2021-07-13 14:23] yankeeinlondon opened #778 "setData prohibits changing attrs"
I have a composable utility whose responsibility is to intercept the incoming `class` property from the context object and then parse and distribute it into various "regions". In any event, the goal is to reactively respond to changes when they occur and while this would be a relatively simple matter on props which are in fact reactive, the context object is just a POJO so to achieve this I've tap

[2021-07-13 21:58] nandi95 opened #753 "Ensure commit message consistency"
I see most PRs titled in accordance with [conventional commit](https://www.conventionalcommits.org/en/v1.0.0/)
To ensure consistency perhaps a hook can be added (`commit-msg`) to validate with commitlint following the angular or the conventional config or some custom config. Furthermore a gh action can be added to validate commits on gh side too.

This is pretty simple to set up and has the added

[2021-07-14 00:37] lmiller1990 commented on #744
I'll do some more exploration in my free time but from what I can tell class component for Vue 3 is not production ready so it's hard to recommend using it.

We will keep this issue open, since I'd like to fix it eventually, but the solution is not immediately clear. If you value TS (like I do), try using the `defineComponent` syntax and Composition API - it's working great for me, everything is t

[2021-07-14 03:16] danranVm opened #754 "DOMWrapper support styles like classes"
The simplest usage.

[code]

Or is there a better way?

[2021-07-14 07:32] nandi95 commented on #754
This can already be done with
`expect(wrapper.attributes('style')).toContain('position: absolute')`

However this isn't a bad idea for the sake of consistency as there is a `classes` method that either returns an array of classes or a boolean if string argument given. Perhaps similar thing could be added except it returns a object with keys being the rule the values the value.

Like above and:
`ex

[2021-07-15 10:53] cexbrayat commented on #753
I think that would be great 👍

[2021-07-15 11:02] cexbrayat commented on #754
Maybe `expect(wrapper.element.style.position).toBe('absolute')` would work as well?

If either @nandi95 `wrapper.attributes('style')` or my example above works, I'm not sure we should add more things to the API.

[2021-07-15 14:04] lmiller1990 commented on #754
We had something similar, `hasStyle`, and I think we also had `styles` a long time ago... I found [this issue](https://github.com/vuejs/vue-test-utils/issues/330).

I am fairly sure this was removed due to complexity - `styles` needs to consider a lot of things, like `element.style`, computed styles, etc. Also, people often do:

[code]

Then expect `styles('position')` to contain `absolute`, which

[2021-07-15 14:05] #754 closed

[2021-07-15 18:03] luucasrb opened #761 "QUESTION: Is there any way to override composition API `setup` data?"
The [documentation](https://next.vue-test-utils.vuejs.org/api/#setdata) says:
[code]

Also I've tried `global.provide`, but it only works for `provide/inject` methods.

So, the goal here is to wrap some variables declared in the `setup()` component function (probably inside `Mount` or `shallowMount` methods) so I can test it isolated.

Appreciate any help!

[2021-07-15 19:54] cexbrayat commented on #761
Hi @luucasrb

There is currently no such thing in the API. Do you have a specific use case in mind? Maybe we can give you some tips based on how we test such things in our projects.

[2021-07-15 20:09] luucasrb commented on #761
Hi @cexbrayat,

Example:

`Component.vue`

[code]

So, I would like to mount the Component for testing, but using some random `exampleValue` instead of using the imported one.

Thanks.

[2021-07-16 07:37] cexbrayat commented on #761
👍 The way I test this kind of thing in my apps is to rely on `jest.mock` https://jestjs.io/docs/mock-functions#mocking-modules, and override `externalValue` with `random-value`.

Something like:

[code]

This is super flexible and should cover most cases you'll encounter.
I'm going to close the issue for now. Feel free to reopen if you encounter another use case.

[2021-07-16 07:37] #761 closed

[2021-07-16 09:02] jjhuang-github opened #765 "[Issue] export 'extend' (imported as 'Vue') was not found in 'vue' ?"
I'm trying to run unit test with typescript vue, and have results in the following error:

**How to solve the following warning message ?**

![issue](https://user-images.githubusercontent.com/60864712/125955870-1f68ec63-6a75-4741-9238-0e12d2bebec4.PNG)

component - HelloWorld.vue
[code]

unit test
[code]

package.json
[code]

[2021-07-16 14:58] eunjae-lee opened #766 "`setData` wrongly deep-merges"
`setData` wrongly deep-merges.

[code]

The second `expect` clause is supposed to pass, but it isn't. The actual result is `<div>1,2,3</div>`.

[The implementation of setData](https://github.com/vuejs/vue-test-utils-next/blob/52b3777310dc8037a860805e79f2b75061aec8d9/src/vueWrapper.ts#L238-L241) seems to concat all the items in the array.

## reproduction
https://github.com/eunjae-lee/vtu-set-data

[2021-07-16 15:03] cexbrayat commented on #766
Thanks @eunjae-lee for opening this issue and for providing a reproduction 👍

@afontcu I think you implemented `setData` in fc49c0249af3e70e22ed12d3b0a50a284bc39d24 and it looks like arrays are indeed concatenated. Was that on purpose ou should we fix it?

[2021-07-16 15:06] eunjae-lee commented on #766
Hello @cexbrayat,
I already opened the PR but feel free to close it if that implementation was intended.
However I think we'd better fix this, because

`setData({ items: [1, 2, 3] });` is normally to mimic

`this.items = [1, 2, 3]` in real life. We don't normally concat it.

[2021-07-16 15:10] cexbrayat commented on #766
I agree with you. Let's wait for Adriá's answer, but your PR LGTM 👍

[2021-07-16 15:10] afontcu commented on #766
Hi! We simply ported SO's solution and I guess at that point we thought concatenating arrays was good enough. But yeah, I see your point and I'd expect `setData({ items: [1,2] })` to only return two elements, not one. I'll go ahead and approve&merge your PR :)

Thank you for taking the time to submit a detailed report, a simple reproduction snippet and the PR fixing the issue! ❤️

[2021-07-16 15:11] #766 closed

[2021-07-16 19:08] rikbrowning opened #773 "Stubbed components slots aren't been rendered when 2 deep."
I put together a test case to show what I mean. It is very difficult to describe it in words. Essentially the produced snapshot of the test is incorrect. It should include all stubbed components and their slot contents as well.

https://github.com/rikbrowning/vue-test-utils-next/commit/53a0a13dc65935b45d63ba0abbb7179811eb7670

[2021-07-16 19:51] rikbrowning commented on #773
I did some digging around the code and think I may have found the issue.

When creating a stub we are creating a render function and passing the ctx.$slots in directly. The issue here is I think that any child slots inside that stub are not getting passed through the vnodeTransform and therefore not being rendered correctly.

I changed the render function to the follow:
[code]
and it started rende

[2021-07-18 01:16] maurer2 opened #775 "Spying on methods when using the composition api"
Hello, it seems that when using the options api, it is recommended to create spies for methods before mounting to avoid issues with event handlers that don't have braces [(example 1](https://stackoverflow.com/a/62703070/1870482), [example 2](https://github.com/vuejs/vue-test-utils/issues/929#issuecomment-653500987), [example 3](https://stackoverflow.com/a/61859759/1870482)).
How would one do the s

[2021-07-18 08:25] cexbrayat commented on #775
I think you should be able to do something like:
[code]

Feel free to reopen this issue with a concrete example if that doesn't work, but I think I've used this pattern several times with success.

[2021-07-18 14:27] DominicGBauer commented on #748
@lmiller1990 epic thanks for getting back to me made a PR here https://github.com/vuejs/vue-test-utils-next/pull/776 and will close this!

[2021-07-18 14:27] #748 closed

[2021-07-18 22:54] TheJaredWilcurt commented on #693
If the source was JavaScript I would create a PR for it. Since it's TS, I guess the notes in the docs are good enough.

[2021-07-18 23:37] maurer2 commented on #775
Hello, thanks for looking into this. I created an example project with tests to demonstrate the issue (https://github.com/maurer2/vue3-testing-question). I have two two buttons that have click event handlers. One with parentheses and one without.

[code]

The second click handler can be tested like so:

[code]

This doesn't work for the first one as the following test fails:

[code]

This seems to

[2021-07-19 10:30] cexbrayat commented on #775
Thanks for the use-case 👍

I sadly think we can't do much, as the generated code is fundamentally different between ` @click="handleClick1"` and ` @click="handleClick2()"`.
See [here](https://vue-next-template-explorer.netlify.app/#%7B%22src%22%3A%22%3Cdiv%20%40click%3D%5C%22handleClick1%5C%22%3EHello%20World!%3C%2Fdiv%3E%5Cn%5Cn%3Cdiv%20%40click%3D%5C%22handleClick2()%5C%22%3EHello%20World!%3C%2F

[2021-07-19 13:40] rikbrowning commented on #108
Is there a plan to extend the render to named slots rather than just default? I have a similarly scenario to @TheJaredWilcurt were I use named slots and the default slot to compose a component together. Whilst doing a full render would solve this I really only want to focus on the component functionality at this level. Assuming other unit tests cover other components.

[2021-07-19 22:29] maurer2 commented on #775
Hello, thanks for reopening the issue. I guess it would make sense to always use parentheses when using the composition api and set `v-on-style` from eslint-plugin-vue (https://eslint.vuejs.org/rules/v-on-style.html) to always when using the composition api to avoid flaky tests.

I got a somewhat related question regarding the lifecycle methods. If I wanted to check if a function is called on moun

[2021-07-20 08:06] cexbrayat commented on #775
In that case what I usually _really_ want to check is not that the method itself was called, but rather what it does or that an external dependency was properly called. For example, if I fetch some data on mount, I'll check that the composable that does the HTTP call was properly called:

[code]

I hope this helps. I don't think we'll be able to allow to spy on the method as you would expect, beca

[2021-07-21 08:06] danranVm commented on #726
@lmiller1990  oh, sorry, I almost forgot this issue.

In some cases, when we cannot get DOMwrapper directly, we need to use these utils functions to help us complete the test.

[code]

[2021-07-21 08:20] danranVm commented on #754
Sorry, I didn’t know that I could do it like `wrapper.element.style.position`, I just tried it and it works great.

But, I got a Typescript type error:  `Property 'style' does not exist on type 'Element'`,  Is there any good way to solve it? the way I can think of is  :  ` (wrapper.element as HTMLElement).style.position`

[2021-07-21 08:49] cexbrayat commented on #754
Yes, that looks good 👍
`wrapper.get('div').element` is smart enough to be `HTMLDivElement`, but `wrapper.element` must probably be explicitly cast as you did.

[2021-07-21 11:30] maurer2 commented on #775
Okay, makes sense. Thanks for explanation.

[2021-07-21 12:02] cexbrayat commented on #775
You're welcome! If you don't mind, I'll close the issue for now, and we can revisit if some other use cases come up.

[2021-07-21 12:02] #775 closed

[2021-07-22 06:40] lmiller1990 commented on #754
`find` and `get` are generic, you can also do `wrapper.get<HTMLSpanElement>('.blah')` and it will infer the type is `SPAN`, etc.

[2021-07-22 08:47] IlCallo opened #787 "Wrong config property name for `renderDefaultStubSlot` into migration guide"
Package types and API mention `renderStubDefaultSlot`, while migration guide uses `renderDefaultStubSlot`.
https://next.vue-test-utils.vuejs.org/migration/#shallowmount-and-renderdefaultstubslot

Possibly a rename which has not been propagated

[2021-07-22 09:06] cexbrayat commented on #787
Indeed, good catch 👍

Would you like to open a PR to fix it? It should be fairly straightforward.

[2021-07-22 19:39] rikbrowning commented on #773
I have taken a stab a reworking renderStubDefaultSlot, the issue being that it doesnt really provide full backwards compatibility with v1.
I pushed a commit https://github.com/rikbrowning/vue-test-utils-next/commit/d9309d48264031ec83a9211c8baced8f5e87a088 and I am looking for feedback.

`renderStubSlot` can be a `boolean` or an `object`. When `false` nothing is rendered in the slots. When `true` a

[2021-07-22 23:09] scvnc commented on #684
Came here with similar desire.. I found [some other docs][0] mentioning what we might need. I don't think the official vue-test-utils-next docs mention  how to precisely configure globals.

    // setup.jest.js
    import { config } from "@vue/test-utils"

    config.global.mocks = {
      mock: "Default Mock Value"
    }

[0]: https://lmiller1990.github.io/vue-testing-handbook/v3/mocking-global-o

[2021-07-23 06:55] DominicGBauer commented on #787
@cexbrayat https://github.com/vuejs/vue-test-utils-next/pull/789

[2021-07-23 07:20] afontcu commented on #684
Hi! We do, although they might be hard to find:

https://next.vue-test-utils.vuejs.org/api/#config-global

Really open to suggestions on how to improve docs! 🙌

[2021-07-23 08:29] MushengLiaoDavis opened #790 "Want to mock/stub component method in created/mounted lifecycle."
Hi,

  Sometimes, I really need to mock/stub the component method in created/mounted lifecycle.(like callA method). Have any idea to handle this situation ?

`
  wrapper = shallowMount(MyComponent, {
     global: {
     },
     methods: {
         callA: sinon.stub()  // <- Mock method
     }
      });
`

[2021-07-23 09:41] cexbrayat commented on #790
Hi @MushengLiaoDavis

You can read the comments in this thread to give you an idea on how we usually do it: https://github.com/vuejs/vue-test-utils-next/issues/775#issuecomment-882903615

Feel free to reopen if that's not what you're looking for, but that should help!

[2021-07-23 09:41] #790 closed

[2021-07-23 09:42] #787 closed

[2021-07-23 21:58] sand4rt commented on #108
What about checking if the setup function is async like _(not sure if there is a better way without calling the function first)_:
`Component.setup.constructor.name === 'AsyncFunction'`

And then return the `mountSuspense` promise @lmiller1990 posted earlier so that the `mount` function can be optionally awaited when the component has a an async setup?

it seems to me that more people will run into

[2021-07-25 23:43] lmiller1990 commented on #773
I didn't get a chance to look at the reproduction or look into this deeply yet, but

Is going to be a blocker. We have `renderStubDefaultSlot` for this exact reason - backwards compatibility.

Issues like this come up *a lot* - ultimately, the purpose of `shallow` is to stub things. If you want a full DOM tree, I'd generally recommend using `mount`.

[2021-07-26 00:10] lmiller1990 commented on #765
I will take a look at your reproduction this week, but we definitely have tests around class component: https://github.com/vuejs/vue-test-utils-next/blob/master/tests/components/ClassComponent.vue so I suspect a config/dependencies issue.

[2021-07-26 11:57] lmiller1990 commented on #108
@rikbrowning Might be worth making a new issue if you have a feature proposal. Not 100% clear on what you want, but I think I understand and I think the reason we don't have that is a technical blocker (could be wrong, would need to see a more fleshed out example of your proposal).

@sand4rt I think including some helpers is a good idea, if you want to make an issue with a proposal we could go ove

[2021-07-27 03:32] MushengLiaoDavis commented on #790
In **vue-test-utils v1.x**, we can mock(stub) component methods for the created/mouted lifecycle as follows:

SFC (class-style component)
[code]

In test file
[code]

**vue-test-utils v2.x**
I know we can stub the http request action (axios) in created/mounted lifecycle. This behavior is independent (gloabl function or gloabl instance) from component, so  they are easy to stub. But in my scenario,

[2021-07-27 05:59] MushengLiaoDavis opened #797 "Want to mock/stub component method in created/mounted lifecycle."
In **vue-test-utils v1.x**, we can mock(stub) component methods for the created/mouted lifecycle as follows:

SFC (class-style component)
[code]

In test file
[code]

**vue-test-utils v2.x**
I know we can stub the http request action (axios) in created/mounted lifecycle. This behavior is independent (gloabl function or gloabl instance) from component, so  they are easy to stub. But in my scenario,

[2021-07-27 06:37] cexbrayat commented on #797
Duplicates of #790 and related to #775

As you are pointing out you can stub calls to 3rd party libs, as you are doing for axios.
Let's say you component looks like:
[code]

Then your test can mock `lib.something()`. I'm usually using Jest but you get the idea:

[code]

Would that be enough for your use-case?

[2021-07-27 07:17] MushengLiaoDavis commented on #797
Hi cexbrayat:

      Thanks for your suggestion. I mean vue-test-utils v1.x can support what I want (stub method while mounting component), but v2.x doesn't support.

For vue3, it focus on the composition-api and function-based programming. Maybe I need to change my old point of view, all logical code are defined in another file and component file is responsible for html layout. As a result, I can

[2021-07-27 07:21] Yijx opened #798 "How to test teleport, if subcomponents not a vue component"
I have a vue component like this
[code]
It is different from https://next.vue-test-utils.vuejs.org/guide/advanced/teleport.html
I can use document.body.querySelect('.hello'), it is work.
but wrapper.find or wrapper.findComponent, they are not work.
so, how can i test this component, it is a same question in stackoverflow https://stackoverflow.com/questions/66923194/how-to-make-vue3-test-utils-work

[2021-07-27 07:42] cexbrayat commented on #797
Yes, I think we agree 👍

The internal model of Vue 3 is different, so I don't think we can offer a similar thing to `methods`. Or maybe at the price of hacks that would cost us a lot in maintenance. My recommendation would be to extract your logic in a separate file, and use the pattern I exposed above. I do this with all my Vue 3 projects, and this is working well.

I'm going to close the issue,

[2021-07-27 07:42] #797 closed

[2021-07-27 15:00] rikbrowning commented on #773
@lmiller1990 with regards to the backwards compatibility. v1 would render all slots in a stub not just the default one. Now in v2 only the default gets rendered with the `renderStubDefaultSlot` option. The feature would be to extend that option (I would suggest renaming) to render all provided slots in a stub.

[2021-07-27 15:02] rikbrowning commented on #108
@lmiller1990  I put together the feature I am talking about in this commit https://github.com/rikbrowning/vue-test-utils-next/commit/d9309d48264031ec83a9211c8baced8f5e87a088
The feature would also fix https://github.com/vuejs/vue-test-utils-next/issues/773

[2021-07-28 00:18] lmiller1990 commented on #798
Good question, I posted some of my ideas on that SO thread: https://stackoverflow.com/questions/66923194/how-to-make-vue3-test-utils-work-with-teleport/68552979#68552979

I don't have a great solution right now. You could make an assertion against the `document.body`, that should work. It's not the cleanest solution, though.

I'll think about this a bit more and try to add something to Test Utils

[2021-07-28 00:27] lmiller1990 commented on #773
Please give me a day or two to go over this and really understand the implications. Like you said, this is quite hard to "explain", but the code sample you've provided will help a lot. Thanks!

I try to take things to do with stubs pretty cautiously, since they've caused a few unexpected breaking changes in the past.

[2021-07-28 00:44] lmiller1990 commented on #726
In that particular case, you could use the `isVisible` assertion from `testing-library/jest-dom`. We got the code from there: https://github.com/vuejs/vue-test-utils-next/blob/master/src/utils/isElementVisible.ts#L3

But we could expose this.

Any use for `createDOMEvent` though? I'd rather expose functions one by one, if they need to be, rather than just exposing everything for the sake of it.

[2021-07-28 00:53] lmiller1990 commented on #684
Does the above docs solve the problem @scvnc and @micDropper?

[2021-07-28 06:19] xiaolongGitHub1498 opened #799 "there is no types directory here"
![image](https://user-images.githubusercontent.com/26108004/127272979-cedd428b-f74f-4c2d-adf2-c9548a42754a.png)

[2021-07-28 07:36] cexbrayat commented on #799
I confirm there is a regression with the release rc.11

As a workaround, please use version `2.0.0-rc.10` for now.

[2021-07-28 07:53] cexbrayat commented on #799
The culprit commit is https://github.com/vuejs/vue-test-utils-next/commit/85c2b1bb0453deab10bbe55199a7956509e6e6d7

By adding `types/compat.ts` it somehow broke the release. Removing this file seems to fix the package. It should have broken rc.10 as well though 🤔

[2021-07-28 08:04] #799 closed

[2021-07-28 08:09] cexbrayat commented on #799
We released rc.12 which should fix the issue

[2021-07-28 08:14] eunjae-lee opened #801 "release workflow"
Maintaining an open source library is a thing, but releasing the changes is another thing not to forget about.

I'd like to suggest a release workflow that we use for [InstantSearch.js](https://github.com/algolia/instantsearch.js) at Algolia. It's done by a homemade tool named [Ship.js](https://github.com/algolia/shipjs).

While semantic-release is a great tool and releases the library fully autom

[2021-07-28 10:44] lmiller1990 commented on #801
It sounds like `ship.js` is just a opinionated semantic release tool that has good defaults - this seems pretty reasonable. If you'd like to set it up, happy to try it out and see if it works well for our workflow! Small and frequent releases seems like a good thing.

[2021-07-28 13:00] lmiller1990 commented on #799
I want to find out what changed that made the `dist` directory 1) not include the types and 2) include all of `src`. Very weird. Neither `rollup.config.js` or `tsconfig.json` has changed in quite some time. Will do some more `git bisect` later on.

[2021-07-28 13:29] cexbrayat commented on #799
@lmiller In my opinion, the commit adding compat is the root cause. We missed it in rc.10 probably because the types were still in the dist directory when the release was cut (it happened to me as well). `src` got shipped in rc.12 for the same reason probably, as if you run:
[code]
there is no `src` inside `dist`.

[2021-07-28 17:49] robokozo commented on #773
I'm experiencing the same issue. I thought I could solve the issue by doing something like

[code]

But my snapshot renders with

```Received: ```

I know I've had success with this approach in the past.

[2021-07-29 00:39] maurer2 commented on #407
Hello, how would one provide a mock store when using an injection key with a custom useStore function as recommended here https://next.vuex.vuejs.org/guide/typescript-support.html#simplifying-usestore-usage ?

I can get the previous example and also another approach from here (https://github.com/vuejs/vue-test-utils-next/issues/457#issuecomment-799191975) running without an injection key, but once

[2021-07-29 04:12] lmiller1990 commented on #799
Right, that would make sense.

Either way, things are working for now! We should add some tests to verify the types in `dist` are build correctly.

[2021-07-29 07:19] cexbrayat commented on #407
Here is what I usually do (not your exact use-case, I copied an example from my book)

[code]

with `mockStore` your fake store. The hard thing to figure out is the necessary cast `as symbol` that we can' get rid of (TS issue).

[2021-07-29 15:20] robokozo opened #806 "Script Setup and Stubs"
Stubs are not working when using the latest script setup syntax.

Versions:
`"vue": "^3.1.5"`
`"@vue/test-utils": "^2.0.0-rc.12",`
(Bootstrapped from the vue-cli)

This seems to only matter for the component under test. The stubbed component can be written in either style.

HelloWorld.vue (Default Style)
[code]

HelloWorld.vue (Script Setup)
[code]

example.spect.ts
[code]

example.spec.ts.snap (D

[2021-07-29 20:27] Davidpsj opened #809 "wrapper.emitted() in composition API do not show context.emit events like documentation say."
I was trying to test events emitted inside a method in setup function when a click button is triggered. The click event was catch by wrapper like expected, but the another event emitted inside the method listened by the click wasn't.

My code for example:
![Captura de Tela 2021-07-29 às 17 38 43](https://user-images.githubusercontent.com/338538/127562543-b350b814-522a-448e-aaf9-25b6a8abef2c.png)

[2021-07-30 00:05] maurer2 commented on #407
Okay, nice. Seems to work. Thanks.

Cheers

[2021-07-30 05:42] freakzlike commented on #809
The wrapper represent your "Component" Component and not your "Child" Component. So with `wrapper.emitted('search')` you receive the events that "Component" emitted and not "Child".

If I am not wrong you can do something like:
[code]

I would test "Child" in an extra unit test, where i can check for the emitted event.
If you want to test in compination with "Component". Than it would be better to

[2021-07-30 06:32] freakzlike opened #810 "Need to reassign stubbed component with findComponent after update to 2.0.0-rc.10"
I am currently having the issue, that some of my tests fail after updating from `2.0.0-rc.9` to `2.0.0-rc.10`. When manually stubbing a component then I need to reassign the wrapper with `findComponent` to receive the correct values after making any update (e.g. emits or setProps).

After some checking I created a code snippet to test with. If you run the snippet with `2.0.0-rc.9` the tests passes

[2021-07-30 06:37] cexbrayat commented on #810
Hi @freakzlike thanks for the detailed report

rc.10 included a lot of work around stubs from @xanf

@xanf was this intended or do you think it is a regression?

[2021-07-30 11:41] TheJaredWilcurt commented on #684
@afontcu

That example is basically unreadable. Any way it could be converted to either JavaScript or English

[2021-07-30 13:54] afontcu commented on #684
not sure if passive agressive or real feedback 🤔 You mean that the example on how to mock `$t` globally is unreadable?

[2021-07-30 14:25] robokozo commented on #806
I discovered that there appears to be a special distinction for the `router-link` component made available by `vue-router`. Stubbing `router-link` with script setup works fine!

[2021-07-30 15:12] afontcu commented on #806
Hi @robokozo! Glad to hear you got it working. Can this be closed then?

[2021-07-30 15:23] Davidpsj commented on #809
Hi!

Thanks for your reply! I found other mistake that I was doing. The method in Child that I invoke was mocked with jest.fn() causing the expected event not triggering.

After changing this wrong implementations all tests passed.

Thanks.

[2021-07-30 15:23] #809 closed

[2021-07-30 16:06] TheJaredWilcurt commented on #684
Sorry, was referring to the signature. The `Component.vue` and `Component.spec.js` are fine.

[2021-07-30 16:33] robokozo commented on #806
No. RouterLink seems to the exception.

[2021-07-30 16:51] micDropper commented on #684
I was thinking rather than exposing a global config API unique to vue-test-utils, just extend Vue 3's app configuration API. I'm sure there is a typescript interface somewhere defining exactly what Vue 3's `createApp()` method returns. Vue-test-utils could extend that interface and add some of it's own config options, maybe add methods like `app.mock(<something>)`. This would allow Vue 3 and vue-t

[2021-07-31 07:22] lmiller1990 commented on #810
If you pass `ChildComponent` to `components` instead of `stubs` does it work?

[2021-07-31 13:57] xanf commented on #810
@freakzlike Thank you for catching that

@lmiller1990 @cexbrayat This was unintended regression, I've created #813 to fix that and explained root cause of the issue

[2021-07-31 16:39] standbyoneself opened #814 "The proper way to handle SVG"
How should I stub/handle/precompile SVG using Vue 3 + VTU@Next + Jest?

Reproduction repository: https://github.com/standbyoneself/ws-test-client

The simple test:

[code]

For the simple component:

[code]

Causes the error:
FAIL  __tests__/unit/components/User.spec.ts
  ● Test suite failed to run

    Jest encountered an unexpected token
Details:

    /Users/vishnevsky/Desktop/Projects/github.co

[2021-07-31 20:39] LinusBorg commented on #814
vue.svg-loader turns SVGs into Vue components. That's not what your app code is doing, though - it just gives you a string - a path to the svg file, which you then can put into an img's `src`.

So what you have to do it to tell jest: "when you encounter an svg import, just give me a string."

See also: https://jestjs.io/docs/webpack#handling-static-assets

[code]
[code]

[2021-08-01 01:05] xanf commented on #773
@rikbrowning thank you
My 2¢ here since I'm working for a month on compatibility layer beween v1 and v2: I really love current behaviour and I think it is worth to keep it.

The reasoning is simple - IMO the library should not provide an easy way to shoot yourself in a leg by testing something which never appears in real world output and as you've mentioned in your commit - your approach allows us

[2021-08-01 11:03] standbyoneself commented on #814
It's clear now, thanks

[2021-08-01 11:03] #814 closed

[2021-08-02 01:02] lmiller1990 commented on #806
Hi John!

I can look into this. You shared a reproduction (which is great) but you also mentioned something about RouterLink. Is there two separate problems here?

[2021-08-02 01:07] lmiller1990 commented on #684
Yep, `createApp` returns an `App` type.

Back on the original post, I haven't seen this before:

[code]

Either way, I think the challenge people are facing is Vue separates the config setup from mount. For example:

[code]

But VTU does all of these in one go. We use `global` to install plugins, mixins, etc.

We cannot change the existing behavior, but we could make the internals more modular, wh

[2021-08-02 01:43] scvnc commented on #684
Firstly, thanks for your attentiveness to this issue.

Perhaps the docs have been updated or else I am reading the docs better now that I no longer hastily trying to figure this out while getting some tested features refactored.  It seems clear now.

I see a useful example illustrating that test-utils exports a 'global' config object as depicted by the imports in the example. I could not see it im

[2021-08-02 02:10] lmiller1990 commented on #684
That is very confusing. It should be something like "accepts a second parameter that defines the component's state and configuration. It also accepts a `global` key <insert link to global: https://next.vue-test-utils.vuejs.org/api/#global > that defines default configuration".

We should also have a simple example there, something like:

[code]

That would make it more clear. A PR would be welcome

[2021-08-02 16:41] robokozo commented on #806
No, just the 1 issue I reported. The comment about RouterLink was just a discovery that might help isolate the problem for fixing. Additionally, I did the same types of tests with Transition and TransitionGroup - these, along with RouterLink work just fine with whatever format of component you write. I suspect there might be some special edge case handling which treats these components differently

[2021-08-02 16:45] robokozo commented on #806
Here are some updated examples after the additional testing:

example.spec.ts
[code]

HelloWorldScriptSetup.vue
[code]

HelloWorld.vue
[code]

SimpleSlot.vue
[code]

NamedSlot.vue
[code]

example.spec.ts.snap
[code]

[2021-08-02 17:54] standbyoneself opened #818 "Test methods (Composition API)"
I am trying to test my method `logout()` that should be called by clicking on the `img` element. In order to do that and also because we cannot access to this method directly by `wrapper.vm.*` I want to assert that inner methods inside the `logout()` are also called. But these methods are not called.

User.vue:
[code]

[code]

User.spec.ts:

[code]

/src/store/\_\_mocks\_\_/index.ts:

[code]

Runn

[2021-08-02 21:48] xanf commented on #683
@lmiller1990
Status update here: it seems everything is pretty working as expected both with current state and reverting #663
My test follows

Original component (normal setup):
[code]

Component with script setup:
[code]

test:
[code]

And for both cases it works as expected.

When we mount something like `mount(() => h(Foo)` we are creating wrapper functional component, so it is ok that nothing

[2021-08-02 22:38] xanf commented on #765
@jjhuang-github thank you for opening this one!
Actually the reason of message is bundler being too smart
I've opened https://github.com/vuejs/vue-test-utils-next/pull/824 to fix this

[2021-08-03 02:18] lmiller1990 commented on #683
Oh, ok! I am guessing there was just some bug in an earlier version of Vue 3, or we had incompatible versions. Good to know this is working now.

[2021-08-03 02:18] #683 closed

[2021-08-03 05:20] freakzlike commented on #818
I think it is better to use the store and router as plugins instead of mocking the module. Then you can use `jest.spyOn` to check whether methods have been called. You should also check for the passed arguments, to be sure that `store.dispatch` has been called with 'logout'.

[code]

[2021-08-03 11:50] standbyoneself commented on #818
@freakzlike thanks for your response and a possible workaround!

After couple of hours of researching I solved this by saving the reference of the `jest.fn()` in the variable.

This is the code that may be useful:

User.spec.ts
[code]

\_\_mocks\_\_/vue-router.ts:

[code]

src/store/\_\_mocks\_\_/index.ts:

[code]

[2021-08-03 11:50] #818 closed

[2021-08-04 09:22] kev1nzh37 opened #826 "how to trigger change event with files ?"
l know `trigger('change')`, but not work.

like this:
[code]

so l tried something else.

like this:
[code]
how to solve the question?

Versions:
`"@vue/test-utils": "^2.0.0-rc.9`,
`"vue": "^3.1.1`