[2021-08-04 10:07] TIGrannet opened #827 "I cannot resolve problems on mount (document is 'undefiend' at @vue/runtime-dom -> doc is null)"
Hello. I came from Japan.

I'm trying @vue/test-utils on Laravel8 with laravel-mix.
I'll try to test tests/Javascript/example.spec.js by `npm run test`.

[code]

But it causes TypeError on @vue/runtime-dom/dist/runtime-dom.cjs.js.

[code]

I checked @vue/test-util, mockapack, mocha-loader, and some web article, but I cannot resolve that problem.
I thought source of ploblem is "load timing of runti

[2021-08-05 03:22] #810 closed

[2021-08-05 21:55] standbyoneself commented on #826
According to the [documentation](https://vue-test-utils.vuejs.org/api/wrapper/#trigger), you cannot override the `target` value of the event:

But you can try it:

Object.defineProperty(input.element, 'files', {
  value: [new File([], 'test-file')],
});

[2021-08-06 03:05] xanf commented on #765
@lmiller1990 @afontcu This could be closed, as #824 was merged

[2021-08-06 03:35] kev1nzh37 commented on #826
谢谢，我已经解决了。
[code]

[2021-08-06 03:35] #826 closed

[2021-08-06 07:47] #765 closed

[2021-08-06 14:26] standbyoneself commented on #827
Share a repo please. It is too difficult to figure it out what exactly causes the error

[2021-08-07 07:30] xanf commented on #689
@lmiller1990 here we go with reproduction

[code]

Frankly speaking, I'm not sure what is **correct** answer here
VTU v1 [previously returned](https://codesandbox.io/s/hopeful-chaplygin-y8c3s?file=/src/App.test.js) 1 for this scenario, returning top matching node - CompB. Why previously? Because usage of `findAllComponents` with DOM selector was removed in v1

While it might look reasonable to hav

[2021-08-07 08:00] xanf commented on #389
@lmiller1990 I'm not sure this one should be a ~bug

Basically the reason for failing is that we're wrapping our slots with SlotWrapper, and this is definitely not the behavior we would want to drop.

As possible action point maybe the text disccused in https://github.com/vuejs/vue-test-utils-next/pull/815#issuecomment-893964846 worth adding not only in changelog, but in docs too, WDYT?

Basically

[2021-08-07 18:38] scvnc commented on #684
I'd be glad to PR for some clarity.  As I see how the markdown is rendered, I suspect part of the issue is how title anchors are used and possibly conflict.  I almost need to make a flowchart in reading to untangle it because I get into a path of confusion when clicking through the anchor links.

[2021-08-09 02:41] xanf commented on #389
Ignore my previous message, I've found a way in #844 to avoid extra wrapper being exposed, so this bug is fixable

[2021-08-09 04:06] xanf opened #845 "Behavior of global.components is confusing"
I'm struggle to understand the reasoning, why `global.components` perform two things simultaneously:
* register global components (this is perfectly fine)
* act as `global.stubs`, but just for component we are mounting

Second one is provided by this functionality:
[code]

where `global.components` effectively overwrite local components.

I find this behavior super-confusing:
* now we have two app

[2021-08-09 08:40] #684 closed

[2021-08-10 00:06] lmiller1990 commented on #689
Right - I agree, we should not support finding components via CSS selector. This was deprecated, and should not have been implemented here in the first place, right?

[2021-08-10 02:21] TIGrannet commented on #827
Thanks for reply!

We have prepared a repository here that reproduces the problem.
https://github.com/TIGrannet/Vue_and_Laravel_for_share

on terminal:
[code]

on node container terminal:
[code]

Result is blow:
[code]

Thank you.

[2021-08-10 02:33] xanf commented on #845
@lmiller1990 considering I saw some recent activity from you would be happy to hear your thoughts

[2021-08-10 03:12] Giwayume commented on #689
I don't agree, cause all my unit tests are written using CSS selectors. What if I'm testing a 3rd party library component where I do not have the ability to modify the source code?

How does this behavior compare to v1 where it wasn't broken?

[2021-08-10 03:22] xanf commented on #689
@Giwayume I can't say previous behavior (in VTU v1) was not broken - since multiple components can have same `$el` - it is a tough philosophical discussion what is **correct** behavior here.

I believe (please note - I'm not a member of VTU team) that if you're relying on retrieving **components** from inside of 3rd party component HTML - you're testing implementation details of 3rd party componen

[2021-08-10 03:22] xanf commented on #689
@Giwayume I can't say previous behavior (in VTU v1) was not broken - since multiple components can have same `$el` - it is a tough philosophical discussion what is **correct** behavior here.

I believe (please note - I'm not a member of VTU team) that if you're relying on retrieving **components** from inside of 3rd party component HTML - you're testing implementation details of 3rd party componen

[2021-08-10 06:07] aethr opened #848 "RouterLinkStub doesn't support scoped slot used with `custom` prop"
The RouterLink component in VueRouter supports a `custom` prop that enables use of a scoped slot (https://router.vuejs.org/api/#v-slot-api-3-1-0). It can be used to create custom link element like:

[code]

Testing a component that uses this feature using the `RouterLinkStub` provided by VTU causes an error because no value is available to the scoped slot:

`TypeError: Cannot destructure property

[2021-08-10 18:14] Giwayume commented on #689
It's not so much that I'm testing the functionality of the 3rd party components, but using CSS selectors to interact with them is required in order to test our UI that is built with them.

[2021-08-11 13:50] standbyoneself commented on #827
@TIGrannet You **should** specify the version of `Vue` in your `webpack.mix.js`.

As Laravel docs say:

So change `vue()` to `vue({ version: 3 })` and your tests will pass

[2021-08-11 17:50] dospunk commented on #798
I have a similar issue right now, I'm trying to test a component using [headlessui](https://github.com/tailwindlabs/headlessui/tree/main/packages/%40headlessui-vue)'s Dialog component which uses Teleport, but Dialog does not expose its target, so there is no way to manually create a target for it as suggested in the docs

[2021-08-11 20:22] mgdodge commented on #716
@lmiller1990 , I see the PR for the first action item you mentioned has been merged and will probably be released soon. Any idea when the second option (finding DOM nodes via ref, like VTU1 did) will see traction? I have numerous unit tests written for Vue 2 that utilize refs on DOM nodes, and converting them to Vue 3 would be a lot smoother with just that one addition. The example used for this i

[2021-08-12 00:47] TIGrannet commented on #827
The test passed without any problems. Thank you very much.

[2021-08-12 00:47] #827 closed

[2021-08-12 12:15] LYNN-CHEN opened #859 "Having problem when import `createLocalVue`"
I write
 `import { shallowMount, createLocalVue } from '@vue/test-utils';`
in my *.spec.ts file, and when I run the test file with jest, it report the error that
`Module '"@vue/test-utils"' has no exported member 'createLocalVue'`

My @vue/test-utils version is `^2.0.0-rc.12`, and my jest version is `^26.6.3`, and I am using vue3.

[2021-08-12 12:19] afontcu commented on #859
Hi! 👋

This is because Vue Test Utils 2 no longer needs a local Vue instance, so `localVue` is removed.

Here are the docs about the change: https://next.vue-test-utils.vuejs.org/migration/#no-more-createlocalvue

Hope it helps!

[2021-08-12 12:19] #859 closed

[2021-08-12 13:05] lmiller1990 commented on #848
I think `RouterLinkStub` should be as similar as possible to the real router link - so yeah, I think this would be useful.

[2021-08-12 13:07] lmiller1990 commented on #845
I am not too sure why this is the way it is, it's possible we implemented this before `transformVNodeArgs` existing as a work-around to support stubs.

What you are suggesting makes sense as far as I can tell.

[2021-08-12 13:19] lmiller1990 opened #861 "Update to latest Vue (3.2.x)"
I tried updating the deps to Vue 3.2.2, but get this error when running the tests.

[code]

We should find out what's going on and fix it so we can update.

[2021-08-12 14:00] mgibas opened #862 "Setup and defineProps"
I have a hard time testing components that use setup method (either in `<script>` or `<script setup>`) like that:
[code]

test:
[code]

Component seems to be mounted properly, though there is no `vm.state.count` or `vm.msg` on it :( All of this works when I move these declarations outside of the setup:

[code]

Am I missing something, like some extra call, await or something ?

Versions:
[code]

[2021-08-12 21:19] standbyoneself commented on #862
When you use **Options API**, you can access your `data` and `methods`. Otherwise, when you use **Composition API**, e.g. `ref`, `reactive`, some functions defined inside `setup()`, you can't access these directly from `wrapper.vm`.

So if your component looks like this:
[code]

You cannot access `wrapper.vm.someData`, `wrapper.vm.someMethod`.

*Small advice:*

*May be you need to rethink your tes

[2021-08-12 21:42] aethr commented on #848
Great, I'll try to throw a PR together this weekend.

[2021-08-13 01:12] mgibas commented on #862
Thanks @standbyoneself!
Do you know if lack of support for Composition API is documented somewhere ?

Suggested advice is a big no-no for me (nonetheless thank you, really appreciate your time and effort to help) - I'm using vue-test-utils for my unit tests, and most of the time I want to assert that my code _controls_ state properly, not really interested in markups and all that integrational nat

[2021-08-13 01:33] TheSeg opened #863 "NPM @next Version Out of Date"
The `@next` version of this project is out of date. Currently listing RC 11, not RC12.

I noticed this as I was installed via `@vue/test-utils@next` when it installed RC 11 and it's related TypeScript issues.

<img width="883" alt="Screen Shot 2021-08-12 at 6 30 19 PM" src="https://user-images.githubusercontent.com/246508/129292244-5fbd433b-f927-49b0-8197-9becc1cde752.png">

[2021-08-13 02:34] standbyoneself commented on #862
Okay, understand you. May be you want to use `defineExpose()` method that is included in @vue/compiler-sfc and requires no import inside `<script setup>`. Check out the example:

HelloWorld.vue
[code]

HelloWorld.spec.js
[code]

Outputs:

[code]

Here the link to the docs: https://v3.vuejs.org/api/sfc-script-setup.html#defineexpose

[2021-08-13 11:19] mgibas commented on #862
@standbyoneself thanks a lot for that link (and even more for example!) - it makes much more sense now. I wasn’t aware that components defined with `<script setup>` are closed by design which would explain why vue-test-utils have no access to them.

Thanks again kind stranger!

[2021-08-16 00:28] lmiller1990 commented on #863
Oops - I will update the tag today.

[2021-08-16 00:31] lmiller1990 commented on #863
Done.

[2021-08-16 00:31] #863 closed

[2021-08-16 14:07] rikbrowning commented on #773
@xanf sorry for my delayed response.

I was thinking about this more last night and do we not already allow users to put props on stub components which the stub component might not accept? In which case how is that different from rendering slots that might not get used. In fact I would make the case that rendering all the slots allows the user to ensure that what they are actually passing through

[2021-08-16 18:59] meanspa opened #868 "Example code for mocking HTTP requests appears to be broken - out of scope variable for jest.mock()"
Ran into trouble trying to follow the documentation's instructions for mocking HTTP requests here - https://next.vue-test-utils.vuejs.org/guide/advanced/http-requests.html

**Steps to reproduce:**
- Create Vue CLI project with Vue 3, babel, and jest unit testing options
- Create example component and example test from [this docs page](https://next.vue-test-utils.vuejs.org/guide/advanced/http-reque

[2021-08-16 19:32] standbyoneself commented on #868
The problem here is that when you use `jest.mock()`, it is hoisted by default, so you cannot reference `fakePostList` variable. In order to get this example work you may rewrite implementation of the `axios.get()` for the specific test:

[code]

[2021-08-16 19:54] meanspa commented on #868
@standbyoneself That does the trick for my use case, thanks! Do you know if the docs could be updated as well to reflect this?

[2021-08-17 04:43] aringlai opened #871 "When component emit update:modelValue，why v-model value not change"
## test case
[code]

## test result：
[code]

when trigger dragover event，WDraggable component will emit update:modelValue with the param is "[2,1,3,4,5]"，I expect list = [2,1,3,4,5]，but actually list = [1,2,3,4,5]

Why the v-model  value(list) not change？

[2021-08-17 05:57] #868 closed

[2021-08-17 14:26] standbyoneself commented on #871
Can you share your component? How exactly the list should be changed?

[2021-08-17 18:50] dospunk commented on #29
This does not seem to be documented on the Migrating page https://next.vue-test-utils.vuejs.org/migration/

[2021-08-17 18:53] TheDutchCoder commented on #861
This might be related, but when upgrading Vue, the following errors are thrown when running jest: `Cannot find module '@vue/compiler-dom' from 'node_modules/@vue/test-utils/dist/vue-test-utils.cjs.js'`

The latest version of seems to remove the compiler-dom from the lock file and there was a release note about conflicting compiler/runtime: https://github.com/vuejs/vue-next/blob/master/CHANGELOG.md

[2021-08-17 22:17] Mehdi-Hp opened #874 "Any intention to support query-extensions or similar API?"
I came across [query-extensions](https://www.npmjs.com/package/query-extensions) and I think this is a step up in front-end testing.
The API I'm interested the most is `filter: "role"`, in which, you can select different elements based on their representation on accessibility tree. I believe this leads us to have more a11y friendly code, and broken-free tests.

Rough idea:

[code]

[2021-08-18 00:52] standbyoneself commented on #874
Do you mean querying elements by ARIA roles better than querying by selectors? It seems to me it has many disadvantages.

1) Firstly, you need to remember bunch of roles.
2) Secondly, there are many elements that are often used but have not a corresponding role e.g. `p`, `label`, `input (type="password")`, `div` and explicitly assigning roles is not recommended by W3C (https://www.w3.org/TR/html-a

[2021-08-18 06:13] lmiller1990 commented on #874
I am all for accessible components. That said, I don't think we need this in Vue Test Utils - it seems like these would already work out of the box with `@testing-library/vue`: https://github.com/testing-library/vue-testing-library (which is using Test Utils internally). Would that work for your use case?

Alternatively, you could build this yourself pretty easily as a plugin: https://next.vue-tes

[2021-08-19 23:37] lmiller1990 commented on #29
This should have been backported to VTU v1 and include deprecation messages. Is that not the case?

[2021-08-19 23:42] lmiller1990 commented on #689
I think `findComponent` should match the current  V1 behavior, which is not to support CSS selectors iirc. It currently does (and is documented, as well), so removing this will be a breaking change. We are pre 2.0, so we can make a breaking change, but we should make sure there is a migration path.

I don't fully understand how to use CSS selectors with a third party library. Once you select the c

[2021-08-20 00:14] lmiller1990 commented on #798
I tried to find a solution for teleport and headlessui. They hav some tests, which are kind of complex but worth looking at: https://github.com/tailwindlabs/headlessui/blob/d25f80ae9d896446c2b7119a70cfd5d99e250050/packages/%40headlessui-vue/src/components/dialog/dialog.ts#L98

Due to how they manage the `<teleport>` internally, I think we need to use `attachTo` and query `document`, no `wrapper.ht

[2021-08-20 00:24] lmiller1990 commented on #716
I think we could have this to help migration, but I don't think this should be a main feature or recommended way to query DOM nodes moving forward. I'd generally recommend things that work with `querySelector` (like `role`, `id`, `data-testid`, etc).

Unless you number of tests is truly staggering, it's probably just faster to change them all from `ref` to `data-testid` or something similar and mo

[2021-08-20 00:26] lmiller1990 commented on #861
Interesting. I think I bumped all the versions (including `compiler-dom`) but I'll give it another go.

[2021-08-20 00:28] TheDutchCoder commented on #861
As soon as 3.2.4 hit, the errors were gone, so I think it might've been a Vue issue. Thinks work for me now!

[2021-08-20 00:29] lmiller1990 commented on #773
^ Updating docs is always a good idea, if you want to make a PR improving them, that'd be great.

[2021-08-20 00:36] lmiller1990 commented on #871
Anything passed to the `props` option will not be mutated. You could assert against `wrapper.emitted()`, your updated payload should be there (perhaps in an `update:modelValue` emitted event).

If you can share the whole code, someone can provide you a working example.

[2021-08-20 00:38] lmiller1990 commented on #713
Hi!

Should should be able to use the `global` mounting option. Eg:

[code]

That would save you a lot of the boilerplate.

[2021-08-20 06:56] anbraten commented on #713
@lmiller1990 Sorry wasn't clear from my sample / text. I wanted some option to test the opposite site. So if some component is providing some stuff. I updated the sample maybe it is now a bit clearer.

[2021-08-20 08:01] afontcu commented on #689
I also agree we should not support using CSS selectors and encourage terser ones instead where possible. Moreover, `findComponent` on v1 only search for `Component|ref|name`, not CSS selectors

[2021-08-20 15:44] Giwayume commented on #689
I think maybe I'm digging into the weeds too much, I don't care so much what `findComponent` or `findAllComponents` specifically does so long as I still have a solution in V2 to use a query selector to get to a `Wrapper<Vue>`.

[code]

[2021-08-20 19:47] Xenoha opened #876 "Composition API first Class support"
Hello Team,

This has been a great suite through the evolution of Vue, However, I feel like with this being a RC, there seems to be a lot of working around happening for simple Vue3 components. The documentation doesn't offer much for testing when using the compositions API and with the release of the setup SFC from the vue team this utils seems even further behind.

I'm not trying to be a bad new

[2021-08-23 08:08] cexbrayat commented on #876
Hi @Xenoha

Thank you for opening an issue

To makes things clearer, I think the Composition API is well supported  (a lot of us are using it day to day), but maybe we can improve `script setup` support which is fairly new (out of experimental state since Vue 3.2).

Your issue is a bit long so maybe I'm missing key points in there, but let me try to give you some help:
- to provide a value, you ca

[2021-08-23 08:14] cexbrayat commented on #862
Thanks @standbyoneself for helping here!

I just want to correct one statement if someone ends up here:

You _can_ access everything on `wrapper.vm` when using the Composition API (a lot of us are using this every day). But you can't if the component is using `script setup`, as the component is closed by design. You indeed have to expose what you want in that case 👍

[2021-08-23 08:28] standbyoneself commented on #862
@cexbrayat Hey there! Am I really wrong?

Hello.vue:
[code]

HelloWorld.spec.js:
[code]

Stdout:
[code]

[2021-08-23 08:39] cexbrayat commented on #862
The `vm` represents the view model. So if they are returned to be used in the template (as it was the case in your previous example https://github.com/vuejs/vue-test-utils-next/issues/862#issuecomment-898129269), they are accessible on `wrapper.vm` yes 🙂

[2021-08-23 08:41] standbyoneself commented on #862
@cexbrayat Really. My bad. Thanks!

[2021-08-23 15:07] cexbrayat commented on #876
👍 We don't need your complete code: in fact it would be too hard to debug. Just open small issues with a component and a failing test in a github repo and we'll give you a hand.

1. I'm missing the point of what is not working here. A repro would help (I'm currently on vacation, so maybe my brain is a bit slow 😅)
2. If `data` is exposed with defineExpose, then you can use `wrapper.vm.data = 'somet

[2021-08-23 15:17] maelga commented on #876
@Xenoha

Lachlan Miller (@lmiller1990), one of the maintainer of Vue Test Utils, has published a very useful handbook for testing Vue 3 with Jest. His YouTube series is also excellent:

- https://lmiller1990.github.io/vue-testing-handbook/v3/
- https://www.youtube.com/watch?v=0lV4dVYOyBw&list=PLC2LZCNWKL9ahK1IoODqYxKu5aA9T5IOA

I personally find more answers there than in the official documentatio

[2021-08-23 15:35] cexbrayat commented on #876
Lachlan's material is top notch 👍 If I may, I can also point to my [ebook and online training](https://books.ninja-squad.com/vue) if you're looking for test examples (a few hundreds provided in the online training, testing pretty much every aspect of an application).

[2021-08-23 16:40] Xenoha commented on #876
As a start, the below fails and only renders the v-else div. Without going back to all my .vue components to add defineExpose methods just for testing purposes, how would I use jest to see the correct template behavior?

[code]

[code]

[code]

[2021-08-23 18:13] cexbrayat commented on #876
This looks like an issue then, because at first sight, that seems correct.

Out of curiosity: if you try using "classic" Composition API, does it work? I have several tests doing the same thing without `script setup` and it should work fine.

If you want to go one step further, you can open a PR with a failing test (see this test for example that we have for inject/provide https://github.com/vuejs

[2021-08-23 23:47] lmiller1990 commented on #876
I am fairly sure the problem is we do not have great support for `<script setup>`. The RFC changed multiple times, so we just decided to wait until it was standardized before supporting it.

Now it's standardized, we can probably start to aggressively fix related bugs and support it. Considering it was experimental until a few weeks ago, I don't think the lack of support was unreasonable, but we s

[2021-08-23 23:58] lmiller1990 commented on #876
@Xenoha I tried the example in your first post (just copy pasted it into this code base) and it works as expected:

https://github.com/vuejs/vue-test-utils-next/commit/cd223f9ca4f737e9602fb3d6317da81480400957

[2021-08-24 00:09] lmiller1990 commented on #874
Happy to reopen or continue discussion if the above answer doesn't solve the problem. I'll close this for now, just to keep issues under control.

Closed doesn't mean the discussion is over - just that there is no work to be done right now.

[2021-08-24 00:09] #874 closed

[2021-08-24 01:01] Xenoha commented on #876
@lmiller1990 thanks for you review and your videos on the subject. They are what I reviewed as well as training for my team.

See below. Here is the component. It works with the defineExpose and changing it through `wrapper.vm.hasContent` but not without.

vue, vue/compiler-sfc: 3.2.2

Package.json -- Dev Deps
[code]

Jest config
[code]

[code]

Factory.js
[code]

.spec.js -- please note that the

[2021-08-24 01:44] lmiller1990 commented on #876
This code will not run as is - there are many missing parts, `x-input`, `@/components/layouts/StandardDialogLayout.vue`, etc. It will take me quite some time to get this running locally.

It would be really useful if you could post a repository I could clone and run. I don't think you need to include the entire component - just a minimal example.

If you can do that, I'd be happy to either verify

[2021-08-24 01:49] Xenoha commented on #876
@lmiller1990 I'll spend sometime in the near future to get you a suite to assist. I'll need to breakdown my issues and it will take some time. Bare with me.

[2021-08-24 04:07] lmiller1990 commented on #876
No problem.

I don't see any immediately actionable issue here, so I will close this. Please make a new issue with your reproduction when you have it ready.

[2021-08-24 04:07] #876 closed

[2021-08-24 06:04] cexbrayat commented on #876
@lmiller1990 Thanks for taking the time to look into it!

But you pushed these commits on master and they broke the build: I suspect this was not intended? Can you revert and open a PR so this can be properly reviewed (there is also an `allowJs` option added to the TS config that should be removed). Thanks!

[2021-08-24 20:30] axe-me commented on #862
I knew the setup scirpt is closed by default and we need to use `defineExpose` macro to expose instance properties. But if I expose everything just for testing, it kinda defeats the purpose of the setup script that does not need to write the long return statement.

Just wondering if there is any workaround for VTU to expose everything by default just within testing scope.

[2021-08-25 06:41] cexbrayat commented on #862
@axe-me Agreed. Now that script setup is stable, we'll be able to take a look

[2021-08-25 18:24] Akulko opened #883 "Lack of 'parentComponent' functionality"
Hello, I have found that at the moment it's not possible to use the parentComponent functionality to set a parent component or root, I have not found any entries in the codebase. {mocks: {$root}} and none of the other options I found in the documentation or issues for vue-test-utils v1.x doesn't work. Can you tell me if there's another way to use the add parent element functionality or is it just

[2021-08-25 19:11] scvnc opened #885 "Docs: trigger custom event"
As a Vue3 newbie, coming from React land.  I wanted to trigger a custom event and assumed I could do something like `wrapper.trigger('my-custom-event')`

It seems this does not work for custom events and is only for DOM events.  Digging a bit I see that others have accomplished this with `wrapper.vm.$emit`

- Is this the correct way to test custom events?  Would testing a custom event be an antipa

[2021-08-26 08:10] marina-mosti opened #886 "Possible issue with dispatching events"
Consider the following component:

[code]

And the following test:

[code]

We would expect the test to pass (it did on Vue 2/VTU 1) but I've noticed two problems.

1. The event for the keyboard event never fires.
I believe this may be an underlying problem of how the keyup modifier is working on Vue 3 possibly. Im testing this with the 3.1 compact build.

2. The click event fires, BUT for both te

[2021-08-26 14:45] telion2 opened #887 "Vue add unit-jest does not configure correctly"
### Subject of the issue

I wanted to run my first test with Vue 3, Typescript and VTU.

So I ran
vue add unit-jest  and
npm install --save-dev @vue/test-utils

This created an example Test file. ( I had to point to a different component, but that isn't the issue.)

The first thing I encountered was:

[code]
So ok I wanted to install babel-jest then:
 npm install -D babel-jest
But it failed becaus

[2021-08-26 15:46] #887 closed, assigned to nobody

[2021-08-27 07:16] marina-mosti opened #892 "find and findComponent dont update on prop/data change"
Consider this component:

[code]

And this test:

[code]

We would expect `p` text to equal HIDE when the prop changes, but the test fails
[code]

If we switch the test to refetch the `p`:

[code]

Now the test passes. It seems that the `p` constant acquired with `find` is not reactive?
This also happens with `findComponent`

package.json:

[code]

[2021-08-27 10:01] #892 closed, assigned to nobody

[2021-08-27 11:05] rudinandrey opened #893 "Why are you name it documentation ?"
https://next.vue-test-utils.vuejs.org/guide/

I'm as a newbee want to start test my Vue3 app. And what I have to start ?
where is name of files? how I have to start tests ?
Realy, put yourself in our shoes and if you just start learn Vue read it, and try to understand how you can start by this?

[2021-08-27 17:06] #893 closed, assigned to nobody

[2021-08-28 11:13] xanf commented on #883
@Akulko Theoretically, if you are in heavy need, you can always create wrapper around `mount` which will provide your functionality by creating own component, and doing find. Something like (pseudo-code):
[code]
 (please take a note that proper implementation might also require passing slots to ChildComponent to work for all cases)

[2021-08-29 19:14] xanf commented on #845
@lmiller1990 I've checked that #504 is actually not the issue where problematic code was added
Original source of the problematic code is https://github.com/vuejs/vue-test-utils-next/pull/116 and after analyzing discussion there I believe it was based at least on assumptions which are not in the play anymore

Regarding "if we meet this in the wild" - I've discovered this while preparing codemod, w

[2021-08-29 23:32] lmiller1990 commented on #885
Here's an example PR showing how I'd generally approach this kind of test. It is using the new [script setup](https://v3.vuejs.org/api/sfc-script-setup.html) syntactic sugar. It allows for improved type safety with `defineEmits` and `defineProps`.

https://github.com/vuejs/vue-test-utils-next/compare/issue-885-example?expand=1

While it is possible to pass a callback as a prop in Vue, a more commo

[2021-08-29 23:46] #689 closed

[2021-08-30 00:12] lmiller1990 commented on #726
Happy to re-open if there is more activity. I don't see any action to take right now, so I'll close this.

[2021-08-30 00:12] #726 closed

[2021-08-30 09:55] xanf opened #899 "Improve typing of findAllComponents"
See https://github.com/vuejs/vue-test-utils-next/pull/897#discussion_r697885293 for original discussion

`findAllComponents` is incorrectly typed by VueWrapper<T>[], where `T` - is a type of original wrapper, not the selector. We should explore possibility of improving this typing to provide better error-free experience for TypeScript users

[2021-08-30 13:41] TheDutchCoder opened #900 "Strange provide/inject related regression in rc13"
The following test no longer works in rc13 but works fine in rc12. It looks like the prop change is never detected and it's the only test in our entire project that fails on it.

The component has a slot and provides its own props to the children, which then respond to changes (like the `icon` prop).

My best guess is that something with provide/inject no longer works in the test utils and/or that

[2021-08-31 01:25] lmiller1990 commented on #900
I tried reproducing in this repo but I couldn't - there isn't enough information. What's `type Breadcrumb`? How are you mounting the component (I don't see `mount(...)` anywhere).

Can you include all the information to reproduce the issue? Or, ideally, fork this repro and add your reproduction? Thanks!

[2021-08-31 15:32] TheDutchCoder commented on #900
Let me try to make a reproducible example on StackBlitz, otherwise I can provide all the files.

[2021-08-31 15:58] TheDutchCoder commented on #900
This might be a Vue bug, as I actually can see the parent prop change, but the template doesn't update at all: https://stackblitz.com/edit/vue3-flickity-ts-ab4jme?file=src%2Fcomponents%2Fbreadcrumb%2Fbreadcrumb-item.vue

[2021-08-31 16:15] TheDutchCoder commented on #900
Okay, apparently the component didn't properly work, but the tests passed.
The provided parent prop wasn't reactive, yet in VTU it _did_ update when changing the prop.

Does VTU, under the hood, to some stubbing of child components in the mount?

I think it created a reactive side-effect that's not actually compatible with what happens in the real situation?

[2021-08-31 20:40] LinusBorg commented on #900
The test case you showed above did fail though?

[2021-08-31 20:44] dospunk opened #904 "Request to reinstate ability to use CSS selectors in findComponent"
It said in the release notes that if we felt strongly about this feature we could open an issue, so that's what I'm doing. I don't think it makes sense to remove the ability to use CSS selectors in findComponent just to make VTU2 more in line with VTU1, and I think there are some notable benefits to using CSS selectors to find components.

The most significant benefit (in my opinion) is the abilit

[2021-08-31 21:18] TheDutchCoder commented on #900
No it only fails on rc13, not on any of the previous versions.

[2021-09-02 13:01] xanf commented on #904
With #897 being merged you can do this one:

[code]

I would like to oppose this proposal - I really like simplicity of mental model - selecting by query selectors always return DOM nodes and I consider workaround mentioned on top sufficient for any "extreme" use cases. The main downside of selecting component by CSS selector is that actually multiple components can match single selector (see http

[2021-09-02 17:57] dospunk commented on #904
Ah I didn't know that chaining `find` and `findComponent` was possible now! That definitely takes care of the main issue I had (despite being a little more verbose), and while it doesn't fix the issues with the other methods of selection, I can see your point about keeping the mental model simple.

[2021-09-02 19:51] xanf commented on #904
@dospunk totally understand you. We also used a lot of chaining DOM selectors to find componnents in pre-1.0 versions of vtu and now it's time to pay

[2021-09-03 06:58] freakzlike commented on #904
I am using this alot, so I can use the attribute and selector for unit and E2E tests. E.g:

[code]

[code]

Now I need to use the DOM selector for `data-test` and the Component selector:
[code]

Unfortunately this is not possible yet, because #897 is not in `2.0.0-rc.13`

[2021-09-03 12:02] xanf commented on #904
Oops, sorry for misleading information about #897 - I'm using own fork which is far ahead of master, so totally forgot to check if this was released

[2021-09-06 00:33] lmiller1990 commented on #900
Is there some way to get the actual code so I can run it on my computer? I cannot find a "clone repo" or similar button in StackBlitz.

[2021-09-06 00:42] TheDutchCoder commented on #900
Not really :(

It's our company's repo and it's not OSS. Furthermore, the icon itself comes from our own library and is not a component in the tested environment.

If you want you can close the issue. There definitely _was_ something wrong, but seeing as the bug has now disappeared it might not be super relevant anymore (other than understanding why it was actually broken before).

My gut feeling

[2021-09-06 01:05] lmiller1990 commented on #806
I started to dig into this. I will work on this here: https://github.com/vuejs/vue-test-utils-next/pull/916

I can confirm I was unable to stub out a script setup component. My assumption is that we are trying to stub out the imported component by checking against things like name, prototype, etc, but script setup components go through some internal transformations, and what you get at the end of

[2021-09-06 01:15] lmiller1990 commented on #806
I was able to stub a script setup component like this:

[code]

[2021-09-06 01:46] lmiller1990 commented on #904
Chaining `find` and `findComponent` seems pretty popular, so I made a quick release just for this feature. https://github.com/vuejs/vue-test-utils-next/releases/tag/v2.0.0-rc.14

[2021-09-06 01:53] lmiller1990 commented on #861
It's done now.

[2021-09-06 01:53] #861 closed

[2021-09-06 01:55] lmiller1990 commented on #694
Maybe:

[code]

I don't see any action to be taken in VTU at this point, so I will close this. Happy to reopen if we need to change some code here.

[2021-09-06 01:55] #694 closed

[2021-09-07 09:17] picasocro1 commented on #904
In my opinion the biggest pros of finding components using selectors was the ability to strictly separate test and dev contexts.

Using `data-test` or similar attributes we have testing markers which are totaly independent from the dev process.

Using component names or refs we make unnecessery dependency in our tests and make it more bugprone in case of any refactors.

I understand the argument o

[2021-09-07 21:38] lmiller1990 commented on #904
Inclined to agree - opinions on mixing DOM/VDOM aside, if we have `find(...).findComponent(...)`, I don't see how that is different to `findComponent('.foo')`.

I'd still like to get some opposite opinions, mainly @xanf, but seems like this is something we'd want to do pre 2.0.0 (I don't see much else blocking a full 2.0.0, it'd be great to get out of the rc stage).

[2021-09-07 21:57] picasocro1 commented on #904
I also would like to recive some opposite arguments :) So if anyone have any please share them.

Just for now I downgrade our project to ver rc.12 to use query selectors but still hope that in pre 2.0.0 it will be reinstated :)

[2021-09-08 11:11] Akulko commented on #883
Ok, thank you so much!

[2021-09-08 11:11] #883 closed

[2021-09-08 15:19] Ricky-rick opened #923 "createErrorWrapper function is not exported"
I tried to create a plugin like the data-test-id-plugin example on https://next.vue-test-utils.vuejs.org/guide/extending-vtu/plugins.html#data-test-id-plugin but the createErrorWrapper function is not exported bij @vue/test-utils.

[2021-09-08 19:25] Thomasan1999 opened #929 "Unable to stub transition component"
I've tried to stub the Vue Transition component but was unable to do so. I was able to unstub the component with `transition: false` (since it is stubbed by default) but if I want to provide a custom stub, e.g. `transition: {template: '<p></p>'}`, it gets ignored.

Here is a repo with a custom transition stub: https://github.com/Thomasan1999/vue-test-utils-next-transition.

[2021-09-09 15:19] lmiller1990 commented on #923
Let's expose it. Can you make a PR exporting it from `src/index.ts`?

[2021-09-09 15:30] lmiller1990 commented on #929
I had a quick look at getting this one to work but no luck. I am not sure this is something we will be able to support - internally, Vue has some specific logic for `<transition>`, `<suspense>` etc that we may not be able to override.

I can look into this more, but before I spend too much time on it, what is your use case? Any reason to provide a custom stub for `<transition>`?

[2021-09-09 16:16] Thomasan1999 commented on #929
I have a toast message component which emits a `close` event after the close button is clicked. I want to test that the event is emitted after leave transition. I've tried both waiting for real timers and running fake timers but the event was still not fired.

Simplified template:
[code]

[2021-09-10 08:13] marina-mosti commented on #886
Reopening because even with @xanf 's fix, the keyboard event is still not working with:

[code]

[2021-09-10 08:34] marina-mosti commented on #904
I have to agree with @freakzlike , the ability to be able to target a component using a `data-test` attribute is highly valuable. I've found in most cases where I use this, that I don't want to forcefully bind my test to a particular instance of a component because it's not valuable.

A component may change, for example a "RaisedButton" may change for a "FlatButton", which would break the test. In

[2021-09-10 11:41] alfeg opened #936 "Build fail due to wrong import in domWrapper.ts"
There is seems to be an error that causes our build to fail after library update to v2.0.0-rc.14
https://github.com/vuejs/vue-test-utils-next/blob/df6c234d2511f500be996620118c99625a86e165/src/domWrapper.ts#L8

I guess proper line should be:
[code]
As there is no `src` fodler in npm package:
![image](https://user-images.githubusercontent.com/118516/132848036-43db0833-d8dd-4666-9467-3e9669ecf5cf.png

[2021-09-10 11:52] cexbrayat commented on #936
I see you're preparing a PR 👍

You can use `skipLibCheck: true` in the meantime in your projects (it will be faster to compile, and it will skip the libraries compilation, which is usually useless).

[2021-09-10 13:19] alfeg commented on #936
@cexbrayat I've prepared PR and forgot to press create pull request =)

Thanks for workaround!

[2021-09-10 13:26] #936 closed

[2021-09-10 13:46] kensodemann commented on #904
I agree with what @marina-mosti said. For now, I am changing my tests as such:

[code]

It's a bit of a pain, but it works in my case. That said, this is just for an app developed as part of a training we give our customers, not a real app. I could just as easily instruct the customers to stay on `rc.12` for now and adapt when this is all sorted out... 🤷‍♂️

Personally, I would just add a `css` or

[2021-09-13 03:25] lmiller1990 commented on #929
If you were to stub that component, you'd lose the `after-leave` event hook, too.

Can you just test against the real transition by opting out? Then it should trigger the correct hook, and you'd make your assertion.

[2021-09-13 13:34] Thomasan1999 commented on #929
I would lose the hook but I was thinking about some simple implementation like checking whether the slot exists on update lifecycle hook after it was mounted and if it does not exist, the component would trigger the `after-leave` hook. It's not the ideal solution but it should behave the same way. What do you mean by opting out?

[2021-09-13 18:44] robokozo commented on #716
Personally, I think it would be really great to be able to find HTML elements by ref. I prefer this because I don't end up adding extra data to the dom (or my snapshot files) that are purely used for my unit testing purposes.

[2021-09-14 15:50] robokozo opened #945 "Stubs rendering default props"
When rendering snapshots, stubbed components are actually being evaluated in order to apply the default props to the element.

For example if my component imports and contains the following code:

[code]

And I stub out the `Button` component in my test

[code]
My snapshot will render with
`
<button-stub label="Cancel" icon="pi pi-times" iconpos="left" loading="false" loadingicon="pi pi-spinner pi

[2021-09-15 09:52] frutsel32 commented on #716
I am currently working on migrating our project to vue 3 and have about 400 tests that fail because I can't find dom elements by ref. I would love for this to be re-added

[2021-09-18 14:05] #923 closed

[2021-09-20 00:53] lmiller1990 commented on #945
Where are `loadingicon` and `iconpos` coming from?

Snapshots + stubs are difficult to handle - seems like there are varying opinions on what should and should not be rendered. I wonder if we can provide a few different snapshot serializers, so people can choose the snapshot behavior they'd like. 🤔

[2021-09-20 00:59] robokozo commented on #945
They are defined on the actual "Button" component that I'm stubbing out. These specific props are defined with default values that are being rendered by the snapshot. (In this particular case they are defined in the PrimeVue component library I'm using)

I'm assuming that the actual Button component is being evaluated before the stubbing process takes place.

[2021-09-21 01:19] lmiller1990 commented on #716
While we figure out how to implement this in a way that covers all edge cases, I will try to provide a method you can use in the mean-time to help with migration.

[2021-09-21 01:21] lmiller1990 commented on #929
You should be able to do

[code]

And then VTU will use a real `<transition>` component for you tests. That will give you the life cycle hook, and that should help with your test.

Can you share the exact component and test you are trying to write? Maybe there's a way to do it already.

[2021-09-21 16:36] dospunk opened #957 "findComponent not working with stubbed component"
I have a component I'm trying to test that uses router-link, and I'm trying to stub it out with my own component.
My test looks like this:

[code]

My expected outcome is that the test passes, but instead it fails with "Cannot call text on an empty VueWrapper."

If I use `console.log(wrapper.html())` it contains the contents of the MyRouterLinkStub component, so I know it's being inserted

[2021-09-21 18:34] xanf commented on #957
@dospunk could you please show implementation of `MyRouterLinkStub` ?

Also could you try adding a `name` to your `MyRouterLinkStub`?

[2021-09-22 19:43] tinobino opened #966 "TypeScript compile error with 2.0.0-rc.14"
Hi!

When compiling my code via _vue-tsc_ I'm getting the following error:

[code]

I think the import is wrong there.

[2021-09-23 06:59] cexbrayat commented on #966
Thank you for opening an issue.
This is a duplicate of #936 and it has already been fixed, but not yet released.

In the meantime check this comment for a workaround https://github.com/vuejs/vue-test-utils-next/issues/936#issuecomment-916844985

[2021-09-23 06:59] #966 closed

[2021-09-23 19:56] vincerubinetti commented on #194
Note for people stumbling on this issue from google, improperly formatted [mount options](https://next.vue-test-utils.vuejs.org/api/#global) can cause issues that look like this (makes you think that the problem is with the component being mounted), and won't be fixed by the shim solution above.

In my case, I was stupidly passing an array of Vue components to `components` like `mount(Component, {

[2021-09-24 01:11] lmiller1990 commented on #904
Let's just support CSS with `findComponent`.

Would someone like to make a PR?

[2021-09-24 04:48] xanf commented on #904
@lmiller1990 I'll handle that for both versions of VTU (actually it's kind of confusing that this discussion was never raised in VTU v1 repo)

[2021-09-24 07:30] marina-mosti commented on #904
Thanks @lmiller1990 @xanf much appreciated.

Perhaps there should be a section for best practices in the docs that explains the problems with using CSS selector?
The docs are currently a bit confusing https://next.vue-test-utils.vuejs.org/api/#findcomponent where even one of the examples still has the `data-test` selector.

![image](https://user-images.githubusercontent.com/14843771/134635628-c0c7

[2021-09-24 12:09] cexbrayat opened #972 "Better types for `wrapper.vm` when the component is closed"
Since `2.0.0-rc.15`, we are now exposing `$.proxy` as `wrapper.vm` to simplify testing of `script setup` component,
allowing to test the following component:

[code]

with `expect(wrapper.vm.count).toBe(0)`, even if `count` is not exposed by the component (see PR #931 ).

This works, but for TS (`vue-tsc`), `wrapper.vm` does not have a `count` property, because `wrapper.vm` is typed as `ComponentP

[2021-09-24 12:09] cexbrayat commented on #972
@pikax do you have an idea how we could solve that?

[2021-09-24 13:22] pikax commented on #972
Currently that's not possible, I'm working on this PR https://github.com/vuejs/vue-next/pull/4465 to improve some types, I can have a look on how to also add that info there

[2021-09-24 13:47] lampewebdev opened #973 "Vue3 with vite error: Cannot destructure property 'config' of 'undefined' as it is undefined."
I'm getting the following error, then I'm trying to run jest in a vite project.
I'm not sure what I'm doing wrong.

[code]

[code]

[2021-09-24 14:02] cexbrayat commented on #973
Hi @lampewebdev

This is not an error with VTU but with vue-jest. 😉

With this error, I suppose you're using jest v27. If that's the case you need to replace `vue-jest` with `@vue/vue3-jest`, a new package we just released to support jest 27. You can generate a new project with Vue CLI v5.0.0-beta.4 to see how to set it up, but that should be straightforward.

[2021-09-24 14:02] #973 closed

[2021-09-24 14:02] lampewebdev commented on #973
Thanks for the quick answer.
And yeah this works :)

[2021-09-27 00:40] lmiller1990 commented on #904
Hard to say if there is really "problems" with using CSS selectors to find components - if it works, there's not real problem. To me, it feels more like philosophical differences.

Always good to improve the docs, though, so if you think they can be better, please make them better 🚀

[2021-09-27 08:54] lampewebdev opened #977 "Composition Api, Tyescript and test utils"
Hello,

I have the following code:
[code]
No Typescript is giving me the following error:
[code]

I'm usuing the following versions:
[code]
With the following jest.config.js
[code]

[2021-09-27 09:35] xanf commented on #904
Short status update for everyone involved: ETA for pull requests: tomorrow :)

[2021-09-27 15:47] cexbrayat commented on #977
Hi @lampewebdev

That's hard to tell without a reproduction, but it looks like you're using `propsData` which is deprecated. Can you try with `props` instead? https://next.vue-test-utils.vuejs.org/migration/#propsdata-is-now-props

If that does not work, please make a small repository with your component and your test so we can investigate

[2021-09-27 18:27] robokozo commented on #945
I ran into another issue which leads me to believe this is the case and the stubbing process should be examined. In this new situation, one of my stubbed components has dependencies which are not accounted for in the context of the test. The test crashes... but it shouldn't matter because the component should be stubbed out.

[2021-09-27 21:24] lampewebdev commented on #977
Hey,
dang it!
That was it!
Thanks!

So for other people the problem was:
[code]
And VSCode was showing a red underline under `HelloWorld`,
The solution was as proposed:
[code]
So the only change was to rewrite propsData to props.

[2021-09-27 21:24] #977 closed

[2021-09-27 21:24] martijn788 opened #982 "Compositions"

[2021-09-27 21:26] #982 closed

[2021-09-29 04:27] lmiller1990 commented on #945
What do you mean by "has dependencies"? As in it imports other modules? The stubbing VTU offers is just before the component is rendered; it will still get imported (as well as all its dependencies).

Assuming my understanding of your question is correct, if you want to completely and totally stub out a component (and the modules it imports) you could use `jest.mock` potentially.

[2021-09-29 04:37] robokozo commented on #945
Yeah I think you understood correctly. Your idea to use jest.mock sounds really interesting! I'll give it a go!

[2021-09-29 05:12] lmiller1990 commented on #945
Cool, here is a basic example: https://lmiller1990.github.io/vue-testing-handbook/vue-router.html#workaround-for-large-render-trees-using-mount

We should still fix the stubbing bug for <script setup>.

[2021-09-29 05:13] lmiller1990 commented on #904
After this and a few `<script setup>` bugs I think we can move to a stable 2.0.0.

[2021-09-29 09:39] xanf opened #985 "2.0 release preparation"
#1253
#1233
#1173

Once these are fixed, we move to 2.0.

Edit: once the tests in this PR pass we move to 2.0: https://github.com/vuejs/test-utils/pull/1293

[2021-09-29 09:41] afontcu commented on #985
great! 🚀

docs would need some additional love, too:

https://next.vue-test-utils.vuejs.org/guide/advanced/third-party.html
https://next.vue-test-utils.vuejs.org/guide/advanced/reusability-composition.html
https://next.vue-test-utils.vuejs.org/guide/advanced/transitions.html

[2021-09-29 09:47] xanf commented on #985
My suggestion list:

* reinstantiate `enableAutoDestroy` / `resetAutoDestroy` API - while relatively fresh - it is used in some projects and I see it as a good idea for making sure our tests are safe and we do not loose this when migrating to 2.0
* port https://github.com/vuejs/vue-test-utils/pull/1706 to this repository - it proven as a great tool from shooting ourselves in a leg, and is quite tr

[2021-09-29 09:49] xanf commented on #985
Definitely, first comment updated :heart: :memo:

@afontcu @lmiller1990 @cexbrayat Your input will be invaluable here
Let me know also about my suggestion list and for each accepted proposal I will open relevant issue here

[2021-10-01 01:32] lmiller1990 commented on #985
I think I have a fix for #806 somewhere, I can get it done this weekend.

- [ ] vue-test-utils#1706 Seems trivial, let's do it
- [ ] `enableAutoDestroy` Yes, I think this is also easy to port
- [ ] #904 Yes, I believe @xanf is doing this
- [ ] support `is` - don't really have a strong opinion here

I think we should tag all relevant issues with a `2.0.0` tag or something, so we do not need to trac

[2021-10-01 13:32] PotatoesFall opened #989 "doc: wrapper.findAllComponents and wrapper.getComponent accept querySelector in docs"
https://github.com/vuejs/vue-test-utils-next/blob/master/docs/api/index.md?plain=1#L1187
https://github.com/vuejs/vue-test-utils-next/blob/master/docs/api/index.md?plain=1#L1284

However this syntax doesn't seem to actually be allowed. Is the desired behavior to also accept querySelector i.e. strings? or is the documentation out of date? What is the correct way to find a component with a querySele

[2021-10-02 01:50] xanf commented on #989
Hi, @PotatoesFall, thank you for reporting that

We've had some discussion in #904 and are going to re-instantiate an ability to find component with CSS selector. I'll close this one in favor of that issue

[2021-10-02 01:50] #989 closed

[2021-10-02 01:51] xanf commented on #904
@lmiller1990
WDYT of this corner case:

[code]

Am I correct that we're expecting to silently ignore divs and return array with 1 element for `.findAllComponents('.foo')`?

[2021-10-03 13:34] xanf commented on #904
@marina-mosti @lmiller1990 @afontcu @cexbrayat I would like to have your input here.
I'm asctively working on this both for VTU v1 and VTU v2 and found a corner-case which seems to be close-to-impossible to solve in efficient way

Let the code speak for me:
[code]

(this code is taken from my tests for VTU v1, so `mountingMethod` === `mount` / `shallowMount`)

One might obviously expect that `.in-

[2021-10-03 18:22] xanf commented on #904
After certain research & discussions - I feel it's ok to proceed just with this warning in docs - this should be quite rare edge case:
* if you're using `mount` - it should be quite rare edge-case to use `findComponent` at all - we are expecting people to build their assertions against real DOM nodes
* if you're using `shallowMount` - most of the nodes are stubbed, so the case when we have multipl

[2021-10-03 18:39] marina-mosti commented on #904
Hey @xanf I agree. I am not a fan of `mount` getting pushed as the "default" way to test components, it breaks in my opinion the unit encapsulation and it becomes a pseudo-integration test.

Class in particular is a complicated way to target stuff even for units, and I'm sure there's people doing it but with the way that attrs.class is working now I would definitely advise or warn about it as you

[2021-10-04 14:13] xanf commented on #904
@marina-mosti the drama is far more bigger than it feels :)

[code]

[2021-10-04 16:37] marina-mosti commented on #904
@xanf yikes. Honestly, I never ran into these type of issues before at work because we very very very rarely use `mount`, if at all. Spitballing, but maybe this should only work with shallow? I still argue that this is an integration test at this point.

The unit test for `RootComponent` should not be aware of internal implementation of `NestedChild`, and we're drifting into the land of bad practi

[2021-10-04 17:03] xanf commented on #904
@marina-mosti same here, I'm `shallowMount` adept, but I definitely will not want to introduce API which will be specific to `shallowMount`. I hope note in the docs will be sufficient

[2021-10-05 04:12] lmiller1990 commented on #904
Yes, I think this makes sense... `findComponent` should only find components, right?

@marina-mosti

I think that all the APIs should work with both `shallowMount` and `mount` where possible. This was mostly find in V1, and looks like it'll be mostly fine in V2, except some niche edge cases.

Regarding the edge cases, I think we have to accept these will exist and just document them. Most people w

[2021-10-07 00:58] #904 closed

[2021-10-07 17:32] dospunk commented on #957
Here is my implementation,
[code]

Adding the name property makes it work

[2021-10-13 14:18] boboldehampsink commented on #985
At the moment I'm seeing this issue: https://github.com/vuejs/vue-test-utils/issues/1833 also in 2.0.0 rc 16.

[2021-10-15 07:15] boboldehampsink commented on #985
@cexbrayat yes encountering this with Vue 3 and VTU v2. The issue is exactly the same tho. Probably worth fixing in v1 and then you'll be able to fix it for v2 too.

[2021-10-15 12:50] wdpm opened #1016 "may be a small error/suggestion in forms part of the document site"
[code]

This line `relatedTarget: componentToGetFocus` should be:
[code]
Or it will cause error like this
[code]

Reason:  `componentToGetFocus` is a wrapper not of type 'EventTarget'.

Original Text is:

If we use `componentToGetFocus.element`, we can directly make test passed instead of `assume our code checks inside the event object`

[2021-10-16 22:09] navidshad opened #1058 "Class Component issues"
I use typescript and vue-class-component on vue3. when I want to change the component data I will get an error:
[code]
This is the component:
[code]

And this is the test script:
[code]

[2021-10-17 06:58] wdpm commented on #1016
Another small suggestion(error):

[code]

Acccording to previous Counter.vue file
[code]
The value of `wrapper.text()` above is `Times clicked: {{ count }} increment`
So maybe the doc should change a little bit

[code]

[2021-10-17 07:44] cexbrayat commented on #1016
Thanks for your suggestions @wdpm !

Could you open PRs to fix these? It would be a great help for us.

[2021-10-17 08:23] wdpm commented on #1016
Prs has been completed. @cexbrayat

[2021-10-18 03:46] wdpm opened #1021 "Fix docs error: shallow allows opt-out of stubbing specific component"
Here is position:

[code]
This line `    stubs: { ComplexA: false }` should be replaced by:
[code]

[2021-10-18 06:25] #1021 closed, assigned to nobody

[2021-10-18 11:45] posva opened #1023 "Type errors when setting `config.global.stubs.xxx`"
On the latest release this started failing:

[code]

I think the `config.global.stubs` should be marked as of type `Record<string, Stub>`.

[2021-10-21 09:08] roo7cause opened #1029 "Opting-out a component of stubbing does not work"
Hey guys,

I am trying to figure out how to test a function, that is inside `$refs`. Something like this:
`spyOn(commentsApp.$refs.scrollable.publicMethods, 'scrollToElement')`

I tried to mount my Component like this:
[code]

However, `commentsAppWrapper.vm.$refs.scrollable.publicMethods` is undefined, `publicMethods` is a computed property on `Scrollable` component, which returns a function `scr

[2021-10-21 09:23] #1029 closed, assigned to nobody

[2021-10-21 09:26] cexbrayat commented on #1023
@xanf You recently updated the types of `stubs` to accept `Record<string, Stub> | Array<string>`, but it looks like it breaks the case reported by @posva . The obvious workaround is to cast as `Record<string, Stub>, but that's not ideal. Would you mind taking a look?

[2021-10-22 21:33] TobiasUhmann opened #1033 "Testing for boolean attribute (e.g. "disabled") not as expected"
My code for testing whether an `<input>` button is disabled currently reads as follows:

[code]

However, the line does not perform as I had expected. For an `<input disabled>`, my test fails with the following error message:

[code]

Apparently, `attributes()` yields an empty string instead of something truthy if a boolean attribute like "disabled" is set.

Is this the intended behavior? Either w

[2021-10-26 11:07] dw08 opened #1038 "how to test vue-router with composition API?"
[code]

[code]
![image](https://user-images.githubusercontent.com/35767755/138865686-129d7d78-ee32-46aa-b662-ab890cab1754.png)
why?

[2021-10-27 01:36] #1038 closed, assigned to nobody

[2021-10-27 20:06] ccmetz opened #1042 "wrapper.get() and wrapper.find() only search the first root node"
Possible bug or a misunderstanding by me?

### Subject of the issue
Package version: 2.0.0-0

After mounting a component with multiple root nodes in the template (Vue3), `wrapper.get()` only seems to search the first root node for the selector.

### Steps to reproduce

1. Create a Vue3 SFC component with 2 root nodes in the template
2. In the test file, shallowMount the component and call `get()`

[2021-10-27 20:07] ccmetz opened #1043 "Question: How to globally inject components with Vue3?"
I'm using `@vue/test-utils` (v2.0.0-0) with a Vue3 + TS project that uses `Vuestic-UI` as a components framework. I'm trying to figure out how to inject my `Vuestic-UI` components globally so that I don't get messages like the following when I try to run a unit test (using `jest` as the test framework btw):
[code]
In the past with Vue2, I was able to use a setup file with something like this to im

[2021-10-28 03:05] dumptyd opened #1044 "Emitted event's arguments do not preserve the reference to the original object"
### Versions

**vue-test-utils** - 2.0.0-rc.16
**vue-jest** - 5.0.0-alpha.10
**jest** - 24.9.0

### Subject of the issue

I have a smoke test to ensure that when I emit a particular event, I emit it with the same object that was passed to the component. This test uses `expect(emittedObj).toBe(passedObj)` (Object.is) check to ensure the reference is preserved.

I'm migrating my library to Vue 3 and

[2021-10-28 07:42] #1033 closed, assigned to nobody

[2021-10-28 17:40] #1042 closed, assigned to nobody

[2021-10-29 17:44] doutatsu opened #1046 "Not able to get working with Vite"
I am having trouble getting the tests to work with Vite, specifically due to the `import` object that is provided. One example is loading in global components using Vue Test Utils config:

hitting an issue with `globEager` when trying to provide plugins to config

Here my plugin:
[code]

I am trying to pass this plugin in my setup script for Jest using Vue Test Utils:
[code]

But I get an error `p

[2021-10-30 12:24] doutatsu commented on #545
This is quite a shame this was removed. Mocking computed properties made it a lot easier to use a real VueX store, but the stubbing out a specific getter for example, for a specific test:

[code]

[2021-11-04 00:44] lmiller1990 commented on #1046
I'm not fully clear on what exactly you are trying to do. What do you mean by "working with Vite"?

If you want to run your tests in a browser with Vite, you will likely need to use something like Mocha, that is environment agnostic. I'm not clear on how Jest + Vite fit together here.

Test Utils itself works fine in a browser. I might need more information on your setup, expected result, etc.

[2021-11-04 00:46] lmiller1990 commented on #716
Yes, https://github.com/vuejs/vue-test-utils-next/releases/tag/v2.0.0-rc.16 was released, `findComponent` now works with a DOM selector (again). Here is the PR: https://github.com/vuejs/vue-test-utils-next/pull/994.

I don't think we have support for `ref` yet, but does this help?

[2021-11-04 10:12] beneee opened #1055 "Docs: Missing brackets in "Testing useRouter and useRoute within setup" example"
Hi,

Noticed that there are brackets missing in the "Testing useRouter and useRoute within setup" sample code:
The mocked implementation of useRouter should return an object and not specify an executable code block.

The following code...

[code]

...that can be found [here](https://github.com/vuejs/vue-test-utils-next/blob/master/docs/guide/advanced/vue-router.md?plain=1#L355) and [here](https://

[2021-11-04 10:23] #1055 closed

[2021-11-04 11:46] doutatsu commented on #1046
Basically, Vite specific methods (`globEager`, etc) and functionality, doesn't work with Jest.
There is some work going on from what I've seen:
https://github.com/sodatea/vite-jest
https://github.com/vitejs/vite/issues/1955

After a lot of trial and error, I have managed to get Vite + Jest + Vue Test Utils to work together, albeit a lot of hacks has been used. I understand it's not quite the issue

[2021-11-04 11:46] #1046 closed

[2021-11-04 12:58] sschneider-ihre-pvs opened #1057 "FR: Add replacement options for html output."
Some vue frameworks use fancy dynamic generated values for matching for/id elements of input elements. it would be cool if that could be somehow made static to trick .toMatchSnapshot to report every time a test is run. the property matcher in jest only works with actual properties like in json.

[2021-11-06 16:40] mgdodge commented on #716
Sorry for the somewhat-wordy response, but I want to make a few points.

Unfortunately, your reference to `findComponent` does not help much in what I am asking. `findComponent` is useful for finding _**components**_, but the original example listed here and referenced in my initial comment demonstrate finding _**standard HTML elements**_ using `ref`. If we were to replace `findComponent` with `fi

[2021-11-10 00:24] vpillinger commented on #1043
I ran into a similar issue here and the challenge for me was that the globals are registered using `app.component()` in Vue, but using this array syntax in the testing library. Luckily, I was using a custom-built component library so I was able to create an "index" that I could import to this library. I then used a for-loop to register the components in my `main.js` file.

It seems like the confus

[2021-11-10 00:39] vpillinger commented on #845
This behavior was very confusing me as well and the main challenge for me was that the globals are registered using app.component() and/or app.use() in Vue. However, this library uses an alternate array syntax for global registration.

Luckily, I was using a custom-built component library so I was able to create an "index" that I could import to this library. I then used a for-loop to register the

[2021-11-10 12:04] AndreasNasman commented on #798
Hi!

I'm writing a similar test to the one described [in the teleport docs](https://next.vue-test-utils.vuejs.org/guide/advanced/teleport.html) and the [accompanying video](https://www.youtube.com/watch?v=bhYtFWDgJmY), but with a slight variation.

The child component which I need to test (and causing the issue) is a [Dialog component](https://www.primefaces.org/primevue/showcase/#/dialog) from Pr

[2021-11-11 22:12] novellac opened #1065 "VTU doesn't show method exposed via context expose"
### Subject of the issue

**tl;dr: Unable to unit test a method which I expose via context expose.**

I am using Vue 3.2, VTU 2.0.0-rc.16, Composition API, and JS (no TS).

I have two components, `Child` and `Parent`. `Child` returns a render function `h`. `Child` also exposes a method, `increment`, using [context expose](https://v3.vuejs.org/api/options-composition.html#setup). In `Parent`, I imp

[2021-11-12 10:07] cexbrayat commented on #1065
Hi @novellac ,

Thank you for opening an issue, and providing a repro.
I took a quick look, as I recently worked on the `expose` topic in VTU-next.

TL;DR: The render function is the reason it does not work here. I opened a PR to fix it.

Let me explain.
Using sfc.vuejs.org, you can see that a component like:

[code]

generates JS like this when compiled:
[code]

Note the existence of `ctx` contai

[2021-11-13 12:32] doutatsu opened #1070 "Using teleport with shallowMount"
I am getting a Vue warning for my teleport, when doing a shallowMount. I am unable to find a way to get a workaround on this - tried stubbing it out, but that also didn't do anything...

### Warning
[code]

### Component template
[code]

### Test
[code]

[2021-11-13 15:01] #1065 closed

[2021-11-13 15:26] lmiller1990 commented on #1070
Testing teleport is a bit weird. There is an article you might find useful here: https://next.vue-test-utils.vuejs.org/guide/advanced/teleport.html

As for the warning, I am not sure that syntax is valid. I don't think we support passing a template like that. [Docs for slots mounting option](https://next.vue-test-utils.vuejs.org/api/#slots). I think you want something like:

[code]

I don't think

[2021-11-13 15:26] #1070 closed

[2021-11-13 15:30] lmiller1990 commented on #1057
I don't fully understand what you are asking for. Are you suggesting a custom [snapshot serializer](https://jestjs.io/docs/configuration#snapshotserializers-arraystring)? [There was one for Vue 2 and Jest](https://www.npmjs.com/package/jest-serializer-vue-tjw), I'm not sure if it's ported to Vue 3.

This seems like a Jest specific feature request; I think this would be nice to have, but it's outsi

[2021-11-13 15:30] #1057 closed

[2021-11-13 15:36] lmiller1990 commented on #1044
It looks like we make the props reactive [here](https://github.com/vuejs/vue-test-utils-next/blob/master/src/mount.ts#L319-L323) to support features like `setProps`.

I guess this technically is a bug, since it's a different behavior from what Vue does.

I don't know if we would have any easy way to support this; I'm also not sure it's really advisable to rely on the object reference to be the sam

[2021-11-13 15:37] #862 closed

[2021-11-13 15:44] doutatsu commented on #1070
@lmiller1990 Thanks for a quick response - I've already read the guide for teleport, and none of the suggestions really worked for me.

I can also confirm that the syntax I used did work - I can see it when using `html()` on the component. But I did actually try `h` version before, as I was researching this error and someone suggested it needs to be an actual VNode... but that didn't help either.

[2021-11-13 15:54] lmiller1990 commented on #1043
It seems like PrimeVue asks users to import and register the components one by one:
![image](https://user-images.githubusercontent.com/19196536/141650331-0131f340-1b8f-42f6-b935-bc9e9d3012cb.png)

This seems very weird. I wonder why they don't register them all globally like other UI libs? Seems this behavior is correct and intentional - at least, I don't see a bug in Test Utils (assuming this is

[2021-11-13 16:09] lmiller1990 commented on #1043
I got a Prime Vue example here: https://github.com/vuejs/vue-test-utils-next/compare/add-prime-vue-example?expand=1

Had the same problem as @awulkan. For whatever reason PrimeVue ship `vue` files, and Jest won't transform `vue` files in node_modules by default. In my example above, I just imported the `.cjs.js` file and it worked. You could also use the `vue` files by configure [this option](http

[2021-11-13 16:10] #1043 closed

[2021-11-13 16:57] novellac commented on #1065
@cexbrayat @lmiller1990 Thank you for the thorough explanation, and for your work on it. Much appreciated!

[2021-11-13 20:47] dumptyd commented on #1044
I looked into this more when I was working on that specific test and came to the same conclusion as you that somewhere down the line, the object is becoming reactive and that's what causes this.

But, I also realized that this is the correct behavior and VTU v1 has the _incorrect_ behavior.

**TL;DR: I think the issue can be closed.**

---
#### Why it works in the browser

When I'm passing a prop

[2021-11-14 22:27] lmiller1990 commented on #1070
I didn't think that `<teleport>` would be stubbed by `shallowMount`, but maybe you are correct. You should be able to do:

[code]

[2021-11-14 22:33] lmiller1990 commented on #1046
Good to see you found a solution. Out of curiosity, why do you need `globEager` to work in Jest? Is this for bundle splitting or something? A similar problem existed with Jest + webpack with regards to loading chunks.

[2021-11-14 22:39] lmiller1990 commented on #1044
Interesting... it's really difficult to get VTU v1 and v2 to do exactly the same thing, considering the internals are so different (Vue and Test Utils).

Either way, it seems like you found a solution. I don't expect this "emitted object should be referentially identical" edge case to be a problem outside a small number of cases, so I think we can close this one.

I'm still not fully understanding

[2021-11-14 22:39] #1044 closed

[2021-11-14 22:44] lmiller1990 commented on #845
@vpillinger can you share a minimal example showing how Test Utils differs from Vue itself?

Also what do you mean by "array syntax"? You can supply components using an object: https://next.vue-test-utils.vuejs.org/api/#global

[code]

etc.

[2021-11-15 03:13] vjself commented on #1058
+1

[2021-11-15 08:24] sschneider-ihre-pvs commented on #1057
It's more like a request to have replacement options for html attributes in the wrapper.html() for example
it is hard to tell wether it is a snapshot or a wrapper thing to me.

[2021-11-15 10:31] doutatsu commented on #1046
@lmiller1990 I just want to be able to pass my custom plugin to the Vue app, instead of having to manually import components. I am looking to see if I can preload all base components without using `globEager`, but that was the method suggested for Vite projects

[2021-11-16 14:54] liamdebeasi opened #1076 "using shallowMount on a component that uses Symbol causes tests to crash"
When using `shallowMount` on a component that uses `Symbol` as a value for a property, Vue Test Utils fail to run. I receive the following error:

[code]

I would expect there to be no error when using `shallowMount`. When using `mount`, the tests run as expected.

------

Steps to reproduce:

1. Clone https://github.com/liamdebeasi/vue-test-utils-symbol.
2. Run `npm install`.
3. Run `npm run test

[2021-11-16 15:16] xanf commented on #1023
@cexbrayat @posva sorry for delay, taking a look on this one :)

[2021-11-16 15:34] AndreasNasman commented on #798
Any comments on this @lmiller1990?

[2021-11-16 19:39] boboldehampsink commented on #985
New issue filed here: https://github.com/vuejs/vue-test-utils-next/issues/1076

[2021-11-17 11:52] lmiller1990 commented on #1076
Weird, this is working fine for me in this code base:

[code]

[2021-11-17 12:21] lmiller1990 commented on #1076
I cannot reproduce: https://github.com/vuejs/vue-test-utils-next/compare/issue-1076?expand=1 🤔 any ideas?

[2021-11-17 18:56] TheDutchCoder opened #1082 "Can't use `attachTo` with TypeScript"
When trying to mount a component with the `attachTo` option, TypeScript will fail with this totally reasonable response:
[code]

Adding the props manually also doesn't do anything, so the error isn't really related to the props (I assume)

[2021-11-17 19:12] TheDutchCoder commented on #1082
For reference, this is basically the test file:
[code]

[2021-11-17 21:43] TheDutchCoder commented on #798
I wonder if we could stub out the teleport all together?
I don't see a real purpose for it in testing anyway, because it just moves pieces of the DOM around.

Would that be an option?

[2021-11-17 23:14] lmiller1990 commented on #1057
Please help me clarify for my understanding - what do you mean by replacement options?

Maybe you could provide an example of what you get now in your snapshot, and what you'd like to get.

[2021-11-18 00:11] lmiller1990 commented on #716
Right, I understand now - the original issue title and discussion were completely different. I changed the issue title.

I forgot the context of why support for this was dropped. I can look into it again... if anyone else wants to speed things up, happy to help out with code review. Since we already have find by ref for `findComponent`, you can probably reuse a lot of that logic.

[2021-11-18 00:14] lmiller1990 commented on #798
We could definitely stub out `<teleport>` - we do that what with `Transition`. We have that logic [here](https://github.com/vuejs/vue-test-utils-next/blob/master/src/stubs.ts#L164), you'd just need to copy-paste it for `<teleport>`. I'm not sure if we want to default to this or not, but we could definitely add

[code]

Would someone like to make this PR? I could do it otherwise, but I'd really lik

[2021-11-18 00:21] lmiller1990 commented on #1082
The type for `attachTo` is `HTMLElement | string`. So what I think you need to do:

[code]

You need to tell it that the element does exist with `!` and that it's a `HTMLElement`, since we don't supporting attaching to a null value (doesn't make sense).

If this doesn't work, let me know, but I think our types are correct here.

[2021-11-18 00:21] #1082 closed

[2021-11-18 00:40] TheDutchCoder commented on #1082
Ah I see, your example didn't quite work but the following does:
[code]

Thanks!

[2021-11-18 00:41] TheDutchCoder commented on #798
I'll see if I can clone the repo and maybe PR this!

[2021-11-18 03:52] lmiller1990 commented on #798
Added some review comments 👍

[2021-11-18 03:53] lmiller1990 commented on #1082
The Vue components types are especially messy, especially considering it goes through a language server plugin. Not sure much can be done... glad to help.

[2021-11-18 07:26] sschneider-ihre-pvs commented on #1057
let me try. Assume you have an input component that comes packaged with an input and label tag. for convenience the label gets a `for` attribute and the input an `id` attribute with a generated uuid. Now it would be cool if either a regex or a simple attributename value replacement could be in option in the .html() function.

[code]
For snapshots this is pretty annoying when the id changes every t

[2021-11-18 07:34] afontcu commented on #1057
Hi!  👋  I think your current solution is good (and smart!) enough, and given that there's a userland valid solution, I don't think adding/documenting/maintaining a new feature is worth it.

[2021-11-18 14:58] ZaeemKhaliq opened #1088 "Vue Router testing error: Timeout - Async callback was not invoked within the 5000 ms timeout specified by jest.setTimeout.Timeout"
Following the official Next Vue Test Utils documentation, I am testing a component which has `<router-link>` following the 'Real Router' section of the documentation.
On the documentation it says: -

'Vue Router provides an isReady function that tell us when router is ready. We can then await it to ensure the initial navigation has happened.'

So, I added the code
[code]

But it's giving the follo

[2021-11-18 15:10] cexbrayat commented on #1088
Hi @ZaeemKhaliq

It's hard to say without your code, but I don't think there is an issue with VTU here.

You can find more info about tests with the router [here](https://github.com/vuejs/vue-test-utils-next/issues/152), but I strongly recommend you to use a mock router instead, as it is way easier.

You can check out https://github.com/posva/vue-router-mock/ It is what we use in our company, and

[2021-11-18 15:10] #1088 closed

[2021-11-19 12:08] MKoppJones commented on #1058
+1

[2021-11-22 00:53] lmiller1990 commented on #1058
Thanks for the bug report. I am not even sure if this is something we can fix without modifying Vue Class Component.

For anyone following/waiting on a fix: happy to accept a PR, but I won't be able to prioritise this issue in the near future. The class component appears not to be actively maintained, and is not generally recommended by Evan: https://github.com/vuejs/vue-next/issues/4744#issuecomm

[2021-11-22 00:55] lmiller1990 commented on #798
@AndreasNasman  @Yijx we released rc.17, which has support for stubbing teleport: https://github.com/vuejs/vue-test-utils-next/releases/tag/v2.0.0-rc.17

[code]

This might be useful? Just stub `teleport`, and hopefully business as usual. I didn't test this on the reproduction you posted yet @AndreasNasman, but let me know if this helps.

[2021-11-22 00:56] lmiller1990 commented on #900
Is this still a bug as of rc.17?

[2021-11-22 01:08] lmiller1990 commented on #1057
I agree. Also, Jest has a very flexible custom snapshot API - you could definitely build this using it. I think that makes more sense - I'd prefer to only add features to VTU that are useful for all runners, not Jest specific.

If you do make a custom snapshot serializer for Jest, please share it! We could add a link to the docs.

[2021-11-22 08:53] AndreasNasman commented on #798
Thanks, great work! 🥳
I'll test it later today and let you know how it went! 👍

[2021-11-22 10:44] wxsms opened #1095 "can we have a `createElementWrapper` method?"
while building component lib or using teleport feature of Vue3, the HTML element sometimes goes out of the component. Although we can use `getComponent` to access it by VNode & component, but we don't want to always abstract anything into a component.

Therefore, it can be better if there's a function works like:

[code]

So I can still use the query or trigger features provided by VTU.

[2021-11-22 11:20] AndreasNasman commented on #798
Works perfectly for our needs, thank you! 🙏

[2021-11-22 14:14] TheDutchCoder commented on #900
I will have to go back and install the version that made the test brea and then install rc17.
I'll report back with my findings.

If the issue is still there in the old release, we might be able to diff the two versions and see if that gives us an indication, but I also don't want to make this a time-sink for an issue that seems to have resolved itself anyway ;)

[2021-11-22 15:00] sevilyilmaz opened #1096 "What would be the best approach to test errors that are thrown by components?"
In version `1.x`, I used to use [this approach](https://github.com/vuejs/vue-test-utils/issues/641#issuecomment-443651405) to test errors that are thrown by components. But if I follow the same approach Vue complains about unhandled errors.

[code]

I would also spy warnings as well but I want to make sure if this is OK or if there is another solution to this?

[2021-11-22 23:43] #900 closed

[2021-11-22 23:43] #798 closed

[2021-11-22 23:48] lmiller1990 commented on #1096
I don't have a solution off the top of my head, I guess we probably need to add something in here to support this use case (in the same way we did in 1.0, I think - Vue has some way to customize error handling, maybe we can use that?)

[2021-11-22 23:49] lmiller1990 commented on #1095
Would this be a better solution? As for rc.17 you can stub teleport and test your component like usual: https://github.com/vuejs/vue-test-utils-next/issues/798#issuecomment-974969774

If this won't work, please share a minimal test and we can explore some other solutions.

[2021-11-23 02:48] wxsms commented on #1095
Thanks. It works great.

[2021-11-23 02:48] #1095 closed

[2021-11-23 02:51] wxsms commented on #1096
my solution:

[code]

[2021-11-23 08:20] sevilyilmaz commented on #1096
@wxsms it's a good approach without spying console errors. But Vue still throws the warning that I mentioned above.

@lmiller1990 yeah, maybe a helper function or a flag to silent these warnings would work. Something similar to `enableAutoUnmount` which can be used in a test file, suit or unit. Though, the users need to be aware of that this would be dangerous because it will silent all Vue warnin

[2021-11-23 18:14] nandi95 opened #1101 "DomWrapper constructor requires second argument"
After rc-17 the dom wrapper now requires a second argument: https://github.com/vuejs/vue-test-utils-next/commit/2700e88351fe9853288f974b9d0469f6084380d7#diff-3c1b58aba16a7a4e276820383e8816e322b620b2b20912542c257b467f02c25a however the package doesn't export this `typeof createWrapper`.
Can we have this exported? how should one construct a Dom wrapper around a non vm element?
Does this need new doc

[2021-11-23 23:32] lmiller1990 commented on #1101
Oh, I didn't realize this would be breaking. I had to do this to remove a circular dependency.

We could make it nullable, I guess? The problem is we now support `findComponenr` etc on `DOMWrapper`, so the parent  `VueWrapper` is required.

1. make the second arg nullable? Then we need appropriate error handling around when `VueWrapper` is null
2. don't support creating a `DOMWrapper` (no idea wha

[2021-11-23 23:40] lmiller1990 commented on #1101
Actually this might be undone and fixed here #1094

[2021-11-23 23:40] lmiller1990 commented on #716
Coming in #1094

[2021-11-23 23:42] lmiller1990 commented on #1096
Not sure, if you want to do some exploration and see if you can come up with something, happy to take a look. I find that if I need to throw an error, it's usually in  a function, so I just test the function in isolation.

[2021-11-24 08:14] nandi95 commented on #1101
Yeah, I think anytime a signature of an exported functionality changes like this, it can be considered breaking.
The use case in my situation is:
[code]
Perhaps there's a better way of doing this?
I've tried:
[code]
but that didn't work and I didn't investigate further

That PR seems to address this as the second argument is in fact removed from the dom wrapper.
Otherwise if that PR doesn't gets m

[2021-11-24 12:39] sevilyilmaz commented on #1096
We usually throw an error if there is something unwanted in the slot content and we notify the developers with an error. For example;

[code]

The code above checks if ActionBar component has ActionBarItem in it. If it has something else it throws an error, so, I cannot isolate that.

I can try to explore but it will take longer for me than the maintainers.

[2021-11-25 14:12] marina-mosti opened #1104 "Adding methods to mount removes component methods"
Hey team,

Consider the following component:

[code]

And the following test:

[code]

The test fails currently with
![image](https://user-images.githubusercontent.com/14843771/143456542-43bb9905-61f8-4cba-ab61-698e07793def.png)

If `methods: {}` is commented out of the mount, it passes.
This behavior was introduced in rc.17

[2021-11-25 14:14] marina-mosti commented on #1104
Initially i believe this was a problem with watchers, but testing out in minimal repro with a created hook we can reproduce the same error:

[code]

![image](https://user-images.githubusercontent.com/14843771/143456880-fc34cfd9-49da-4286-b0df-73d0169048f7.png)

[2021-11-26 12:05] xanf commented on #1104
@marina-mosti Thank you for catching that. I believe `methods:` was deprecated along with `setMethods`
Definitely worth a workaround though

[2021-11-26 16:14] KalDev468 opened #1106 "The VueWrapper does not update by itself"
Hi all

### What we have ?
We have three element:
1. A button
2. A simple html element
3. A component

### Scenario
When we click on the button, the element and the component are removed.

![carbon (3)](https://user-images.githubusercontent.com/95077884/143600022-f55a73f6-16cc-45bf-bd78-24cf83713886.png)

### Tests

**The first test:**

- Check that the element exist in the beginning
- Click on th

[2021-11-26 17:39] xanf commented on #1106
I believe this is intended behavior in `vtu-next`. We're expecting you to always get a fresh VueWrapper. Otherwise we will be exposing too much specifics of Vue internals here :)

[2021-11-26 18:51] KalDev468 commented on #1106
If this is the desired behavior then it is bad for people like me who have already written tests with the old behavior. it makes the tests fail and in addition it will increases the number of lines of code.

Can you please give me more indication about emulate with proxies ?

[2021-11-27 00:05] xanf commented on #1096
@sevilyilmaz @lmiller1990 I believe the best way to that - is simply pass `warnHandler` / `errorHandler` in `global.config`
You can use it both for silencing warnings / errors or building assertions (if passing `jest.fn()`)

I'm using it for example in https://github.com/xanf/vue-test-utils-compat/commit/53731ba67f7f970ede5c3abe39999358dc77ac6d to silence expected warnings :)

[2021-11-27 12:56] sevilyilmaz commented on #1096
@xanf it's a bit of a verbose approach but it definitely does the job. Thank you :)

[2021-11-27 14:09] NidusP opened #1111 "Wrapper properties vm cant read the exposed properties"
Comp `setup` return a render function,  and `expose` specific properties
[code]
I cant get `str` `handleClick` ... it is version problem?
[code]

[2021-11-29 07:02] lmiller1990 commented on #1096
Seems like this is fine for now, we can revisit if this becomes a more requested feature.

[2021-11-29 07:02] #1096 closed

[2021-11-29 07:09] lmiller1990 commented on #1101
The PR is merged, I will release a new version of VTU soon, after merging  https://github.com/vuejs/vue-test-utils-next/pull/1110

[2021-11-29 07:10] #716 closed

[2021-11-29 07:43] cexbrayat commented on #1111
Hi @NidusP

You'll need to give us more details to help you: what version are you using? What is failing?
If you're using the latest VTU version (rc.17 at the moment), it should work.

If you have an issue with the latest version, you can either:
- try to provide us a minimal reproduction in a github repo so we can take a look
- add a failing unit test to this repository (see `expose.spec.ts` for

[2021-11-30 18:26] xanf commented on #389
Closed via #844

[2021-11-30 18:26] #389 closed

[2021-12-01 16:19] TheDutchCoder opened #1122 "When unstubbing transitions, transition hooks are never fired"
With the following code, the transition hooks never fire in VTU:
[code]

[2021-12-01 16:40] TheDutchCoder commented on #1122
They actually do seem to fire, I just configured it wrong 🤦

[2021-12-01 16:40] #1122 closed

[2021-12-02 10:50] djKooks opened #1125 "Setup vuex mock store for submodule (TypeScript)"
Hello,
I'm trying to make unit test for simple project with store setup as
[code]

and `sample` looks like:
[code]

I'm using this as:
[code]

but I cannot make things as
[code]

Cannot make getter by typescript error
[code]

- Is mock setting correct?
- How can I avoid the error?

[2021-12-02 15:25] cexbrayat commented on #1125
Hi @djKooks

Thank you for opening an issue, but I'm not sure we have enough context to help you. The error mentions `getConnectionListState` which I don't see anywhere else. You did not provide the unit test either: how do you mount the component and provide the store?

Here are a few links that I think will help you: you'll need to provide the store either by using `global.provide` (see the [doc

[2021-12-02 15:25] #1125 closed

[2021-12-03 00:42] djKooks commented on #1125
@cexbrayat sorry, error message was wrong. I've updated it.
Okay, let me check, and I'll open again if I find something 🙏

[2021-12-03 16:55] NidusP commented on #1111
Thanks for your help!  I write the test according to the guide and it passed !  (rc.17 and rc.9)

The failed tests environment  were built by someone else,  I looked at the dependencies,  such as `jest` `@vue/test-utils` `babel-jest` `@types/jest`.  So  I tried to add `@vue/vue3-jest` to the dependencies and updated `jest.config.js` , but  still failed.

Does it concern `@vue/vue3-jest`? I am not

[2021-12-03 16:55] #1111 closed

[2021-12-06 09:09] nandi95 commented on #753
Duplicate of #383

[2021-12-06 09:09] #753 closed

[2021-12-06 18:54] sevilyilmaz opened #1127 "Using PostCSS mixins in CSS modules causes a syntax error"
_This issue might be related to `vue-jest` but I'll open it here because I got the error from the test utils and I'm 100% sure of the what is responsible from it. Please feel free to point me to the correct repo if this is not the one._

## Description

I get the error below when I use a PostCSS mixin in a CSS file. I assume it expects a semicolon where I use the mixin while parsing the CSS file b

[2021-12-07 11:08] rashagu opened #1133 "The current version does not seem to support vite + tsx"
## Please refer to this example

Am I missing something?

[2021-12-07 12:42] sevilyilmaz opened #1135 "useCssVars doesn't output the CSS variables to the style tag"
## Description

I use a prop to define a CSS variable's value with the help of `useCssVars` function. The test below fails with this error:

[code]

WithUseCssVars.vue
[code]

WithUseCssVars.test.js
[code]

Reproduction link: https://github.com/sevilyilmaz/vue-3-setup-use-css-vars-test

I added two components and tests for them. One of them uses `useCssVars` and the other one uses a `computed` val

[2021-12-07 18:32] cexbrayat commented on #1135
@sevilyilmaz Thanks for the reproduction 👌

It sound like a vue-jest issue to me. @lmiller1990 WDYT?

[2021-12-08 03:13] rashagu commented on #1133
Thanks, i have solved it
[code]

[2021-12-08 06:48] #1133 closed

[2021-12-08 14:20] ASkyBig opened #1139 "How to mock component method in test.js"
I'm new in jest and met some trouble，can anyone help me figure out the problem?

I'm using typescript and vue3.
Here is my demo component:

[code]

This is my `test.js`:
[code]
The result seems my mock method doesn't work, I don't know why? And I also tried setMethods, but it is deprecated :(

[2021-12-08 14:26] cexbrayat commented on #1139
Hi @ASkyBig

You need to spy on `wrapper.vm`

Take a look at this example https://github.com/vuejs/vue-test-utils-next/blob/e80b7b28046362fb1e5a281353637064722fbc6b/tests/vm.spec.ts#L27-L47

It should solve your issue.

[2021-12-08 14:26] #1139 closed

[2021-12-09 13:35] semiaddict opened #1142 "Can't get vue-dompurify-html plugin to work in tests"
I am trying to test a simple component that uses [vue-dompurify-html](https://github.com/LeSuisse/vue-dompurify-html/tree/vue-next).
If I add vue-dompurify-html as a plugin via the `global` option as described here https://next.vue-test-utils.vuejs.org/migration/#no-more-createlocalvue, I get the following error:

[code]

Here is a simple example:
[code]

And here is a full reproduction example: h

[2021-12-09 13:44] cexbrayat commented on #1142
Hi @semiaddict

I don't think this is an issue with VTU to be honest, probably more a configuration error or an issue with the plugin.
You should probably ask the plugin authors, as they may know how to use it in tests, or can point you to some documentation or similar issues. A super quick search shows issues with similar problems already on their Github repo.

If it ends up being a real problem

[2021-12-09 13:44] #1142 closed

[2021-12-10 08:36] ASkyBig commented on #1139
Sorry for my being late, I'm not sure whether the way  can solve my problem, maybe I used it in the wrong way. I want to show more code. anyway, thank you very much for your help : )
I'm write unit test for my list component, here is piece code of my `list.vue`, I want users to stop loading data when they call the callback function with a param 'finished':
[code]

People can use it like this:
[cod

[2021-12-12 03:52] lmiller1990 commented on #1104
Should we throw an error if someone passes `methods`? It's an undefined behavior, I wouldn't expect it to do something, but looks like it currently does, probably because of this spread: https://github.com/vuejs/vue-test-utils-next/blob/master/src/mount.ts#L493

[2021-12-12 03:52] lmiller1990 commented on #1135
I think so too. Most likely we need to patch `vue-jest` and how it CSS modules.

[2021-12-12 04:01] lmiller1990 commented on #1106
I think we've had this problem before.

- https://github.com/vuejs/vue-test-utils-next/issues/286

Although this was how it worked in VTU v1, I think it was just a co-incidence and not something that was specifically designed. If there is some way to replicate that behavior here, it might be good to do so for backwards compat, but I think that would require access to unexposed Vue internals.

At t

[2021-12-12 08:09] marina-mosti commented on #1104
I like that idea @lmiller1990 :) an error would be so helpful for people like me that never realized it got deprecated. It was only being used in a very old component that never complained about anything until rc.17

[2021-12-13 09:30] #1104 closed

[2021-12-13 13:44] #1076 closed

[2021-12-16 16:32] kevinmarrec opened #1158 "TypeError: Cannot read properties of null (reading 'addEventListener')"
## Versions
`@vue/test-utils` => `2.0.0-rc.17` === `next` (at time of writing)
`@vue/vue3-jest` => `27.0.0-alpha.4`
`jest` => `27.4.5`
`ts-jest` => `27.1.2`
`typescript` => `4.5.3`

## Issue
![image](https://user-images.githubusercontent.com/25272043/146409148-f8f8fdab-93ab-4ebf-955f-e330f06bee85.png)

I can't make a simple Vue component mount working using last versions of every packages for Vue

[2021-12-16 17:12] Luciden opened #1159 "Using old version of ts-jest, doesn't support TypeScript 4.x"
Receiving the warning:

ts-jest[versions] (WARN) Version 4.5.4 of typescript installed has not been tested with ts-jest. If you're experiencing issues, consider using a supported version (>=2.7.0 <4.0.0). Please do not report issues in ts-jest if you are using unsupported versions.

ts-jest is two major versions ahead and supports TypeScript 4.x.

[2021-12-16 17:41] cexbrayat commented on #1158
Hi @kevinmarrec

Thank you for opening an issue.
I suspect that you have a configuration issue somewhere. Or maybe your component is special, but we'll need a reproduction to investigate in that case.

Try to use Vue CLI to reproduce your issue, and if your problem persists, push the reproduction to GitHub, and ping me so I can reopen the issue. Thanks!

[2021-12-16 17:41] #1158 closed

[2021-12-16 17:44] cexbrayat commented on #1159
Hi @Luciden

Thank you for opening an issue, but as you can see, this is not a problem with VTU, but with TS & ts-jest
You need to use a more recent ts-jest version, and a compatible TS version with it. Or if you want to use an incompatible TS version, you'll get the warning.

In any case this is not related to VTU, so I'll close this issue.

[2021-12-16 17:44] #1159 closed

[2021-12-16 22:30] Luciden commented on #1159
Hi, thanks for the quick response. Perhaps my issue is poorly worded. ts-jest already supports Typescript 4+. We don't directly use ts-jest.

The issue is that latest version of vue-test-utils-next is still using version 25.3.1 of ts-test which uses Typescript 3. I'm hoping an upgrade to ts-test 26 or greater will occur.

We need to use Typescript 4 for Vue 3.2 support so we're stuck with the warn

[2021-12-17 08:16] cexbrayat commented on #1159
I think these are two separate things:

- you have a warning in your project because you must be using ts-jest somewhere (maybe via the Vue CLI? We would need more context to investigate).
- ts-jest is used to develop VTU, but this should have no impact whatsoever on your code, as it is a dev dependency. Anyway, we have a PR that updates it (see #811 ) but we're stuck until an issue in Vue itself

[2021-12-17 09:00] kevinmarrec commented on #1158
@cexbrayat Thanks for your faster answer.
It indeed sounds that my component is somehow `special`, I've been able to try again with simple ones and it works well.
I'll investigate if I can find the culprit in my component, and ultimately create a reproduction repository.

[2021-12-18 15:30] xanf commented on #899
:white_check_mark: closed via #1110

[2021-12-18 15:30] #899 closed

[2021-12-20 08:02] hansonfang opened #1161 "v2.0.0-rc.17 got a lot of Vue warn"
When I use v2.0.0-rc.16, everything performs normal. But once I upgrade to v2.0.0-rc.17, a lot of Vue warn appears on the terminal. It looks like this:
`console.warn
    [Vue warn]: Maximum recursive updates exceeded in component <ElDialog>. This means you have a reactive effect that
is mutating its own dependencies and thus recursively triggering itself. Possible sources include component templat

[2021-12-20 08:36] cexbrayat commented on #1161
Hi @hansonfang

Thank you for opening an issue. This looks weird indeed.

Can you provide us a minimum reproduction, please?

Ideally, you can either:
- add a unit-test to this repository that produces the warning with a small component
- or create a new repository on Github, with a minimal reproduction (a small component and its test that produces this warning with rc.17 and not in rc.16). You ca

[2021-12-20 15:44] victorborrasdev opened #1162 "shallowMount doesn't stub instances of the same component"
# Expected behavior

When using `shallowMount` on a component that contains itself, nested instances should be stubbed, so the output for the reproduction in the shared repo should be something like:

[code]

# Current behavior

Nested instances are being mounted as if we were using `mount`. Current output is:

[code]

# Reproduction:

https://github.com/victorborrasdev/vue-test-utils-nested-stubs

[2021-12-20 15:52] cexbrayat commented on #1162
@victorborrasdev Thank you for the repro 👍 I'm not sure how VTU should behave in that case, both seem acceptable.

@lmiller1990 @xanf WDYT about this?

[2021-12-20 16:07] xanf commented on #1162
Definitely an issue, I will take a look at it asap

[2021-12-20 16:59] Sepush opened #1163 "docs: how to test transitions still blank"
https://next.vue-test-utils.vuejs.org/guide/advanced/transitions.html
the docs about how to test transition are still blank any updates about it?
![image](https://user-images.githubusercontent.com/39197136/146804010-774e17c3-eec3-457f-8867-dd2a5add8ebf.png)

[2021-12-21 07:12] afontcu commented on #1163
Hi! Yeah, we're aware of that and something that needs to be sorted out before we hit the stable version.

Vue Test Utils 2 stubs transition and transition-group by default, as you can see in https://github.com/vuejs/vue-test-utils-next/blob/fdf67c059661d68d04d61ea0c5d083e8d2fef585/tests/mountingOptions/global.stubs.spec.ts#L367-L420

so component with transition should work fine by default – that

[2021-12-21 07:17] Sepush commented on #1163
Thanks,I got it

[2021-12-21 07:17] #885 closed

[2021-12-21 17:28] victorborrasdev opened #1166 "Error in tests with slots in Mocha"
Hi! I think this is more of a question than a Vue Test Utils issue really, but I was hoping any of you could give me any pointer to what to look for.

We use Karma + Mocha, and we're seeing that tests that contain slots throw the following error: `TypeError: Cannot convert undefined or null to object`.

I have created a reproduction with both Mocha and Jest (see below) and this only happens with t

[2021-12-21 21:06] lmiller1990 commented on #1163
I wonder if we even need this page? Eg, rather than having a blank page in the public docs, which looks a bit bad, do we just remove all the incomplete pages (that'd we like to do) and create an issue to track them? Seeing empty docs is a bad look, especially when the actual library itself is quite stable and working well. What do you think @afontcu ?

[2021-12-21 21:07] lmiller1990 commented on #985
Seems, outside of Vue Jest specific problems w.r.t stubs, we are good to hit 2.0.0?

[2021-12-21 23:00] lmiller1990 commented on #1166
Someone looked into this and DM'd me recently, dumping the DM log here for reference when I (or someone) fixes this:

_____

- Tracked this down in VTU in a place where it trys to run a function that is compiled from Vue: https://github.com/vuejs/vue-test-utils-next/blob/b45ff43d1433e581a5d37c332474b2d7f64a5420/src/utils/compileSlots.ts#L31
- Vue seems to return different code from the compile fun

[2021-12-22 06:23] lmiller1990 commented on #1166
I am having trouble figuring this out, I cannot reproduce it outside of the repo you provided (eg in here). It's tough to get a truly minimal reproduction.

A work-around that would likely work is something like

[code]

I'll keep working on this problem, but that might help in the meantime.

[2021-12-22 06:37] lmiller1990 commented on #778
Sorry, this issue completely flew under my radar. `setData` is mainly for things in the `data()` function; it sounds like you would like a `setAttrs` method, but my understanding these are read only and can only change when the data passed.

Is there any way to make a more minimal, concise version of what you'd like to do? There's quite a lot of info in your post, I'm having trouble making a minim

[2021-12-22 06:44] lmiller1990 commented on #563
Seems this is fixed? https://github.com/vuejs/vue-test-utils-next/pull/1169

[2021-12-22 08:23] afontcu commented on #1163
That's a good point. The initial idea here was to explain how to test in-between states, but I'm not sure the scenario is that critical.

About blank pages, I think I've been slacking off just enough, I'll put in some work during Christmas and fill the important ones. Let me take a look which ones are empty and prioritize them.

[2021-12-22 10:58] victorborrasdev commented on #1166
It was failing for me with a plain Vue CLI project, with Mocha + Chai selected as the unit testing option, and a component with a slot. If by truly minimal you mean just Vue + VTU + Mocha + Webpack (no Vue CLI), just let me know and I'll try to put it together.

Yes, that and the function with a string should work in many cases, so thanks for that!

I guess this isn't really a big deal since you u

[2021-12-22 11:42] cexbrayat commented on #972
For anyone keeping up with this, @johnsoncodehk released vue-tsc@0.30.0 with a new option that improves the situation. See #1170

[2021-12-22 12:14] Sepush commented on #1163
Removing these blank pages is OK.
I start to write some tests for a lib these days, so I go to the docs for learning.
when I read the section about how to test Transition, I found it blank so I create this issue for the report.
afontcu has given me some examples about this.

[2021-12-23 07:04] freakzlike commented on #806
The name is also required when you want to use `wrapper.findComponent`

[code]

[code]

[2021-12-23 08:51] freakzlike commented on #806
I have found a solution and I will make a PR

[2021-12-23 14:23] freakzlike commented on #715
I currently have a util to stub a component but render the slots and also with slot data.
Here I have a quick example:
[code]

I want to stub the `BigLayout` but still render the header slot with some data.

With the new stub definition we could implement this and be able to add more enhancement to the stubs:
[code]

[2021-12-23 15:08] cexbrayat opened #1173 "regression: can not find element inside suspense if root element"
After the refactoring released in rc.18, we stumbled into a regression when updating in our projects

Failing test:

[code]

Repro in #1172

[2021-12-23 15:09] cexbrayat commented on #1173
@xanf Does that ring a bell? I can dig deeper, but you know these parts better than any of us now ^^

[2021-12-23 16:53] xanf commented on #1173
Yeah. I'll take a look in 12h and provide an update

чт, 23 дек. 2021 г., 17:09 Cédric Exbrayat ***@***.***>:

[2021-12-23 17:02] cexbrayat commented on #1173
👍 Thanks (there is no rush, take your time)

[2021-12-23 21:46] wolfgangwalther commented on #563
I can confirm it now works fine with the latest version in my local project, where I first observed the problem, too. Thanks!

[2021-12-24 02:12] #563 closed

[2021-12-24 02:15] lmiller1990 commented on #1101
rc-18 went out, this should be good now.

[2021-12-24 02:15] #1101 closed

[2021-12-24 02:27] hansonfang commented on #1161
Hi @cexbrayat ,I can't reproduce this issue from a new project and I found out why. It's the `babel.config.js`，I used a plugin called `plugins: ["@vue/babel-plugin-jsx"]`。when I deleted this config, everything back to normal. Thanks for your attention.

[2021-12-24 02:29] #1161 closed

[2021-12-24 02:33] hansonfang commented on #1161
From this, I'd like to know why I can't use vue-test-util for `tsx` in vue. It just can't render deeper components and output these warning above. no matter `shallow` is true or false.

[2021-12-24 09:16] cexbrayat commented on #1161
Hi @hansonfang

We have a simple test with tsx here https://github.com/vuejs/vue-test-utils-next/blob/master/tests/features/with-tsx.spec.tsx

If you think there is an issue, try to add your (simplified) use-case to it, and open a PR with the reproduction, we'll take a look 👍

It might be an issue with `@vue/babel-plugin-jsx`, as it is not super actively maintained (JSX is not really the way the V

[2021-12-24 09:25] tangjinzhou commented on #1173
`wrapper.findAll('#my-span')`  also not work at rc.18

[2021-12-24 09:57] ol1s opened #1177 "Trigger event with payload from stubbed component"
I want to test that my ParentComponent correctly handles an event emitted by the ChildComponent:

[code]
[code]

I am not concerned with the underlying workings of the ChildComponent, only that it emits this particular event. For
that reason I have stubbed the ChildComponent. This leaves me with a DOMWrapper which has a `trigger()` method available:

[code]

However, when adding a payload to the e

[2021-12-24 11:23] ol1s opened #1178 "Cannot call setValue() on a stubbed component"
I have a ChildComponent which has a `v-model` binding to the `myData` property in the ParentComponent. Becuase I am not concerned with the underlying detail of the ChildComponent I have stubbed it in my test:

[code]
[code]

As part of my test I want to ensure that the `v-model` bindings on the ChildComponent are setup correctly. My stubbed ChildComponent is an instance of the DOMWrapper which exp

[2021-12-24 11:42] ol1s opened #1179 "Extend stub via mounting options"
I want to be able to "fake" the method of a stubbed component. Currently this is possible by providing my own defined stub at mount time:

[code]
[code]

However, this approach fully replaces the stub that would be produced automatically by `shallowMount()` and I end up with this warning:

[code]

Is there are way for to "extend" a stub so I can add faked methods etc but without having to redefine

[2021-12-24 15:56] freakzlike commented on #1179
I'm looking to make some improvements to stubs. Maybe I can add this too

[2021-12-24 16:05] freakzlike commented on #1177
You should use `findComponent` and `vm.$emit` to emit custom events. `trigger` is only for DOM Events like `click` or `focus`.
[code]

[2021-12-24 16:06] freakzlike commented on #1178
Use something like this:
[code]

[2021-12-24 22:10] designervoid commented on #936
@cexbrayat
maybe this is good as a temporary solution, but why not use relative imports with dot or two dots (`.`, `..`)
`2.0.0-rc.18` version
![image](https://user-images.githubusercontent.com/43455658/147373211-afe14fbe-f9b1-4afc-ae09-650aae2dd546.png)

[2021-12-24 22:11] designervoid commented on #936
with `skipLibCheck: false`:
![image](https://user-images.githubusercontent.com/43455658/147373227-8a2243b7-c48a-459a-b945-840bcfcffafd.png)

[2021-12-24 22:12] designervoid commented on #936
with `skipLibCheck: false` and relative imports:
![image](https://user-images.githubusercontent.com/43455658/147373238-0f829139-a4da-4cc3-8a5c-1c07e9e080c5.png)
🥳

[2021-12-25 06:53] ol1s commented on #1178
Perfect, thanks for the help

[2021-12-25 06:53] #1178 closed

[2021-12-25 06:56] ol1s commented on #1177
That’s great, love it when there’s a simple fix to doing something wrong 😁

[2021-12-25 06:56] #1177 closed

[2021-12-25 10:22] cexbrayat commented on #936
Sure, if that fixes an issue, feel free to open a PR, and we'll gladly merge it!

[2021-12-25 10:29] cexbrayat commented on #1179
@ol1s There is currently no way to do this. I usually provide an empty template or render function. I tend to think this is not worth adding another feature to stubs (which are already quite complicated to maintain). What do the rest of team think?

[2021-12-25 14:20] designervoid commented on #936
@cexbrayat mentioned this PR

[2021-12-27 10:39] purepear opened #1187 "Config leaks between tests"
Thanks for the great work, guys! 🙇
I just noticed that when i pass the router plugin in a test, then the rest of the tests were inheriting the router.
[code]

I also have a global config setup:
[code]

---

I believe it has sth to do with the config merging strategy - it uses shallow clone and in the case of deeply nested objects, it overwrites the VTU's global config object. This might not be lim

[2021-12-28 09:04] hansonfang commented on #1161
Is there a way to ignore these warnings like former version `config.showDeprecationWarnings = false` ?

[2021-12-28 09:27] hansonfang commented on #1161
I reproduced this problem and seems like only part of `@vue/babel-plugin-jsx` 's problem. I bulit a repo
[reproduce-vue-test-util-warning](https://github.com/hansonfang/reproduce-vue-test-util-warning)
just install the dependency and run `test` script ，you'll see the warning on the console.

[2021-12-28 15:03] rrd108 opened #1191 "Vite Build fails because of test TypeScript error"
My build fails because of typescript errors in a test

[code]

The error message is ` error TS2339: Property 'inAccountNumberRange' does not exist on type '{ $: ComponentInternalInstance; $data: {}; $props: Partial<{ results: Item[]; }> & Omit<Readonly<{ results?: unknown; accountStart?: unknown; accountEnd?: unknown; } & { results: Item[]; } & { ...; }> & VNodeProps & AllowedComponentProps & Comp

[2021-12-28 15:42] cexbrayat commented on #1191
Hi @rrd108

It's hard to say what's going on without at least the component code and which versions are you using.

Would you mind sharing a minimal reproduction with us? Ideally a GitHub repository with just the minimum required to reproduce your issue.

[2021-12-29 14:41] rrd108 commented on #1191
@cexbrayat

Here is the repo: https://github.com/rrd108/vue-test-utils-1191

Outputs in my system.

[code]

[2021-12-29 16:03] cexbrayat commented on #1191
Thanks, that's what I was suspecting: your component is using `script setup` so this TS error is sadly expected. See https://github.com/vuejs/vue-test-utils-next/issues/972

We are doing some magic in VTU to make this test possible, but we are waiting for a fix in Vue itself to make this type-checking possible. In the meantime, you have to explicitly add a cast like `(wrapper.vm) as unknown as { i

[2021-12-29 16:03] #1191 closed

[2021-12-29 16:34] cexbrayat commented on #1187
Thanks @purepear for the repro 👍

Would you like to work on a PR to fix this? If you add this test to `config.spec.ts`, you may be able to figure out what's going on.

[2021-12-29 17:11] purepear commented on #1187
@cexbrayat yep, i will see if i can raise a PR during the weekend. Haven't looked too deep into the code but i suspect `cloneDeep` will be involved in the fix :) I guess a potential problem of config cloning might be a config with class/component instances but... 🤔 will see

[2021-12-30 01:06] frisch-raphael opened #1195 "FindComponent returns WrapperLike with css selector"
I'm trying to use findComponent with a css selector.
However, when I try to use trigger on it, it says that trigger does not exist.
Is there something I'm missing ?

![image](https://user-images.githubusercontent.com/3451172/147713672-373420b2-235a-4b36-b024-3b1e21de3d47.png)

Here's my package.json:
[code]

[2021-12-30 08:02] freakzlike commented on #1195
I think this has been recently fixed by https://github.com/vuejs/vue-test-utils-next/pull/1180 but currently not released

[2022-01-01 12:22] huuff opened #1201 "`findAll` returns nothing when using a render function"
### Subject of the issue
`findAll()` returns nothing when the component is using a render function.

### Steps to reproduce
This as `TestComponent.vue`:

[code]

Then in `TestComponent.spec.ts`:

[code]

### Expected behaviour
The test should pass.

### Actual behaviour
The test fails because `findAll` is unable to find the three anchors.

[2022-01-01 13:58] LinusBorg commented on #1201
Transferred to vue-test-utils-next as it's about Vue 3

[2022-01-03 07:04] cexbrayat commented on #1201
Hi @huuff

Thank you for providing a small repro. Which version of VTU are you using?

I think this may be the same as #1173 which appeared after releasing rc.18.

cc @xanf as he started to work on that

[2022-01-03 17:31] huuff commented on #1201
Yes, the version I'm using is rc.18. [Here's](https://github.com/huuff/mcve-test-utils-render-function) an MCVE

[2022-01-03 17:34] huuff commented on #1201
Also, I just tested and it seems to also happen for rc.16

[2022-01-04 08:07] jamesalways opened #1206 "Wrong import in 2.0.0-rc.18"
I updated to the latest version:` 2.0.0-rc.18` and I started having ts errors. I looked into `node_modules/@vue/test-utils/dist/interfaces/wrapperLike.d.ts` and I found this:
[code]

But I have this folder structure in  `node_modules/@vue/test-utils` and there is no src, you need to change src for ... I think

<img width="355" alt="Screenshot 2022-01-04 at 09 07 01" src="https://user-images.github

[2022-01-04 08:22] cexbrayat commented on #1206
Thanks, this was already raised in #936 and fixed in #1184

This should be released soon. In the meantime, you can use `skipLibCheck` in your tsconfig.

[2022-01-04 08:22] #1206 closed

[2022-01-04 11:06] ol1s commented on #1179
Thanks both for the replies.

I am currently providing a hardcoded template to solve my situation:

[code]

On reflection, this is a pretty small price to pay in order to avoid bloating the API with additional configuration options.

[2022-01-04 11:06] #1179 closed

[2022-01-04 11:40] huuff commented on #1201
Found a (sort of) workaround. If your element is wrapped in some other element, you can first query for that one and then run the `findAll`.

Example element:

[code]

Then in the test:

[code]

It's not entirely a workaround since it requires wrapping the wanted element in another, but it helped me.

[2022-01-04 13:33] ol1s opened #1207 "Cannot mount component with `async setup`"
I have the following example component and test:

[code]
[code]

However when I try and run the test I get the following error:

[code]
[code]

When I remove the `async` and promise and instead use a simple string, the test passes.

[2022-01-04 13:47] LinusBorg commented on #1207
Components with async setup need to be nested within `Suspense`

This will be better documented. For a better error message, we already have an issue open somewhere.

[2022-01-04 13:47] cexbrayat commented on #1207
@ol1s You have to mount a fake component that uses `Suspense` and the component you want to test for the moment.

[code]

This is a known thing and we may add helpers to simplify this in the future, but we're waiting for Suspense to become stable in `vue-next` first (`Suspense` is still experimental at the moment).

[2022-01-04 13:57] sevilyilmaz opened #1208 "Snapshot tests render comments. Is this intentional?"
In `v1.x` the comments have been stripped from the snapshots but in `v2.x` they persist which makes the snapshots hard to read. Is this an expected behaviour? Here is an example:

[code]

**Additional info:**

- `@vue/test-utils@2.0.0-rc.18`
- `@vue/vue3-jest@^27.0.0-alpha.3`
- `jest@^27.3.1`

[2022-01-04 14:12] #1208 closed

[2022-01-04 21:20] lmiller1990 commented on #1207
Any work to be done here? Sounds like we should just document this?

[2022-01-04 21:36] LinusBorg commented on #1207
I don't think there's much else to do.

[2022-01-05 09:31] tehciolo commented on #1208
Hi @cexbrayat

What is recommended basically everywhere (for Vue2) is usage of [this serializer](https://github.com/eddyerburgh/jest-serializer-vue/). The one you linked to is probably just a more up to date one, as it is a fork of the one I linked.

Shouldn't such a serializer actually come from `@vue/test-utils` instead?

Without using a serializer, the component snapshots are not readable at al

[2022-01-05 09:41] cexbrayat commented on #1208
@tehciolo Yeah, the one linked is not maintained anymore I think, but you can use whatever serializer you want of course.

VTU chose to be unopinionated and doesn't do anything special for snapshots except prettifying `wrapper.html()` output using [`pretty`](https://www.npmjs.com/package/pretty). Jest lets you do whatever you want with a serializer, so if you write a custom one, or find one, we'll

[2022-01-05 11:11] freakzlike opened #1216 "Proposal: Hook to override default stub creation"
As mentioned in https://github.com/vuejs/vue-test-utils-next/pull/1174#issuecomment-1002890497. I want to be able to customize the default creation of a stubbed component, when using `shallowMount` or `stubs: { ChildComponent: true }`.

This could look something like:
[code]

If set the hook would be called once for every component instead of `createStub`.
https://github.com/vuejs/vue-test-utils-n

[2022-01-05 11:41] #1207 closed

[2022-01-05 11:42] ellismonva opened #1217 "TypeError based on multiple tests: TypeError: Cannot redefine property: $route"
Vue version: "^3.2.4"
Vue router version: "4.0.12"
Vue test utils version: "^2.0.0-rc.15"

I am unsure if this is my code that is causing this, but I cannot see anything online so I figured would be best posting here.
- In my tests suite, I am registering the store in the plugins globally in a file that is in the setupFilesAfterEnv config in jest as follows:
[code]

In my test, I am simply calling

[2022-01-05 13:11] Flsion opened #1218 "SSR support"
### Basic Info
"vue": "^3.2.0",
"jest": "^26.6.3",
"vue-jest": "^5.0.0-alpha.10"
"@vue/test-utils": "^2.0.0-beta.14",

### Problem
When I set the `testEnvironment: 'node'` of jest, the `mount` function will report `ReferenceError: document is not defined`. How should I configure ssr?

### Config
[code]

### Test
[code]

[2022-01-05 13:23] cexbrayat commented on #1217
Hi @ellismonva

Your error does not ring a bell but without your component, test, and exact versions used, we won't be able to help.

Can you put together a minimal reproduction (with the minimum code possible) and push it to a Github repository?

[2022-01-05 13:45] ellismonva commented on #1217
Hi @cexbrayat
This is not specific to any component, as I have got this error on multiple test suites (as in different test files and components). As stated though this error only happens after one test runs in each file. I will attempt to get this recreated in a sandbox for you though.

[2022-01-06 13:45] posva opened #1221 "Cannot trigger a click with `:disabled="false"`"
`trigger('click')` should also trigger when `disabled="false"`:

[code]

test:

[code]

[2022-01-06 13:59] cexbrayat commented on #1221
Right, it looks like there is a check on the attribute presence here https://github.com/vuejs/vue-test-utils-next/blob/3b0f7f5a8d1a8de59b9ea68e4a4748292b7a6342/src/baseWrapper.ts#L309

Should be an easy fix if someone wants to grab it.

[2022-01-06 14:01] posva commented on #1221
After further checking I'm not sure where the problem is because the attribute is set to the string false and that shouldn't happen (it doesn't happen in a normal vue app)...

In HTML, the attribute being set to any string makes the button disabled, so I think the current implementation to check for the button being disabled is correct

[2022-01-06 14:11] posva commented on #1221
Maybe it's fine to dispatch certain events when the element is disabled as [the browser seems to still not react to them](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbmltcG9ydCB7IHJlZiB9IGZyb20gJ3Z1ZSdcblxuY29uc3QgY291bnQgPSByZWYoMClcbmNvbnN0IGRpc2FibGVkID0gcmVmKGZhbHNlKVxuY29uc3QgYnV0ID0gcmVmKClcblxuZnVuY3Rpb24gbWFudWFsVHJpZ2dlcigpIHtcbiAgY29uc3QgZXZlbnQgPSBuZXcgTW91c2VFdmVudCgnY2x

[2022-01-06 15:12] Bhagrot opened #1222 "Map iteration not working"
I mounted my Vue component and noticed that the map iteration not working in .Vue file.  eg:- following code does not print any value in script section's method.
    let m = new Map();
    m.set("1","one");
    for (const [key, value] of m.entries()) {
      console.log(value);
    }
 looks like ES6 map iteration is not supportable by vue-jest. I am using following Jest configuration
transform: {

[2022-01-06 15:53] Bhagrot commented on #1222
I found a workaround for this issue, I replaced for iteration by forEach and it is working fine.
m.forEach((value, key) => {
console.log(value);
}

[2022-01-06 15:53] #1222 closed

[2022-01-06 22:36] #806 closed

[2022-01-06 22:37] lmiller1990 commented on #1163
closed by #1213

[2022-01-06 22:37] #1163 closed

[2022-01-06 22:38] lmiller1990 commented on #1166
I could not find out what the problem is - I *think* it's related to our rollup config and how we bundle things, but I don't have any idea how to proceed right now. We will need to do a bit more of a deep dive to figure out what's going on. Let me know if you come up with anything in the meantime.

[2022-01-06 22:44] #1187 closed

[2022-01-07 17:52] dospunk commented on #798
This is a good solution, though I just wanted to chime in and say it doesn't work for headlessui. I suspect this is a headlessui problem though, not a VTU problem. For some reason the Dialog's FocusTrap can't find the contents of the Dialog when teleport is stubbed out causing an infinite loop? I don't really get it. Anyway, this is just for anyone else in the future running across this issue who'

[2022-01-09 05:55] lmiller1990 commented on #1221
Bit of a long shot but what happens if you add `attachTo: document`? I've noticed in jsdom, sometimes `trigger` does different things when elements are/are not attached to the document (for example. clicking a `<label>` will *not* toggle the relevant radio button if the element is not in the document, but will work if it is via `attachTo: true`.

[2022-01-10 10:41] freakzlike commented on #713
I came across the same situation:

[code]

How do I test if my component does provide correctly?

So I digged a bit into the data and found `wrapper.vm.$.provides`

[code]

This could be mapped into a method of the wrapper to have a usage like this:
[code]

Unfortunately the type of `provides` in `ComponentInternalInstance` is not exposed from `@vue/runtime-code` and therefore likely to break and

[2022-01-11 08:37] posva commented on #1221
It's good to know about `attachTo: document.body` 😆
It doesn't work for happy dom (https://github.com/capricorn86/happy-dom)

[2022-01-11 09:03] Oleksii14 opened #1232 "Bug: type errors while using SFC script setup"
**Describe the bug**
While using two top-level script blocks in SFC, there appear TS errors in the console after `vite build` that go from `@vue/test-utils` typings. Those errors **depend on the trailing coma** from the first script block.

**To Reproduce**
[Reproduction repo](https://github.com/Oleksii14/vue-jest-type-issue)
Steps:
[code]

[code]

[code]

Then go to `HelloWorld.vue` and remove a

[2022-01-11 09:17] twoBoots opened #1233 "Bug: `findAll` returns parent node in result array"
**Describe the bug**
`findAll` returns the parent node in the result set if it matches the selector when chained from `get`

**To Reproduce**

`ParentComponent.vue`
[code]
`ParentComponent.spec.js`
[code]
`result`
[code]

**Expected behavior**
`findAll` returns only the 3 child nodes in the result array. This is the behaviour of `vue-test-utils@1`

**Related information:**
- `@vue/test-utils` vers

[2022-01-12 09:40] architshin opened #1236 "Bug: for-of loop of Map not working"
**Describe the bug**

Map iteration using for-of loop inside computed() does't work.
Same issue as #1222.

**To Reproduce**

[Reproduction repo](https://github.com/architshin/issue-vuetestutils-maploop)

`App.vue`
[code]
`App.spec.ts`
[code]
`result`
[code]
This is not the case when using pure TS functions.
`functions.ts`
[code]
`functions.spec.ts`
[code]
`result`
[code]

**Expected behavior**

`T

[2022-01-14 08:58] victorborrasdev commented on #1166
We've paused the Vue 3 migration for now, but I'll take a look at this as soon as I'm back to it. Should we close the issue and reopen it if I make any advance, so you don't have it pending meanwhile?

[2022-01-15 08:06] designervoid opened #1239 "Bug: Cant build Vue project"
Hey, I successufully integrated `vue-test-utils` with `peeky` runner, but I have some troubles, when my Vue app is building.

**Describe the bug**
When running `npm run build` I see that log:
[code]

**To Reproduce**
Download [`ton-design-system`](https://github.com/designervoid/ton-design-system).
Master branch is default.
You can try run `npm run build` and see above logs.

**Expected behavior**

[2022-01-15 08:56] designervoid commented on #1239
https://github.com/vuejs/vue-test-utils-next/blob/master/src/interfaces/wrapperLike.ts#L10
Anyway generates `src/` path in package

[2022-01-15 08:56] designervoid commented on #1239
![image](https://user-images.githubusercontent.com/43455658/149616067-b6bcf253-6aa9-4dfc-83e4-725ead95a6f6.png)

[2022-01-15 11:56] designervoid commented on #1239
Perhaps my fix not in release yet
https://github.com/vuejs/vue-test-utils-next/issues/1206#issuecomment-1004608187

[2022-01-15 12:00] designervoid commented on #1239
Also need to open issue in `happy-dom` repository.
Only first screenshot in [the comment](https://github.com/vuejs/vue-test-utils-next/issues/1239#issue-1104633019) is "responsibility" of `vue-test-utils-next`.

[2022-01-15 21:58] designervoid commented on #1239
We can try to make this repository backwards compatible with the `happy-dom` library
I think, need to provide `Element | undefined`, not `Element | null`.
![image](https://user-images.githubusercontent.com/43455658/149638930-bc64b0ee-1438-40d9-a991-c9d01ceccf77.png)
[happy-dom nodes directory](https://github.com/capricorn86/happy-dom/tree/master/packages/happy-dom/src/nodes)

[2022-01-16 18:14] designervoid opened #1240 "Backwards compatible with happy-dom"
I wrote about that problem in another issue:
https://github.com/vuejs/vue-test-utils-next/issues/1239#issuecomment-1013670003

**Is your feature request related to a problem? Please describe.**
Cant't build Vue project

**Describe the solution you'd like**
Additional context block in the comment (second and next screenshots, besides the last, thats truly problem of `happy-dom` package):
https://gi

[2022-01-16 23:19] lmiller1990 commented on #713
An alternative would be to test if a child component can access the provided value via `inject`. Wouldn't this be a better way to test it?

[2022-01-16 23:20] lmiller1990 commented on #1166
If it's still a problem, we should leave it open 👍 so other people know, and perhaps someone has a fix.

[2022-01-17 01:35] #1201 closed

[2022-01-17 01:40] lmiller1990 commented on #1233
Hmmm weird, I remember having some PRs around `find` and the parent, I wonder if this is a regression.

It looks like [this line](https://github.com/vuejs/vue-test-utils-next/blob/77994a08c70e4163fd70bb9dd4195d5d015d4849/src/utils/find.ts#L162) is checking that the parent is not returned, maybe is doesn't work as expected.

[2022-01-17 01:46] lmiller1990 commented on #1239
Yep, I need to do a release. I can do that soon. That should fix the problem.

[2022-01-17 01:54] lmiller1990 commented on #1232
I don't understand your comment around the trailing comma. Line 4 does not have one: https://github.com/Oleksii14/vue-jest-type-issue/blob/888e76c5276fda9509ba5b87121fb34c1fb44523/src/components/HelloWorld.vue#L4

I see this issue. I was able to get it to work by adding `export default defineComponent` to the first script tag:

[code]

[2022-01-17 02:08] lmiller1990 commented on #1236
This is so strange. It works fine in the browser. I did

[code]

and using `Array.from` works. We do nothing special inside of Test Utils for `Map`, or anything for the reactivity system - I have no idea what's going on here!

[2022-01-17 02:16] lmiller1990 commented on #1236
[code]

Working fine - seems like a problem in either Test Utils, or Vue Jest...

[2022-01-17 02:23] lmiller1990 commented on #1236
[code]

Run with `node repro.js` works fine -- bug is either in Jest, Vue Jest, or something else.

[2022-01-17 02:27] lmiller1990 commented on #1236
I added the latest `@vue/vue3-jest`, it works fine now. `"@vue/vue3-jest": "^27.0.0-alpha.4"`.

Please try that - let me know if you have any problems still.

[2022-01-17 02:27] #1236 closed

[2022-01-17 03:33] kanryu commented on #716
Thank you to everyone involved! :)

[2022-01-17 03:50] ksnyde commented on #231
@lmiller1990 I'm getting this with Vue3

[2022-01-17 05:44] ksnyde commented on #231
Ok the problem was I was using `happy-dom` and not `jsdom` but it would be nice if could work in both

[2022-01-17 06:50] Oleksii14 commented on #1232
Sorry, I meant semicolon.

Thanks for the reply, but I need it to work without `defineComponent` using `setup` script.

According to my comment, TS errors dissapear at once after I remove the semicolon. Why is that happening?

[2022-01-18 11:00] Riu commented on #1239
@lmiller1990 it will be 2.0.0-rc.19? That bug with `src` is really annoying.

[2022-01-18 11:03] cexbrayat commented on #1239
For anyone running into this, you can add `skipLibCheck: true` to your `tsconfig.json`. In fact, it's probably better to have it anyway, as the compiler doesn't have so much work to do, but still checks all your code.

[2022-01-18 19:27] cexbrayat commented on #1232
This is super strange indeed. I don't think this is an issue with VTU though, it might be an issue of `vue-tsc`.

You should try to open this issue on the Volar repo, and link back to it so we can track it.

[2022-01-19 11:12] maerteijn opened #1253 "Bug: ReferenceError: XMLSerializer problems"
**Describe the bug**
Since release `2.0.0-rc.18` I sometimes encounter the following error when running my testsuite with JSDOM:
[code]
This does not happen with  `2.0.0-rc.17`. There are more issues with XMLSerializer, but this one is reproducable in a separate testcase. I can add more tests for the other issues when requested.

**To Reproduce**
See the repo here: https://github.com/maerteijn/xml

[2022-01-19 11:36] cexbrayat commented on #1253
@maerteijn Thanks for the repro. We have some regressions in rc.18 (I personally still use rc.17)

@xanf WDYT? This is weirdly not breaking any tests in VTU, but maybe there are no tests with multi-root components. It looks like there https://github.com/jsdom/w3c-xmlserializer that we might use?

[2022-01-19 11:41] cexbrayat commented on #1240
Hi @designervoid , thank you for opening an issue

Compatibility with happy-dom was not that easy the last time I checked, as there were some behavior differences.

If you are just talking about the type error, then simply add `skipLibCheck: true` to your tsconfig (this is probably better anyway).

If you are talking about full compatibility, then I think a good way to start would be to have the t

[2022-01-19 12:01] xanf commented on #1253
@cexbrayat that's weird, I will take a look today. Using w3c-xmlserializer feels like a good option

In any case, happy to have repro!

[2022-01-19 16:00] designervoid commented on #1240
Probably for users `skipLibCheck: true` is better.
Compatibility with happy-dom can be reached on `dev` environment.
What do you think about this?

[2022-01-19 16:04] cexbrayat commented on #1240
I'm sorry, I did not understand what you mean by that. Which dev environment?

[2022-01-19 20:37] maerteijn commented on #1253
Ok sorry guys, the original report and assumptions I did that `XMLSerializer` does not exist in JSDOM is incorrect and was a problem in my local environment.

`XMLSerializer` exists in JSDOM since version [13.0.0](https://github.com/jsdom/jsdom/blob/master/Changelog.md#1300) and makes use of the [w3c-xmlserializer](https://github.com/jsdom/jsdom/blob/04f6c13f4a4d387c7fc979b8f62c6f68d8a0c639/lib/js

[2022-01-19 20:38] xanf commented on #1253
@maerteijn thank you for keeping us updated. I will take a look today :)

[2022-01-20 09:28] designervoid commented on #1240
@cexbrayat https://github.com/vuejs/test-utils#development

[2022-01-20 09:34] designervoid commented on #1240
However, the property (`libCheck`)[https://github.com/vuejs/test-utils/blob/main/tsconfig.volar.json#L5] is already defined.

[2022-01-20 10:02] cexbrayat commented on #1240
Maybe I was not clear: you need to add `skipLibCheck` to _your_ project to get rid of the issue.

But I think I misunderstood you: what are you trying to do?

[2022-01-20 14:39] designervoid commented on #1240
@cexbrayat yeah, i understand, just experimenting. i will set `libCheck`. can close the issue.

[2022-01-20 14:39] #1240 closed

[2022-01-20 14:40] designervoid commented on #1239
@cexbrayat https://github.com/vuejs/test-utils/issues/1240

[2022-01-20 17:59] #1239 closed

[2022-01-21 09:22] freakzlike commented on #713
Sure it is better to test with a child component, than to access some protected data.
But IMO it would be much easier, if the `provides` from `@vue/runtime-core` would be exposed and integrated into the `VueWrapper` in VTU.

[2022-01-22 07:26] yuwu9145 opened #1266 "Bug: Teleport does not return actual html content if content is not defined in a child component"
Teleport defined in child component results in ``
**Describe the bug**

[code]

**Expected behavior**

Teleport should not affect child component gets correct html content

- I guess it makes certain sense to argue the component holding `teleport` should return ``
- However, the real challenge is how to test the eventual content rendered inside the teleport target if the content is not from a chil

[2022-01-22 07:39] lmiller1990 commented on #1232
Looks like it is fixed: **https://github.com/johnsoncodehk/volar/issues/874**

[2022-01-22 07:39] #1232 closed

[2022-01-22 07:59] lmiller1990 commented on #1266
As of rc.17, we should be stubbing `<teleport>` by default. You could consider updating to rc.17. PR that implemented this: https://github.com/vuejs/test-utils/pull/1087

I got your test to behave mostly how you are suggesting by stubbing teleport - I get

[code]

Here's the code:

[code]

As for testing, see here: https://next.vue-test-utils.vuejs.org/guide/advanced/teleport.html.

If you are sti

[2022-01-22 07:59] #1266 closed

[2022-01-22 08:08] lmiller1990 commented on #1218
We will need to implement something like https://vue-test-utils.vuejs.org/api/#rendertostring from VTU v1, I think. We don't have any test coverage or examples around SSR at all yet.

Is this something you'd like to explore? The [implementation](https://github.com/vuejs/vue-test-utils/tree/dev/packages/server-test-utils/src) in VTU v1 is pretty simple.

[2022-01-22 10:40] freakzlike commented on #1233
I think this comes from this line https://github.com/vuejs/test-utils/blob/d414157b0640218b6cf073ba78ba30b0c28da593/src/baseWrapper.ts#L48-L50

The origin might come from #897 and after some refactoring it has been implemented into `findAll`.

But when removing this behavior then this will not work anymore:
[code]
Because `wrapper.element` is already the parent element. Also some issues when using

[2022-01-22 23:06] yuwu9145 commented on #1266
@lmiller1990 Thanks for your comprehensive explanation, I tested in my end it works very well!

[2022-01-23 21:42] Soviut opened #1268 "Bug: vue-tsc throwing errors looking for Vue Test Utils types/modules in my custom types file"
**Describe the bug**

I have a component written in TypeScript that imports a custom type from my `types/index.d.ts` file. I then have a Jest test suite that imports this component and uses it in a bunch of tests. The tests all run fine and pass.

However, when I build with `vue-tsc --noEmit && vite build` I get a list of errors stating that types and objects from Vue Test Utils can't be found in

[2022-01-24 07:13] cexbrayat commented on #1268
Hi @Soviut

This is probably a duplicate of #936 , #1206 and #1239. It was fixed in #1184.

This should be released soon. In the meantime, you can use `skipLibCheck` in your tsconfig.

[2022-01-24 07:13] #1268 closed

[2022-01-24 07:24] Soviut commented on #1268
@cexbrayat Thanks, `"skipLibCheck": true` fixed it. Is this something I should be reverting once the next release comes out?

[2022-01-24 07:31] cexbrayat commented on #1268
You don't have to, `skipLibCheck` is probably a good idea anyway, as it speeds up the TS compiler by removing unnecessary work.

[2022-01-24 12:06] JuoJuo opened #1269 "Bug: module not found"
**Describe the bug**

- Cannot find module 'src/createDomEvent' or its corresponding type declarations.(wrapperLike.d.ts)

**To Reproduce**

- add "@vue/test-utils": "^2.0.0-rc.18" to vite project
- run vue-tsc
- Cannot find module 'src/createDomEvent' or its corresponding type declarations.(wrapperLike.d.ts)

**Expected behavior**

- No error

**Related information:**
- `@vue/test-utils` version:

[2022-01-24 12:11] JuoJuo commented on #1269
I want to make a pr, but I can't push my branch

[2022-01-24 12:26] cexbrayat commented on #1269
Hi @JuoJuo

This is a duplicate of #936, #1206, #1239, and #1268. It was fixed in #1184.

This should be released soon. In the meantime, you can use `skipLibCheck` in your tsconfig.

[2022-01-24 12:26] #1269 closed

[2022-01-24 12:27] JuoJuo commented on #1269
thanks

[2022-01-24 15:37] Soviut commented on #1268
@cexbrayat Perhaps I should suggest it on the Vite project to be included in their TypeScript template?

[2022-01-24 15:41] cexbrayat commented on #1268
I think it's already the case when using the recommended `create-vue` to start a Vue/Vite project

[2022-01-24 15:50] Soviut commented on #1268
The `vue-ts` template doesn't appear to contain it. I'll suggest it. https://github.com/vitejs/vite/blob/main/packages/create-vite/template-vue-ts/tsconfig.json

[2022-01-25 07:19] ZaeemKhaliq opened #1275 "Bug: Unit testing a component that uses ...mapGetters with modules is throwing errors"
Hi there.
I am testing a component that uses a module's **getters** from store using `...mapGetters`, but it throws error. However, it works if getters are accessed inside computed property instead of mapGetters.

The store is as follows: -

[code]

The **getters** I am trying to get are inside the **locationModule** as: -

[code]

And I am accessing the getters in the **Cards.vue** component as f

[2022-01-25 07:54] afontcu commented on #1275
Hi,

You're testing using a real Vuex store, so the docs would help: [Testing with a Real Vuex Store](https://next.vue-test-utils.vuejs.org/guide/advanced/vuex.html#testing-with-a-real-vuex-store). (In short: you should pass in the store as a plugin, not as a `$store` mock)

[2022-01-25 08:17] ZaeemKhaliq commented on #1275
This solved the issue. Thanks.
But any explanation for why it wasn't working only with `mapGetters`??? It is working with mock store even if I access a getter directly in template like `{{  $store.getters['location/currentAltitude']  }}`

[2022-01-25 08:35] afontcu commented on #1275
Glad you solved it! I guess it is because the mock you provided made `$store.getters` work, but it was unable to set and define `mapGetters` (which comes from a real store, not a mock).

[2022-01-25 08:35] #1275 closed

[2022-01-25 18:11] tsiotska opened #1276 "Bug: Cannot set global plugins with shallowMount"
**Expected behavior**

Global components should be registered in plugins and stubbed as other children using shallowMount/shallow: true

**Current behavior**

Project has registered global components as vue plugins (objects with install function).
ShallowMount with global.plugins throws next:
'TypeError: Cannot set property tagName of [object Element] which has only a getter'
whereas simple Mount

[2022-01-25 18:28] phobetron opened #1277 "Bug: Built-in `<component />` functionality seems altered when `shallow: true`"
**Describe the bug**
When shallow-mounting a component that contains the built-in `<component />` component, its behavior seems to be altered.

**To Reproduce**
In my current case, I'm testing an SFC with `script setup` that has `<component :is="someComponent" />` in its template. `someComponent` is a computed property that returns a value of the type `Component`.

When testing with `shallow: true

[2022-01-25 18:49] phobetron commented on #1277
I've typed it up based on what's in my codebase, but haven't actually run it. Hopefully, it will help explain the issue I'm running into, either way.

`OneOrOtherComponent.vue`
[code]

`OneOrOtherComponent.spec.ts`
[code]

[2022-01-26 12:20] lmiller1990 commented on #713
It seems like, unless this changes, we won't be able to implement this? It looks like Vue really does *not* want provide/inject to be accessed in this manner.

[2022-01-26 12:24] lmiller1990 commented on #1239
Sorry, I will do rc.19 soon. It might even be 2.0.0 instead - I think we are about read to move out of rc, pls give a few days to finalize.

[2022-01-26 12:26] lmiller1990 commented on #1277
Thanks for the great report - I will try get some :eyes: on this soon.

[2022-01-26 16:14] freakzlike commented on #1277
I know the name resolution a bit, so I took a look at this.

VTU searchs the component within the exposed `script setup` (`vue` internal `setupState`). `ComponentA` and `ComponentB` are not directly used in the template, so `vue` does not expose these in the `setupState`. Even if so, VTU would use the first occurens of the component which could either be `someComponent` or `ComponentB`.

### Worka

[2022-01-27 09:32] phobetron commented on #1277
@freakzlike Thanks for the ideas!

I'll give this one a try and report back.

Do you mean, in a stub component passed to `mount`?

This one would be a bit ugly to evaluate in the template, since the actual implementation I'm working on chooses between about 5 different components based on a key. I'll see what I can do that could maybe trick the VTU.

[2022-01-27 09:47] freakzlike commented on #1277
On 2 I mean this:

`ComponentA.vue`

[code]

`ComponentB.vue`

[code]

[2022-01-27 10:49] phobetron commented on #1277
### Workaround 1

This seems to work in _most_ cases. However, there are a few caveats remaining:

- Whether content is passed to a named slot (not `default`) can not be tested unless a stub component is used
- If a stub component is used, there is no match, because the actual component is the one that is expected
- If the actual component is passed to `global.stubs`, named slots can not be tested

[2022-01-29 08:54] freakzlike commented on #1277
Well named slots are never rendered with the auto stub from VTU:
https://next.vue-test-utils.vuejs.org/guide/advanced/stubs-shallow-mount.html#default-slots-and-shallow

What I tried to explain is exactly this logic:
https://github.com/vuejs/test-utils/blob/d414157b0640218b6cf073ba78ba30b0c28da593/src/utils/componentName.ts#L9-L15
And the arguments at this scenario
[code]
So `.find` will find `som

[2022-01-31 10:39] phobetron commented on #1277
@freakzlike

Regarding named slots, the important note is the third point, that even with component stub objects registered in `global.stubs`, named slots still seem inaccessible, which is different from v1 stub behavior. I'm not sure that is intended behavior, but it's likely out of scope for this issue either way. Such caveats are for anyone else who may run into this issue and is looking for a

[2022-02-01 06:19] aethr commented on #1233
I'm not a react developer but I looked at enzyme to see what they do and it appears that enzyme's `find` does return the root node: https://github.com/enzymejs/enzyme/blob/57baba5ceaccec7a3ada40d7559f5bf71289cbe7/packages/enzyme-test-suite/test/shared/methods/find.jsx#L32-L36

I suppose in their case, they are making a distinction between the Wrapper itself, and the DOM tree within it, and their `

[2022-02-03 21:27] justin-schroeder commented on #1201
Really appreciate @huuff finding a fix for this while we wait for another publish. Had to rewrite a bunch of tests, but at least we're building again. 🙏

[2022-02-07 06:50] #1216 closed

[2022-02-07 07:09] lmiller1990 commented on #1253
I was not able to repro this in our code base, copy pasted the test from the OP:

https://github.com/vuejs/test-utils/pull/1293/commits/caabd06490c84011845328f7bf38224c3f38cfeb

[2022-02-07 07:16] lmiller1990 commented on #985
Once all fails here pass: https://github.com/vuejs/test-utils/pull/1293 we will do 2.0.

[2022-02-07 14:58] liamdebeasi opened #1294 "Bug: commonjs imports are not included when running tests"
**Describe the bug**

When running a unit test, functions imported from a CommonJS file are not included when running tests, resulting in `TypeError: ... is not a function` error.

**To Reproduce**

1. Clone https://github.com/liamdebeasi/vtu-import.
2. Run `npm install`.
3. Run `cd test-module && npm pack` to create an archive of the test package.
4. In the root directory, run `npm install ./test

[2022-02-08 06:51] freakzlike commented on #1294
I'm not sure if this is the problem, but the `test-module/index.d.ts` file does not contain a type definition for the `testFunction`. Can you add the type and try again?

[2022-02-08 14:45] liamdebeasi commented on #1294
Thanks for the reply. I added a type definition for `testFunction`, but that did not resolve the issue.

I updated the reproduction with the type definition: https://github.com/liamdebeasi/vtu-import/blob/main/test-module/index.d.ts#L3

[2022-02-10 20:28] Benalink opened #1306 "Bug: Yarn 2+ breaks on unlisted dependency"
**Describe the bug**
Running vitest with yarn on a newly scaffolded vue project fails.

FAIL  src/components/__tests__/HelloWorld.spec.ts [ src/components/__tests__/HelloWorld.spec.ts ]
Error: @vue/test-utils tried to access @vue/compiler-dom, but it isn't declared in its dependencies; this makes the require call ambiguous and unsound

This appears to be a regression of  #245 after the dependency

[2022-02-11 10:05] cexbrayat commented on #1306
Hmm I indeed removed the dependency in January (because I thought we were no longer using it, but we still are as I just realised).

The strange thing is that we did not release this change: rc.18 was released in December. So it's weird that you have this issue with rc.18 🤔 Do you also have it with rc.17 or older versions?

Anyway, I'll revert my mistake, and this will hopefully fix your issue whe

[2022-02-11 10:11] #1306 closed, assigned to nobody

[2022-02-11 10:28] Benalink commented on #1306
I think you're right on that commit not being the issue here, my apologies. I've only just noticed this after scaffolding my first Vue 3 project, I've just tested with a bunch of versions starting at rc.1 all the way up to rc.18 and I do indeed have the issue in all versions I tested although I skipped over a lot of them.

I wondered if this might be caused by the pnp typescript plugin so I have d

[2022-02-11 10:48] cexbrayat commented on #1306
Hmm yeah, that's what I suspected...

I'm not familiar with Yarn 2 myself but I don't think we're doing anything special here. So it's maybe an issue with Yarn itself? We have no issues with other package managers  as far as I know (yarn v1, pnpm, or npm v6-8). Maybe try to update your yarn version to be sure that you have the latest fixes, as there are a lot of similar issues in the Yarn repo.

O

[2022-02-11 11:00] cexbrayat commented on #1294
I took a quick look, and I don't think this is a VTU issue. It might be an issue with vue-jest, or just a jest config issue. OOC did you have the same issue if you try to reproduce with create-vue and Vitest instead of the CLI and Jest?

[2022-02-11 11:08] phobetron commented on #1277
@cexbrayat I'll see what I can do over the weekend 👍🏻

[2022-02-11 11:09] Benalink commented on #1306
I'm using the latest release of Yarn (3.1.1), I have found a workaround though that works with Yarn 2+ if anyone else runs into this issue.

Try enabling the loose [pnpMode](https://yarnpkg.com/features/pnp#pnp-loose-mode)

[2022-02-11 11:12] cexbrayat commented on #1306
Awesome, thanks @Benalink

[2022-02-11 11:17] cexbrayat commented on #1217
@ellismonva Did you manage to reproduce your issue in a minimal example or can I close it?

[2022-02-11 11:45] #1217 closed

[2022-02-11 15:24] liamdebeasi commented on #1294
Thanks for taking a look. I have not tried this with `create-vue` and Vitest yet.

Do you have any tips for how I could verify if this is a `vue-jest` or jest config issue?

[2022-02-14 07:59] edisonLzy opened #1311 "Bug: The wrapper methods props can't get specific prop in functional component"
**Describe the bug**

The wrapper methods props can't get specific prop in functional component
**To Reproduce**

const wrapper = mount(Component,{
      props: {
        title: 'title'
      }
    });
 expect(wrapper.props('title')).toContain('title')  //  not pass  , the wrapper.props('title') is undeinfed

**Expected behavior**

    const wrapper = mount(Component,{
      props: {
        title

[2022-02-14 08:23] phobetron commented on #1277
@cexbrayat I've added minimal tests in a PR: https://github.com/vuejs/test-utils/pull/1312

I'm not sure whether the tests are appropriately arranged, but let me know and I can make changes.

[2022-02-14 09:17] bosens-China opened #1313 "Bug: The type passed by the button does not match the expectation"
**Describe the bug**

The type passed by the button does not match the expectation

**To Reproduce**

[code]

[code]
return
[code]

**Expected behavior**

`type = abc`

**Related information:**
- `@vue/test-utils` version:^2.0.0-rc.18
- `Vue` version:^^3.2.31
- `node` version:v14.18.1
- `npm` (or `yarn`) version: pnpm 6.30.1

**Additional context**

[2022-02-14 11:10] cexbrayat commented on #1311
Hmm, interesting. I guess not a lot of people are using functional components in Vue 3 and we never caught this. Would you like to try to fix it?

You can start by adding a test in `props.spec.ts` https://github.com/vuejs/test-utils/blob/main/tests/props.spec.ts to reproduce your error.

Then the relevant code is here:
https://github.com/vuejs/test-utils/blob/67a3e7a937a6392ca6b092f97bf08f00f17360

[2022-02-14 11:14] cexbrayat commented on #1313
@bosens-China Thanks for the report, but I don't think this is an issue: if the button type is invalid like `abc`, the browser will default to submit, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type

If you specify a valid type like `button` or `reset` then the test would succeed.

[2022-02-14 11:14] #1313 closed

[2022-02-14 12:11] bosens-China commented on #1313
But the button can switch styles according to the type. Although it does not conform to the specification, if a non-standard attribute is passed, how can I test the result?

![image](https://user-images.githubusercontent.com/39508895/153861986-5cc416bc-2560-4a30-bac6-ed1e2fce056c.png)

[2022-02-14 12:53] cexbrayat commented on #1313
Well this is not the same here, as `el-button` is probably a Vue component I imagine. So you can pass whatever you want to `type` as here it is a prop and not a standard HTML attribute

[2022-02-14 15:49] Joralf opened #1315 "Mocking router (components) in tests not fully documented"
### Documentation Feedback

After updating my project to the latest next versions of Vue/test-utils etc. I got into an issue were using a real router would cause side effects, cause it's a singleton and Jest runs tests in parallel, so a route change in your component would affect another test and hence it'd fail.

Reading the docs I felt it wasn't obvious that you should *never* import your router

[2022-02-14 15:50] Joralf commented on #1315
I created a PR with better examples here: https://github.com/vuejs/test-utils/pull/1314

[2022-02-15 14:40] edisonLzy commented on #1311
woot 😄 .  i find the problem is the functional component wrapper ignored  the props options.
The code is here:
https://github.com/vuejs/test-utils/blob/67a3e7a937a6392ca6b092f97bf08f00f17360d3/src/mount.ts#L281-L301

I have an idea is add instance methods name `attrs` in wrapper like this:

[code]

[2022-02-15 17:30] ferencbeutel4711 opened #1321 "Feature request: Trigger onServerPrefetch from test"
**Is your feature request related to a problem? Please describe.**
Currently, it seems that there is no way to test the behaviour of the function defined in onServerPrefetch

**Describe the solution you'd like**
It would be great if there was a way to trigger the serverPrefetch lifecycle hook from the tests

**Additional context**

Hey, maybe I am mistaken, but I cant see a way to test the behavio

[2022-02-16 02:18] lmiller1990 commented on #1321
Probably dup of https://github.com/vuejs/test-utils/issues/1218?

[2022-02-16 02:23] #1315 closed

[2022-02-16 10:21] cexbrayat commented on #1321
@ferencbeutel4711 Thanks for the request. I agree with Lachlan, I think we need to add SSR support and then that should give you a way to test the onServerPrefetch function.

Would you like to give it a try?

as @lmiller1990 pointed out, the implementation should be fairly close towhat VTU v1 was doing here https://github.com/vuejs/vue-test-utils/blob/dev/packages/server-test-utils/src/renderToStr

[2022-02-16 10:50] jahangirQ commented on #231
I am using the  "vue": "^2.6.14", when I run this comond npm run watch can give the this type of errors.

[webpack-cli] Error: Cannot find module 'vue/compiler-sfc'
Require stack:
- C:\xampp\htdocs\laratest\node_modules\vue-loader\dist\index.js
- C:\xampp\htdocs\laratest\node_modules\laravel-mix\src\components\Vue.js
- C:\xampp\htdocs\laratest\node_modules\laravel-mix\src\components\ComponentRegis

[2022-02-16 11:25] cexbrayat commented on #231
@jahangirQ This is the repository for the test utils for Vue 3. If you are using Vue 2,  this won't work and you need to use the test utils v1, which are there https://github.com/vuejs/vue-test-utils

[2022-02-16 12:04] #1277 closed

[2022-02-16 12:14] cexbrayat commented on #1311
Fixed by #1326

[2022-02-16 12:14] #1311 closed

[2022-02-17 14:43] jonsalvas opened #1329 "TypeError: Cannot read property 'devtoolsRawSetupState' of undefined"
Vue Version: 3.2.31
Test-Utils: 2.0.0-rc.18

When upgrading from vue from 3.2.24 to 3.2.25 all our tests fail with the following error:
[code]

This is thrown when trying to call .findComponent on a mounted component using ref:
`wrapper.findComponent({ref: ".."})`

Seems that we were not alone with this issue:
https://github.com/vuejs/vue-test-utils/issues/1962

[2022-02-17 15:11] cexbrayat commented on #1329
@jonsalvas Thanks for the report. Can you provide a small reproduction so we can investigate? You can use `create-vue` to quickly set up a project with Vue Test Utils.

[2022-02-18 19:25] tsiotska commented on #1058
As temporary workaround i use
`wrapper.vm.changedData['firstName'] = 'foo'`

[2022-02-18 21:06] nandi95 opened #1334 "Bug: `html()` makes the output pretty making comparisons difficult"
**Describe the bug**
The change introduced by https://github.com/vuejs/test-utils/pull/1120 has caused my test suite to fail.
The test checks that the focused element is same as the expected but given the `document.activeElement?.outerHTML` is on one line and `html()` is on multiple with indentation this fails.

**To Reproduce**
https://github.com/karnama/vueish/blob/main/src/components/select/UIS

[2022-02-20 20:47] leopsidom opened #1335 "Bug: Test keydown event on contenteditable element"
**Describe the bug**
Not able to test keydown event on a contenteditable element. When triggering a keydown event with { key: ... }, the wrapper on the component doesn't contain text with the key.

**To Reproduce**
I created a simple test case here: https://stackblitz.com/edit/vitejs-vite-uetfze?file=test/DivContentEditable.test.ts. To see the failure, just run `vitest`.

Current error: `expected

[2022-02-21 00:32] lmiller1990 commented on #1334
HTML and snapshot assertions have been painful over the years. What's the question exactly, how best to format HTML? I think the only way to expect consistency from an undefined behavior (whitespace around HTML is not something VTU specifies) would be to format it on your end using something like `prettier`.

For your particular assertion, I'd usually just have an `id` or `data-testid` and compare

[2022-02-21 00:54] lmiller1990 commented on #1335
I don't think this test is written correctly. You'll likely need to do a deep dive into exactly what happens when a div is `contenteditable`, but I'm sure this is not going to work, even in a browser w/o VTU. In my experience the only way to write to a contentediable programmatically is using `document.execCommand`: [docs](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand).

We

[2022-02-21 00:54] #1335 closed

[2022-02-21 00:57] lmiller1990 commented on #1329
I guess we just need a check around this: https://github.com/vuejs/test-utils/blob/f61b8aeb84352b29e29666326939531cd81c3bd6/src/vueWrapper.ts#L57

We are on latest Vue here though, which is [3.2.31](https://github.com/vuejs/test-utils/blob/main/package.json#L46). I'd love to see a reproduction, too.

[2022-02-21 07:19] nandi95 commented on #1334
I have not considered that. It is a good idea, excpect I would rather find something else that is unique to that html than a test specific attribute as I'm reluctant to change the component for the sake of testing.

Perhaps we can make a note of this in the documentation?
I'm happy to open a PR

[2022-02-21 07:19] #1334 closed

[2022-02-21 10:36] Spronghi opened #1336 "Bug: Plugins do not extends the VueWrapper type when mounting the wrapper with Typescript"
Hi,
I was trying the new [Plugins](https://test-utils.vuejs.org/guide/extending-vtu/plugins.html#usage) for Vue Test Utils 2 with typescript but I noticed that when I create a new method in the Wrapper this is not typed when you use it later.

**How To Reproduce**
To reproduce try this snippet of code in VS code (version of libs and plugins used are listed below):
[code]

**Expected behavior**
`co

[2022-02-21 11:40] cexbrayat commented on #1336
Hi @Spronghi

Yeah, this is expected: TS has no idea this method is available on VueWrapper. You have to "augment" VueWrapper with the method you add, usually in a `d.ts` file:

[code]

I added some pseudo-code in a TypeScript Playground to give you an idea: https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgEwKYDNgDtUGELgQ5bwC+c6UBcA5AG4CuqNA3AFCiSyJwgQMkANHABqTAOpQAhmDCooccpWo0AAo1QB6GKg

[2022-02-21 11:40] #1336 closed

[2022-02-21 15:01] jonsalvas commented on #1329
Hey, thanks for the fast reply and sorry for the delay, I had some other tasks to do at work. You can find a reproduction project here:
https://github.com/jonsalvas/test-utils-issue1329

I think the key is the v-for here:

[code]

[2022-02-22 00:08] lmiller1990 commented on #1334
We could add a note, but it's a complex issue to explain. This is also why I think snapshots for DOM comparison is basically useless - knowing how the string looks doesn't tell you anything about if it actually behaves correctly.

[2022-02-22 00:12] lmiller1990 commented on #1329
Is

[code]

Even valid? I thought the syntax was `v-for="val in {object|array}". Is using a number even documented or valid syntax?

[2022-02-22 07:21] jonsalvas commented on #1329
The doc says the following are allowed: "Array | Object | number | string | Iterable" (https://vuejs.org/api/built-in-directives.html#v-for).  And changing it to [1,2,3] makes no difference.

Anyway, the reproduction project is just a simplified example. In our original code we iterate over arrays of objects to generate multiple options/checkboxes.

[2022-02-22 08:17] lmiller1990 commented on #1329
Thanks for the repo, will try take a look.

[2022-02-23 02:19] leopsidom commented on #1335
@lmiller1990 Thanks for the detailed reply. I'm guessing this is jsdom limitation then, due to the fact the event is fired as `isTrusted: false`.  So the event cannot update the value of contenteditable: https://stackoverflow.com/a/44190874/4983450. we might end up leveraging end 2 end testing framework like playwright or selenium for some specific  testing cases while using VTU for unit test spec

[2022-02-23 03:01] nazarepiedady opened #1340 "Translating the Documentation"
#### Purpose

I would like to know,

When the documentation should be ready for translation?

And is the project's documentation already configured to facilitate the translation?

[2022-02-24 00:44] lmiller1990 commented on #1335
I'm kind of curious about what the actual limitation is here. If it's truly a jsdom limitation, you could still run Test Utils in a browser (you would need Mocha or something to run the tests) or you could use Cypress (my preference, I work on it full time) or one of the others. If you are interested, Cypress has pretty good Component Testing support (using Test Utils under the hood).  See https:/

[2022-02-24 03:51] YangLG-7 commented on #1161
@hansonfang The same situation as me，I'm also developing a components lib based on element-plus.
But the difference is If I use shallowMount to mount my outer components,This exception will not occur.But that's not what we expected。

[2022-02-28 20:56] liamdebeasi commented on #1294
I was able to verify that this was a Vue Jest bug: https://github.com/vuejs/vue-jest/issues/456

Vue Jest outputs the following code in my sample app:

[code]

Notice that both vue and @ionic/vue are assigned to the vue_1 variable.

Thanks again for the help!

[2022-03-04 23:31] Fimbelowski opened #1355 "Inaccurate Documentation/Function Signature for `wrapper.attributes()`"
These are the function signatures for `wrapper.attributes()` listed in the documentation.

[code]

However, calling `wrapper.attributes(someKey)` where `someKey` is an attribute that does not exist on the wrapper, `undefined` is returned. This is the behavior I would expect, but this is not reflected in the docs nor within `baseWrapper.d.ts`.

Furthermore, the third signature in the docs is also m

[2022-03-05 06:54] cexbrayat commented on #1355
Nice catch @Fimbelowski

Can you open a PR to fix this? I would gladly review and merge it!

[2022-03-07 15:32] Xa3lis opened #1357 "Bug: Async beforeMount behavior"
**Describe the bug**
I have a component with an async beforeMount (fetching data from API), and i use [MSW](https://mswjs.io/) to mock my graphql requests.
When i mount the component, i check in my Pinia store if data have been fetched, but even with 3 `flushPromises` or `nextTick` it still does not work, i need at least 7 `flushPromise` to have data fetched.

Is there a way to wait all beforeMoun

[2022-03-07 15:49] cexbrayat commented on #1357
Hi @Xa3lis

Sadly I don't think we can do much here: it looks like MSW is the culprit. Another developer reported the same issue see https://github.com/vuejs/test-utils/discussions/1347
If you use something else than MSW, you'll probably see that a single flushPromise is needed, as expected. That's what I personally do in my projects.

You can follow https://github.com/mswjs/msw/discussions/988 ,

[2022-03-08 03:32] luo10 opened #1360 "Bug: document Asserting loading state example is not work !"
**Describe the bug**
![image](https://user-images.githubusercontent.com/17287671/157160841-14617975-0782-4ed5-8109-64a037c23bd9.png)

**To Reproduce**
[code]

**Related information:**
- `@vue/test-utils` version:  v2.0.0-rc.18 v2.0.0-rc.17
- `Vue` version: ^3.0.0
- `node` version: v16.14.0
- `npm` (or `yarn`) version: 8.3.1

**Additional context**
2.0.0-beta.14 can work

[2022-03-08 03:39] ninjabhishek commented on #985
Is it good practice to release a version when the dependencies are yet not published properly. I have seen this with v5 of vue cli jest as well. v2 will hold v27-rc of vue-jest, shouldn't you guys collaborate and ask dependent libraries to publish first. This is not an issue with individual devs but there are scans in place in enterprises, and in my company, we are kind of confused to go with vue

[2022-03-08 06:49] cexbrayat commented on #1360
Hi @luo10

It's hard to say without a reproduction with the code of your component.

If I had to guess: have you tried `await nextTick()` before your assertion?

If that doesn't work, and you think this is an issue with VTU, can you share a small reproduction on Github so we can investigate? You can use [create-vue](https://github.com/vuejs/create-vue)  with Vitest.

[2022-03-08 07:26] luo10 commented on #1360
I use examples of official documents.
https://test-utils.vuejs.org/guide/advanced/http-requests.html#asserting-loading-state
I can't see loading state.
[code]

[2022-03-08 07:32] cexbrayat commented on #1360
Ho thanks, I did not understand. We'll take a look then 👍

[2022-03-08 08:17] cexbrayat commented on #1360
After taking a look, I think:
[code]
should be replaced with:
[code]
(to properly return a promise).

Does that fix the issue for you?

[2022-03-08 09:07] lmiller1990 commented on #985
It's just a version number - transitioning from RC to 3.0.0 is more or less an arbitrary decision, since there's no official spec to build by. The RC - release candidate - just means "it's pretty much ready for prime time, bar a few known issues".

That said, if your company is concerned, the only thing blocking 3.0.0 is two failing tests: https://github.com/vuejs/test-utils/pull/1293.

If you (or

[2022-03-08 10:15] OXXXRA opened #1361 "Feature request: create hook or class for create event in dom-events"
https://github.com/vuejs/test-utils/blob/main/src/constants/dom-events.ts#L110-L975
Is it DRY mistake. Can create class or hook for delete the duplicate code?

[2022-03-08 10:18] OXXXRA commented on #1361
So like here
<img width="731" alt="Снимок экрана 2022-03-08 в 13 16 45" src="https://user-images.githubusercontent.com/26336577/157216663-6b1998a4-7681-4acc-a2e0-b3a487ebd710.png">
:

[2022-03-08 10:21] cexbrayat commented on #1361
Sure. Feel free to open a PR if you want to improve the code, we will gladly review it 👍

[2022-03-08 10:25] luo10 commented on #1360
wow, thanks @cexbrayat

[2022-03-08 10:28] cexbrayat commented on #1360
Happy to help 👍

I'll keep this open as we need to fix the documentation example

[2022-03-08 10:42] #1360 closed

[2022-03-08 12:14] iliubinskii opened #1363 "Feature request: Clear events returned by "VueWrapper.emitted" method (similar to Jest mockClear)"
**Is your feature request related to a problem? Please describe.**

Consider the following code:
[code]

I would like to be able to write it this way:

[code]

**Describe the solution you'd like**

Add "clearEmitted" methods to "VueWrapper" interface.

[2022-03-08 12:42] cexbrayat commented on #1363
Could be interesting. @lmiller1990 WDYT?

[2022-03-08 13:54] lmiller1990 commented on #1363
This comes up every so often and the answer is always the same; why is this better than just writing another test with a new `mount` to get a fresh `VueWrapper`?

Historical thread (I'm sure there are others): https://github.com/vuejs/vue-test-utils/issues/1252

My opinion is not the most popular (see the thread). This could certainly be implemented using our [plugins API](https://test-utils.vuejs

[2022-03-08 13:58] lmiller1990 commented on #1361
I don't understand the proposal but always good to reduce code, if there's a better way to do this, that'd be great!

[2022-03-09 06:29] ilyub commented on #1363
1. The same question can be asked about Jest's "mockClear" function. Why is "mockClear" better than just writing another test? Obviously, Jest developers decided that in some cases "mockClear" is better, because they added it.
2. "clearEmitted" is better if test has significant overhead. Imagine that you need to define props (e.g. [Quasar table component](https://quasar.dev/vue-components/table) h

[2022-03-09 07:01] nazarepiedady commented on #1340
@lmiller1990 what do you consider a fully completed translation?

- A fully translation of a documentation that does not change, or

- A fully translation of a documentation that does constantly change

[2022-03-10 00:04] lmiller1990 commented on #1363
My understanding is that if you

[code]

In your test, there is literally no way to "unmock" or "reset" it. Whatever changes is persistent for all tests. This isn't the case with a Vue component, since you can just remount it or write a new test. They are not globally registered like Jest mock. So that's why `mockClear` would be essential in Jest - there's no other alternative.

What do your tests

[2022-03-10 00:19] lmiller1990 commented on #1363
Edit: I tried to implement this as a plugin but it's not currently possible - `events` is a private, readonly value.

Happy to leave this as a feature suggestion but unless there's a case where there's a test you **cannot** write with VTU, I don't think we should add this, at least certainly not before 2.0.0 - the current goal is to reach a stable release before adding new features.

[2022-03-10 00:27] lmiller1990 commented on #1340
First instinct is all pages in the current docs are translated. My concern is keeping it up to date - VTU v1 has 6 translation and are all outdated by months or even years. What do you think? Any ideas how we might solve this?

My experience in the past was

1. Add translation
2. Gets out of date
3. Bug report(s) based on old translation
4. I need to triage all these bugs

Translations are great,

[2022-03-10 05:50] nazarepiedady commented on #1340
@lmiller1990 you put the things in right way, I precisely have intentions to keep the documentation updated.

I will consider all your points.

[2022-03-11 01:42] lmiller1990 commented on #1340
What would be nice is some automated system to make new issues to update the translations every time something changes. I wonder if there's a known solution for this?

[2022-03-11 13:38] Archetipo95 commented on #1201
@lmiller1990  Any ETA on when this fix will be on next release?

[2022-03-14 16:54] telion2 opened #1368 "Bug: Wrapper and computed properties are not testable using Typescript"
**Describe the bug**

Basically, I get Type Error when writing test following https://lmiller1990.github.io/vue-testing-handbook/v3/computed-properties.html#testing-computed-properties

I have a simple component:

[code]

But when trying to test them I run into the following Issues:
[code]
However if I I log  `appWrapper.vm` then the properties are available as expected. However, TS prevents the t

[2022-03-14 18:28] freakzlike commented on #1368
[code]
With this line you explicit define your `appWrapper` to be type of `VueWrapper` without any specific component. Try to allow `shallowMount` to provide to correct type for your:

[code]

[2022-03-14 19:33] freakzlike commented on #1233
@lmiller1990 I can work on this if you want, but I need your decision. Here are my proposals:
#### 1. `find`/`findAll` will not return the parent element
* `find` and `findAll` will always return the same results
* The wrapper will behave the same, no matter if single root or multi root element
* The root wrapper is always the "template"-tag of the component

In my opinion the cleanest way to avoi

[2022-03-15 00:53] lmiller1990 commented on #1233
I am conflicted. I do not really want to introduce breaking changes, but the example in the OP just seems completely wrong.

Your (1) proposal seems to make the most sense. I like to think of `find` and `findAll` like `querySelector` and `querySelectorAll`.

## `find`

With non-fragment:

[code]

`find('div')` returns the outer element.

With fragment:

[code]

`find('div')` returns the `#a` eleme

[2022-03-15 04:04] xanf commented on #1233
@lmiller1990 I totally agree with your logic. I will implement it

[2022-03-15 09:44] aethr commented on #1233
@xanf I think that's still in line with what is being suggested, extending your example to match the OP's example:
[code]

This should be the expected behaviour, and I think your examples are in line with what's being suggested to treat a component wrapper like a fragment made using the `<template>` element.

When `wrapper` is a component, if we consider the `<template>` the top-level element, the

[2022-03-15 09:48] telion2 commented on #1368
Thank you. That solves the Wrapper Issue.

However: `console.log(App.computed?._test.call(this));` is run on the imported component directly.
Meaning:
[code]
will result in:
[code]

Following the guide here: https://lmiller1990.github.io/vue-testing-handbook/computed-properties.html

[2022-03-15 14:06] vincerubinetti commented on #137
Brining this up here rather than creating a new issue since this one seems relevant and seems to include the library authors.

The author of the `msw` library (library for mocking api calls) asserts that `flushPromises` is not a robust way to await external async actions. See this issue here:

https://github.com/mswjs/msw/issues/1163#issuecomment-1067854562

Does anyone have any thoughts about thi

[2022-03-15 14:49] tlebel commented on #137
Interesting question!

I've never had the need for anything else than await $nextTick or await flushPromise with vue-test-utils – yet I never used `msw`.

First, we must understand that flushPromise works by forcing a macrotask loop cycle that will mandatorily come after the microtask is exhausted – and promises are all executed in the microtask queue. See https://jakearchibald.com/2015/tasks-micr

[2022-03-15 15:20] tlebel commented on #137
Assumption, from making a lot of tests with mocks 😅 I sometimes had to call flushPromise twice for similar scenarios. Usually, I try to refactor things to avoid that. Or comment on why I can't!

I don't think it's not a coincidence 😅

Testing library have a slightly different philosophy on tests, where the focus is on the DOM (and I agree that makes lot of sense). They do wrapper for common fronte

[2022-03-15 15:30] vincerubinetti commented on #137
So... two `flushPromises` working *is* maybe a coincidence, and thus not reliable... and `vue-test-utils` wont implement a function similar to `waitFor` due to philosophy differences...

So what is the recommended solution for this `msw` issue then? Use an arbitrary timeout and hope that `msw` has mocked the api call by then?

FWIW I don't really like the idea of `waitFor` either, as it seems to m

[2022-03-15 16:01] cexbrayat commented on #137
Thanks for the follow-up on this.

The thing is `flushPromises` works well enough, except for msw. Maybe we just need a better `flushPromises`? We just re-export the one provided by `flush-promises` as it does a fairly good job. Except if you want to use msw (which you don't have to, as you can use other libs, or manually mock the API call).

But are there any alternatives to `flushPromises()` out

[2022-03-15 16:13] vincerubinetti commented on #137
Having to call `flushPromises` twice wouldn't be a big deal as long as it was noted, and as long as we're sure that will always work, and isn't just a coincidence/race condition.

It'd be really nice for someone with expert understanding of javascript async/await/event loop (definitely not me) to chime in and concur with `msw` dev's assessment that it's a race condition. I'm personally still not c

[2022-03-15 16:16] cexbrayat commented on #137
You can probably manually patch msw in your node_modules to experiment if that changes something.

But I tend to agree that msw probably does something a bit extraordinary as this issue only arises with this library...

[2022-03-15 16:26] vincerubinetti commented on #137
You read my mind, was doing that as you commented. And I was able to. The local file I patched was this one:

<img width="230" alt="image" src="https://user-images.githubusercontent.com/8326331/158424527-8359f726-c525-41fe-809c-c78b77e8632a.png">

As the file is, I needed two `flushPromises` for my tests to pass.

After I patched the file to simply return `transformedResponse` immediately, rather

[2022-03-15 16:48] vincerubinetti commented on #137
Yeah, that's the same promise I'm talking about removing if the delay is 0.

If `msw` cannot remove that without breaking things, then my comment I made before is applicable:

And I'm begging `msw` and or `vue-test-util` to just make a note of this somewhere that two `flushPromises` are required.

[2022-03-15 17:33] vincerubinetti commented on #137
And yet there is a difference. And several people in this thread seem to disagree with you.

Why though. If it's not satisfying some necessary requirement, this is just stubbornness.

I have to recuse myself from this discussion for my mental health. Good luck to all.

[2022-03-15 17:36] kettanaito commented on #137
If you're performing an asynchronous action (and HTTP request _is_ an async action), you must await it regardless if it's delayed by third-party means. The fact that conventional mocking tools introduce a black hole in the place of the request client call, which results in an immediate resolution of any request promise, doesn't mean that's the correct approach. Skipping an event loop cycle is not

[2022-03-15 17:41] kettanaito commented on #137
I'm not speaking of behavioral differences. It's clear to me that MSW doesn't play nicely with `vue-test-utils`. I'm referring to a third-party tooling depending on implementation details of other tooling. `vue-test-utils` must not care if a LIBRARY_A wraps a request in a promise, or in a dozen of promises.

You must understand my stubbornness then. The code we add to the library is going to be us

[2022-03-15 17:45] cexbrayat commented on #137
Maybe my comment was misleading, I was talking about our (VTU) documentation.

As I said, it's ok if you have a strong opinion on how that needs to be handled in your library: the point is the setTimeout with a 0 delay triggers the need for a second flushPromises, and other libs made different choices making it unnecessary. I understand that as a maintainer you don't want to change that and introd

[2022-03-15 17:52] kettanaito commented on #137
How can you guarantee that there are no more pending promises on the second tick? In other words, if we introduce an extra Promise on top, now people will need three `flushPromises` calls. I think that is an issue indicating that `flushPromises` either assumes too much or does not fulfill its specification.

May I ask what benefit `flushPromises` brings compared to something like `waitFor`?

[code

[2022-03-15 18:18] cexbrayat commented on #137
We don't guarantee anything: in practice, as most mocking libs have just one promise to return the result, developers rely on flushPromises, and that works fine.  Same if you manually mock: you'll usually use `Promise.resolve()`. The only issues we had about that are people trying to use msw: they just need to know that flushPromises is needed twice in that case, or that they can use other mocking

[2022-03-16 01:46] lmiller1990 commented on #137
We would probably include `waitFor` if Vue Testing Library didn't already do that; I don't think we need to close that intersection. In general, I think Testing Library with the `waitFor` method is probably a more ergonomic alternative to Vue Test Utils for cases like this.

[2022-03-16 01:49] lmiller1990 commented on #1233
I think we are all on the same page.

[code]

Right?

[2022-03-16 06:48] dalmia commented on #194
In my case, similar to what @vincerubinetti said, I had assumed initially that the issue was with how it was being mounted.

[code]

Turns out, the type for my prop `titleConfig` was set to an interface that required two keys to be passed and I was passing only one key. Setting the other key as optional in the interface definition removed this error for me.

[2022-03-16 06:57] cexbrayat commented on #1368
@telion2 Yeah, I'm not sure this is the proper way to test computed properties (cc @lmiller1990 ).

Usually, you are going to use this computed property in the template, and a unit test can just mount the component, and check that the template displays the proper text for example. Or you can check the `wrapper.vm` as you did

I'm going to close the issue as this is not a problem with VTU: @freakzl

[2022-03-16 06:57] #1368 closed

[2022-03-16 07:04] cexbrayat commented on #1329
I did not investigate but it looks similar to issues we've seen in vue core
https://github.com/vuejs/core/pull/5118 should fix them upstream (and should be merged and released fairly soon).
I think that before spending too much time on this, we'll wait for this patch and revisit this to see if the issue persists.

[2022-03-16 07:08] cexbrayat commented on #1276
@tsiotska Sorry for the delay, this issue slipt through my inbox

Did you find a solution?
I see that you're using a fairly old vue version. Did you try to update to the latest vue version (and of the other dependencies)?

If that does not work let me know and we'll investigate.

[2022-03-16 07:10] cexbrayat commented on #1361
@OXXXRA I'll close the issue as this is not really a problem or a feature request: we'll gladly merge your PR if you want to refactor dom-events 👍

[2022-03-16 07:10] #1361 closed

[2022-03-16 10:53] thimonwentink commented on #848
Is there any progress on this yet?

[2022-03-16 14:17] cexbrayat commented on #1368
I understand your point, and agree with you; That's why I would argue just testing a computed property is not really worth it, and you're more likely to test what the component really does in real life (how it uses it to display something to your users).

Furthermore, your example is using the Options API, which is supported, but a lot of Vue 3 developers are using the Composition API. In that cas

[2022-03-16 15:58] telion2 commented on #1368
"...just testing a computed property is not really worth it, and you're more likely to test what the component really does in real life (how it uses it to display something to your users)."
Isn't that the difference between "e2e" (or integration / UI test) and unit-tests?
Because displaying something is a html/vue feature that don't need to test from a unit-test perspective.
In other words, these

[2022-03-17 01:34] aethr commented on #848
Hi @thimonwentink I haven't made any progress on this, but I'd be happy to pick it back up if it would be helpful to others.

One thing I found that made it challenging is that my custom mock above makes it easy for me to return specific values for things like `href`, `route`, `isActive` etc for circumstances where that's important. Making a generic `RouterLinkStub` would probably make this hard.

[2022-03-18 00:55] lmiller1990 commented on #1368
I've encountered the problem you've described many times. I even showed a simple example in the link, as as @cexbrayat, it's probably not ideal in many scenarios. I should definitely review some parts of that book I wrote - I basically wrote it as I learned to code, before I really started to be more critical about my testing approach.

To take your example:

[code]

To truly test this in isolatio

[2022-03-21 02:39] lmiller1990 commented on #1233
Does this happen in rc.17? Was this a regression?

I want to release rc.19 but I think we need to fix regressions from rc.18 first. Namely, this (if regression) and https://github.com/vuejs/test-utils/issues/1173.

[2022-03-21 15:24] xanf commented on #1233
@lmiller1990 let's double check if we are on the same page:

* `wrapper.findAll('div')` should return 4 - since we are operating on Vue wrapper, we expect to **include** root nodes (especially important for multi-root)
* `wrapper.get('div').findAll('div')` should return 3 (obviously).

Am I correct? If so I could fix that and also update docs to reflect this
/cc @cexbrayat

[2022-03-21 15:42] freakzlike commented on #1233
I tested this with rc.16 and both cases are working as you mentioned

[2022-03-21 16:24] ilyub commented on #1363
For anyone who has the same problem below is my temporary solution:
[code]

[2022-03-21 21:23] lmiller1990 commented on #1363
Oh neat - maybe we can implement this as an option plugin. I forgot about `Reflect`. I will give this another try.

[2022-03-21 21:54] lmiller1990 commented on #1233
@xanf added a patch for this missing edge case: https://github.com/vuejs/test-utils/pull/1377/commits/a9fd8b5cce1897dd514fdd115fd9f3713439c23e

I'm just hacking my way to success, happy to add more edge cases if they exist.

[2022-03-22 16:56] hjri opened #1382 "Bug: using global in mount() pollutes global object for other tests on mocha + vue/compat"
**Describe the bug**

When using `mount(Component, { global: {...}})` it appears that changes also affect other components/tests, i.e.
[code]
This suite crashes when testing ComponentB because of `this.$store is null`, however if I skip the ComponentA test it will work fine.

**To Reproduce**

Write two tests/two components one of which uses mocked store to null and other uses real store.
Use moch

[2022-03-24 17:11] elango-dev opened #1385 "Bug: Select element with v-model doesn't render properly"
**Describe the bug**
 A component containing <select /> element with v-model  cannot be rendered using 'mount' method. It throws error

**To Reproduce**
https://stackblitz.com/edit/vitest-dev-vitest-ttaef6?file=components/Hello.vue

**Expected behavior**
<select /> element with v-model should be rendered properly

**Related information:**
- `@vue/test-utils` version: 2.0.0-rc.18
- `Vue` version: 3

[2022-03-24 18:08] cexbrayat commented on #1382
Hi @hjri

Can you provide us a minimal repro so we can investigate please? You can use create-vue to generate a project and push the project to Github. Thanks!

[2022-03-24 19:29] geewhizbang commented on #450
This helps with the larger error, but I still get elementPlus not finding "customParseFormat":

  Diyou mean to import  dayjs/plugin/customParseFormat.js?

[2022-03-25 00:06] ananthhh commented on #1385
@cexbrayat jsdom fixed the issue. Thanks for the help.

[2022-03-25 00:25] braddialpad commented on #1166
We just migrated to Vue 3 and are also having this issue. Don't really want to rewrite every single one of our tests to a render function and seems like the render function is unable to handle HTML. This seems like a bug in test-utils, is there any solution?

[2022-03-25 01:19] elango-dev commented on #1385
@cexbrayat thanks for the help. That fixed the issue!

[2022-03-25 11:51] lmiller1990 commented on #1166
I don't know how to solve this one right now. It might be as simple as telling webpack to use `cjs` build instead of the `esm` build.

I dug into the problem a little more (see above) but it seems like a conflict of various build tools, as opposed to a true bug in Test Utils. Can you share the kind of tests you are writing? I wonder if we can find an alternative, more simple way to fix this, or at

[2022-03-25 11:53] hjri commented on #1166
for me workaround was to use `h('tag', ...)` instead of string template in a `.js` file, for jsx you might wanna use jsx instead

[2022-03-25 11:56] #848 closed

[2022-03-25 16:35] braddialpad commented on #1166
My team did a bit more research and we found that this started happening `v.2.0.0-rc.13`. If we downgrade to `v.2.0.0-rc.12` string slots work fine.

Seems that it may have been caused by this PR https://github.com/vuejs/test-utils/pull/815

We are using Mocha/Chai/Sinon with vue-cli (@vue/cli-plugin-unit-mocha)

[2022-03-28 01:41] lmiller1990 commented on #1166
Thanks for the research @braddialpad - seems like we know how to potentially fix it (un-revert that change, or adapt it to work with the latest RC). Would you or someone in your team be interested in making a PR?

[2022-03-28 01:42] #1233 closed

[2022-03-28 03:57] rakibullahsazib opened #1393 "Bug: isVisible() always returning true"
**Describe the bug**

From the documentation, isVisible() should return false if v-show is false. But it is always returning true in the test. Although it is working perfectly in the browser.

**To Reproduce**

Here is the repo to reproduce the issue : https://github.com/rakibullahsazib/vitest-playground/tree/test-utils-visible-issue
Inside /src/components/visible folder is the Visible.vue compone

[2022-03-28 06:00] cexbrayat commented on #1393
Hi @rakibullahsazib

Thank you for providing a repro. There is an issue with your test though: the selector is wrong in the unit test.

[code]

When the test is fixed, you can fix the issue by switching from happy-dom to jsdom. There are several issues with happy-dom, and I would advise using jsdom in your tests.

I'll close the issue for now, feel free to reopen if jsdom does not fix your problem

[2022-03-28 06:00] #1393 closed

[2022-03-28 06:05] rakibullahsazib commented on #1393
Sorry, for the wrong selector. Ok, then the problem is with happy-dom. I'll try jsdom. Thanks man

[2022-03-28 12:38] Zecat commented on #450
@geewhizbang  About `Did you mean to import dayjs/plugin/customParseFormat.js?`
Try this https://github.com/element-plus/element-plus/issues/4923#issuecomment-1023514728

[2022-03-29 16:24] braddialpad commented on #1166
I will give it a shot

[2022-04-04 17:25] freakzlike commented on #1253
I tried to analyse this. The error gets thrown because `Symbol("impl") !== Symbol("impl")`. I think this might come from different package versions from `@vue/cli-plugin-unit-mocha`.
`@vue/cli-plugin-unit-mocha` uses `jsdom@v18` + `jsdom-global@v3` and the test repo `jsdom@v19` + `global-jsdom@v8`.

Unfortunally I was not able to get this running, but maybe this helps someone by digging into this.

[2022-04-04 18:59] maerteijn commented on #1253
With `jsdom@v18` and `jsdom-global@v3` I get the same results:

https://github.com/maerteijn/xmlserializer-problems-testcase/actions/runs/2091906179

See the branch: https://github.com/maerteijn/xmlserializer-problems-testcase/tree/jsdom-v8.0.0-jsdom-global-v3.0.2

[2022-04-04 23:40] #1173 closed

[2022-04-05 01:15] #1355 closed

[2022-04-05 08:16] lmiller1990 commented on #1166
I am hitting this in Cypress https://app.circleci.com/pipelines/github/cypress-io/cypress/35454/workflows/a6925305-5a8d-4638-988f-5d37fd502881/jobs/1412531?invite=true#step-112-856 (several layers of abstraction on top of Test Utils).

Good news... if this is a blocker in my day job, I will be able to spend more resources fixing it :sunglasses:

[2022-04-05 14:57] TheJaredWilcurt opened #1400 "Identifier '_interopRequireDefault' has already been declared."
**Describe the bug**
[code]

**To Reproduce**

Occurs in this branch:

* https://github.com/nwutils/nw-vue-cli-example/tree/vue-3

**Expected behavior**

* Test passes

**Related information:**

* `@vue/test-utils` version: 2.0.0-rc.18
* `Vue` version: 3.2.31
* `node` version: 16.14.2
* `npm` version: 8.5.0

**Additional context**

Only place I've found with the exact same error is:

* https://sta

[2022-04-05 17:52] freakzlike commented on #1195
@frisch-raphael can you test this again with rc.19?

[2022-04-05 17:58] freakzlike commented on #1400
Maybe related to #695

[2022-04-06 01:10] catrope commented on #936
This is broken again in 2.0.0-rc.19, because #1180 added more broken imports, but #1184 was submitted before #1180 was merged.

[code]

[2022-04-06 12:51] leifmarcus opened #1402 "Bug: `isCustomElement` has no effect in jest tests"
**Describe the bug**
When running tests on components, that have custom elements I get constantly the following warning:

[code]

I use a `setupFilesAfterEnv` where I have the following override of the config:

[code]
All other properties of the app config are working as expected, only the `isCustomElement` function is not called at all.

**To Reproduce**
Use any project and include a custom eleme

[2022-04-06 13:02] cexbrayat commented on #1402
Hi @leifmarcus

I'm not sure these config options are doing something, to be honest.
@lmiller1990 are they used somewhere? Should we remove them?

Anyway, I think the proper way to configure Jest is to use the vue-jest options as documented here: https://github.com/vuejs/vue-jest#global-jest-options

Let me know if that helps.

[2022-04-06 13:11] #1400 closed

[2022-04-06 13:18] cexbrayat commented on #1253
If you try to force the dependency resolution (using yarn "resolutions" for example), and set jsdom to v19 and global-jsdom to v8, do you still reproduce the issue?

It may be worth opening an issue in the CLI rather than here, as I suspect we won't be able to help much if this is a dependency issue.

[2022-04-06 15:55] maerteijn commented on #1253
Ok, so after some fiddling around I can tell you more what causes the issue:

- In `2.0.0-rc.18`, the usage of `XMLSerializer` was introduced, see this PR: https://github.com/vuejs/test-utils/pull/1120.
   The `XMLSerializer` is initialized as following:
[code]
- JSDOM has a `XMLSerializer`, shipped with the `w3c-xmlserializer` package.
- `jsdom-global` doesn't [export `XMLSerializer` as a global

[2022-04-07 00:49] lmiller1990 commented on #1253
Wow, awesome bug hunt. Sounds like it only happens w/ certain versions. Rather than doc it, should we just add a try/catch and handle both cases, so users don't need to think too much about it?

[2022-04-07 01:16] lmiller1990 commented on #1402
I am not sure we are correctly forwarding them to the compiler in Test Utils. I am not sure Test Utils should be responsible for the compiler options - I think your comment to use the Vue Jest options makes the most sense.

[2022-04-07 08:27] maerteijn commented on #1253
I just noticed this in the source of the [cli-plugin-unit-mocha](https://github.com/vuejs/vue-cli/tree/master/packages/%40vue/cli-plugin-unit-mocha) package:

https://github.com/vuejs/vue-cli/blob/master/packages/%40vue/cli-plugin-unit-mocha/setup.js

There are already some similar workarounds added for missing globals like https://github.com/vuejs/core/pull/2943

As `jsdom-global` hasn't been upd

[2022-04-07 08:33] cexbrayat commented on #1253
@maerteijn I agree, I think the CLI is the best place to fix it, as it looks like this issue only occurs with this exact setup.

We can probably even transfer the issue there as it would make more sense?

[2022-04-07 08:44] maerteijn commented on #1253
@cexbrayat Yes I think so. It's not an issue with `test-utils` and your jest based test environment is working as it should.

[2022-04-07 08:49] qunbotop opened #1405 "How do I trigger custom events, props.onXX()"
The current situation is that instead of using `emit`, I am using `props.OnCrossOpen?.()` to trigger. I want to know how to write test cases.

The following code:
[code]
I know it is written in the `emit` way
[code]
What should I do if I use `props.onCrossOpen()` ? I need your help, Thank you very much!

[2022-04-07 12:22] RossOnDev opened #1407 "Bug: Testing Composition API written component library in Vue3 project"
**Describe the bug**

I've build a component libary like custom buttons, searchfield, etc. and I am building it as a common.js library. Everything works fine when I am building but when it comes to testing, my library components are not reactive.

In my vue app I am installing my library with `npm i [path]` and everything works fine when it comes to package installing. Inside my code I am importin

[2022-04-07 13:00] cexbrayat commented on #1402
@lmiller1990 I think we should remove this option: after a quick look, it looks like it's not used, so it's misleading to keep it. The compiler should be configured either via vue-jest or directly in vite for vitest I think.

I opened #1408 to remove the options.

In the meantime, I'm going to close the issue as `isCustomElement` should be set in vue-jest config.

[2022-04-08 01:19] lmiller1990 commented on #1253
Ok - closing this one off, since it's not a bug here and there's no action required (in VTU).

[2022-04-08 01:19] #1253 closed

[2022-04-08 11:28] RossOnDev commented on #1407
I tried to reproduce this issue in a new vue project and have now discovered that the problem could come from the Vue Cli. Because in my "real production code" I have the following code in my vue.config.js

[code]

 and I found out that if I remove this section I have the same behaviour as in my failed tests.

[2022-04-08 11:28] #1407 closed

[2022-04-08 14:24] freakzlike commented on #695
Closed, because of same issue as #1400

[2022-04-08 14:24] #695 closed

[2022-04-11 03:42] wukang0718 opened #1410 "Bug: emits aren't catch in prod mode"
**Describe the bug**

After setting the environment variable `NODE_ENV=production`, execute `yarn test:unit` until the emitted("foo") is undefined.
`example.spec.js`
[code]
result
![image](https://user-images.githubusercontent.com/42261663/162661489-c82e85b8-2a38-4cf7-8a3d-bb328f156d8f.png)

**To Reproduce**

**Expected behavior**

Emitted works normally.
**Related information:**
- `@vue/test-util

[2022-04-11 05:52] cexbrayat commented on #1410
@wukang0718 I think this is expected: some parts of VTU relies on the devtools, and devtools are disabled in prod mode by default.

Have you tried running this test with the devtools enabled (IIRC you need to set `__VUE_PROD_DEVTOOLS__` to `true`)?

[2022-04-11 06:37] wukang0718 commented on #1410
I set `__VUE_PROD_DEVTOOLS__` in vue.config.js to be `true`, but the result is still wrong.
[code]